<h3>We're trying to get to know you.</h3>

<p>Hi, I'm Andrew, a physicist-slash-bitcoiner-slash-engineer at Assembly.  I've been juggling vectors and
   shuffling mounds of paper, trying to find a way to better match people with products.
  I've come up with a beast of an algorithm which, I hope, can show you ways to help
  the products you care about.
</p>

<h4>Bounties that have a crush on you</h4>

<ul>
  <br>
  <% @bounties.each do |bounty| %>
  <li>
    <h4><a href="<%= product_wip_url(bounty.product, bounty) %>">
      <%= "#{bounty.title}  --  #{bounty.product.name}"  %>
    </a></h4>
  </li>
  <% if bounty.description %>
    <%= bounty.description[0, 150]%>
    <% if bounty.description.length > 150 %>
      <%= "..." %>
    <% end %>
  <% end %>
  <br><br>
  <% end %>

</ul>
<p>  If you think we're way off, reply to this email and let us know!
</p>
