<p>Hi, I'm Andrew, a software engineer at Assembly.  I've been juggling vectors and
  madly shuffling mounds of paper, trying to find a way to match people with products.
  I've come up with a beast of an algorithm which, I hope, can help you find the work
  you'll most enjoy doing.  Take a look at the ways you can help build compelling, new products.</p>

<h4>Bounties that have a crush on you</h4>

<ul>
  <br>
  <% @bounties.each do |bounty| %>
  <li>
    <h4><a href="<%= product_wip_url(bounty.product, bounty) %>">
      <%= "#{bounty.title}  --  #{bounty.product.name}"  %>
    </a></h4>
  </li>
  <% if bounty.description %>
    <%= bounty.description[0, 150]%>
    <% if bounty.description.length > 150 %>
      <%= "..." %>
    <% end %>
  <% end %>
  <br><br>
  <% end %>

</ul>
<p>These are just a few of the many open bounties available.  </p>

We're trying to get to know you!  If you think we're way off, reply to this email and let us know!
