<h2>Suggested Bounties</h2>


<p>We thought you might like these open bounties on Assembly.
 </p>


<ul>
  <br>
  <% @bounties.each do |bounty| %>
  <li>
    <h4><a href="<%= product_wip_url(bounty.product, bounty) %>">
      <%= "#{bounty.title}  --  #{bounty.product.name}"  %>
    </a></h4>
  </li>
  <% if bounty.description %>
    <%= bounty.description[0, 150]%>
    <% if bounty.description.length > 150 %>
      <%= "..." %>
    <% end %>
  <% end %>
  <br><br>
  <% end %>

</ul>
<p>These are just a few of the many open Bounties available.  </p>


We're trying to get to know you!  If you think we're way off, reply to this email and let us know!
