<% title 'Bounties Dashboard' %>
<%= render 'shared/navbar' %>
<%= render 'dashboard/navbar' %>

<div class="page page-flat">
  <div class="container">
    <%= render 'bounties/filtered' %>
  </div>
</div>

<%= render 'shared/footer' %>
