<table class="container" style="background:#fff;">
  <tbody>
    <tr>
      <td>
        <table class="row">
          <tbody>
            <tr>
              <td class="wrapper last">
                <table class="twelve columns">
                  <tbody>
                    <tr>
                      <td class="text-pad">

                        <div style="padding:24px 0">
                          <h1><%= @post.title %></h1>
                          <p class="small text-muted">Posted by @<%= @post.author.username %>.</p>
                      </div>

                          <%= product_markdown(@post.product, @post.body) %>

                      </td>
                      <td class="expander"></td>

                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
