<div class="timeline-item">
  <div class="media">
    <div class="pull-left">
      <div class="marker marker-blue">
        <span class="icon icon-document"></span>
      </div>
    </div>

    <div class="media-body">
      <div class="media-heading">
        {{#actor}}
          <a href="{{url}}">{{username}}</a>
        {{/actor}}
        submitted copy
      </div>

      {{#deliverable}}
        <div class="markdown-normalized text-copy">
          {{{body_html}}}
        </div>
      {{/deliverable}}

      {{#award_url}}
        <a class="event-award pull-right" href="{{award_url}}?event_id={{id}}" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
          <span class="glyphicon glyphicon-star"></span>
          Award {{#actor}}@{{username}}{{/actor}}
        </a>
      {{/award_url}}
    </div>
  </div>
</div>
