<div class="activity" id="{{anchor}}">

  <div class="pull-left">
    <div class="marker marker-blue">
      <span class="icon icon-document"></span>
    </div>
  </div>


  <div class="activity-body">

    <!-- ACTIONS -->
    <div class="activity-actions" style="margin-bottom: 8px;">

      <ul class="list-inline pull-right omega">
        <li>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdown-{{cid}}" data-toggle="dropdown">
              <i class="icon icon-ellipsis" style="font-size: 18px;"></i>
            </a>
            <ul class="dropdown-menu pull-right text-small" role="menu" aria-labelledby="dropdown-{{cid}}">

              {{#award_url}}
                <li>
                  <a class="event-award" href="{{award_url}}?event_id={{id}}" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
                    <i class="glyphicon glyphicon-star-empty dropdown-glyph"></i>
                    Award bounty to {{#actor}}@{{username}}{{/actor}}
                  </a>
                </li>

                <li>
                  <a class="event-award" href="{{award_url}}?event_id={{id}}&close=true" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
                    <i class="glyphicon glyphicon-star dropdown-glyph"></i>
                    Award bounty to {{#actor}}@{{username}}{{/actor}} and close it
                  </a>
                </li>
              {{/award_url}}

              {{#edit_url}}
                <li class="hidden">
                  <a href="{{edit_url}}">
                    <i class="icon-pencil dropdown-glyph"></i>
                    Edit comment
                  </a>
                </li>
              {{/edit_url}}

              {{#anchor}}
              <li>
                <a href="#{{anchor}}">
                  <i class="icon-link dropdown-glyph"></i>
                  Permalink
                </a>
              </li>
              {{/anchor}}
            </ul>
          </div>
        </li>
      </ul>

      <ul class="list-inline omega">
        <li>
          {{#actor}}
            <a href="{{url}}" title="@{{username}}">
              {{username}}
            </a> added a text snippet
          {{/actor}}
        </li>
        <li class="js-insert-tips">
        </li>
      </ul>

    </div>

    <!-- CONTENT -->
    <div class="activity-content">
      {{#deliverable}}
        <div class="markdown-normalized text-copy">
          {{{body_html}}}
        </div>
      {{/deliverable}}
    </div>
  </div>
</div>

<img class="hidden" src="{{readraptor_tracking_url}}" width="0" height="0">
