<%= form_for @milestone.wip, url: product_milestone_images_path(@milestone.product, @milestone.wip) do |f| %>
  <div class="panel-body js-dropzone" data-view="milestone-upload">
    <div class="dropzone-inner">
      Drag &amp; drop file here or <a class="js-select-files" href="#">select it from your computer</a>.
    </div>
  </div>

  <input type="hidden" name="wip[milestone_images_attributes][][attachment_id]" class="js-attachment-id">
<% end %>

<script type="text/javascript">
  $(function(){
    new UploadView({
      attachmentUploadUrl: '<%= "https://s3.amazonaws.com/#{ENV['ATTACHMENT_BUCKET']}" %>',
      el: $('[data-view=milestone-upload]'),
      onUpload: function(attachment){
        $('.js-attachment-id').val(attachment.id).parents('form:first').submit()
      }
    });
  });
</script>
