<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">Creating a compelling project</h6>
  </div>
  <div class="panel-body small">
    After creating projects for Assembly itself, we found that creating a clear, concise directive containing an aim, questions needing consensus, and any personal thoughts and sketches to be most effective.
  </div>
</div>
