<div class="sidebar-module">
  <div class="sidebar-module-heading">
    Creating a compelling project
  </div>
  <p>
    After creating projects for Assembly itself, we found that creating a clear, concise directive containing
    an aim, questions needing consensus, and any personal thoughts and sketches to be most effective.
  </p>
</div>
