<div class="media" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>
  <div class="pull-left">
    <div class="marker marker-blip">
      <!-- <i class="icon icon-speech-bubble"></i> -->
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading omega">

      {{#actor}}
        <a href="{{url}}" title="@{{username}}">@{{username}}</a>
      {{/actor}}

      started working on

      {{#target}}
      <a class="long-link" href="{{url}}{{#subject}}#{{anchor}}{{/subject}}">
        {{title}} #{{number}}
      </a>
      {{/target}}
    </div>
  </div>
</div>
