<div class="activity" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>

  <div class="pull-left">
    {{#actor}}
      <a href="{{url}}" title="@{{username}}">
        <img class="media-object img-circle" src="{{avatar_url}}" alt="@{{username}}" width="30" height="30">
      </a>
    {{/actor}}
  </div>

  {{#subject}}
    <div class="activity-body">

      <div class="activity-actions text-link-bold">
        {{#actor}}
          <a href="{{url}}" title="@{{username}}">
            @{{username}}
          </a>
        {{/actor}}

        {{#id}}
          <ul class="list-inline pull-right omega">
            <li>
              <div class="js-tips"
                   data-tips-total="{{total_tips}}"
                   data-tips-path="{{tip_path}}"
                   data-tips-product-id="{{product_id}}"></div>
            </li>

            <li>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdown-{{cid}}" data-toggle="dropdown">
                  <span class="icon icon-ellipsis"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-{{cid}}" style="position: absolute; left: -150px;">

                  {{#edit_url}}
                    <li role="presentation">
                      <a href="{{edit_url}}" role="menuitem">
                        <span class="glyphicon glyphicon-pencil dropdown-glyph"></span>
                        <span>Edit comment</span>
                      </a>
                    </li>
                  {{/edit_url}}

                  {{#anchor}}
                    <li role="presentation">
                      <a href="#{{anchor}}" role="menuitem">
                        <span class="glyphicon glyphicon-link dropdown-glyph"></span>
                        <span>Permalink</span>
                      </a>
                    </li>
                  {{/anchor}}

                  <li role="presentation">
                    <a href="#{{anchor}}" class="js-chat-create-wip" role="menuitem">
                      <span class="glyphicon glyphicon-plus dropdown-glyph"></span>
                      <span>Create bounty</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        {{/id}}
      </div>

      <div class="activity-content markdown-normalized">
        {{{body_html}}}
      </div>
    </div>
  {{/subject}}
</div>
