<div class="activity activity-chat chat-entry" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>

  <div class="pull-left activity-avatar">
    <img class="avatar" src="https://gravatar.com/avatar/e1b4a9a10a70871bfc9ba47490ddf70c?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=48" width="24" height="24">
  </div>

  <div class="activity-body">
    <div class="activity-actions">
      <a class="chat-actor">kernel</a>
    </div>
    <div class="markdown markdown-normalized">

      {{#actor}}
        <a href="{{url}}" title="@{{username}}">{{username}}</a>
      {{/actor}}

      commented on

      {{#target}}
      <a class="long-link" href="{{url}}{{#subject}}#{{anchor}}{{/subject}}">
        {{title}} (#{{number}})
      </a>
      {{/target}}
    </div>
  </div>
</div>
