<div class="media">

  <div class="pull-left">
    <div class="marker green border-green">
      <i class="icon-user-following"></i>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading mb0">
      <div class="activity-body">
        <div class="activity-actions">
          <ul class="list-inline mb0">
            <li class="gray-2">
              {{#actor}}
                <a href="{{url}}">{{username}}</a>
              {{/actor}}
              joined the
              {{#target}}
                <a target="_blank" href="{{url}}/core">{{#target}}{{name}}{{/target}}</a>
              {{/target}}
              core team
            </li>
            {{#id}}
              <li class="js-insert-tips">
              </li>
            {{/id}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
