<div class="media">

  <div class="pull-left">
    <div class="marker marker-blue">
      <span class="glyphicon glyphicon-flash"></span>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading omega">
      <div class="activity-body">
        <div class="activity-actions">
          <ul class="list-inline omega">
            <li class="gray-2">
              {{#actor}}
                <a href="{{url}}">{{username}}</a>
              {{/actor}}
              founded
              {{#subject}}
                <a target="_blank" href="{{url}}">{{#subject}}{{name}}{{/subject}}</a>
              {{/subject}}
            </li>
            {{#id}}
              <li class="js-insert-tips">
              </li>
            {{/id}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
