<div class="media" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>
  <div class="pull-left">
    <div class="marker marker-green">
      <i class="icon icon-user-following" style="font-size: 12px;"></i>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading mb0">
      <div class="activity-body">
        <div class="activity-actions">
          <ul class="list-inline mb0">
            <li class="gray-2">
              {{#actor}}
                <a href="{{url}}" title="@{{username}}">
                  @{{username}}
                </a>
                joined the team
              {{/actor}}
            </li>
          </ul>
        </div>
        {{#subject}}{{#bio}}
          <div class="deprecated-card mb0" style="margin-top: 6px; text-align: left; font-size: 16px; padding: 12px 20px; color: #595959;">
            {{bio}}
          </div>
        {{/bio}}{{/subject}}
      </div>

    </div>
  </div>
</div>
