<div class="activity activity-chat chat-entry" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>

  <div class="pull-left activity-avatar">
    {{#actor}}
      <img class="avatar" src="{{avatar_url}}" width="24" height="24">
    {{/actor}}
  </div>

  <div class="activity-body">
    <div class="activity-actions">
      {{#actor}}
        <a class="chat-actor">{{username}}</a>
      {{/actor}}
    </div>
    <div class="italic gray-2">
      joined channel
    </div>
  </div>
</div>
