<div class="media" {{#target}}id="{{anchor}}"{{/target}}>
  <div class="pull-left">
    <div class="marker marker-default">
      <i class="icon icon-arrow-right"></i>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading omega">

      {{#actor}}
        <a href="{{url}}" title="@{{username}}">@{{username}}</a>
      {{/actor}}

      joined
    </div>
  </div>
</div>
