<div class="media">

  <div class="pull-left">
    <div class="marker blue border-blue">
      <span class="glyphicon glyphicon-flash"></span>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading mb0">
      <div class="activity-body">
        <div class="activity-actions">
          <ul class="list-inline mb0">
            <li class="gray-2">
              {{#actor}}
                <a href="{{url}}">{{username}}</a>
              {{/actor}}
              launched
              {{#subject}}
                <a target="_blank" href="{{url}}">{{#subject}}{{name}}{{/subject}}</a>
              {{/subject}}
            </li>
            {{#id}}
              <li class="js-insert-tips">
              </li>
            {{/id}}
          </ul>

          {{#subject}}
            <div class="deprecated-card mb0" style="margin-top: 6px; text-align: left; font-size: 14px; padding: 8px 10px;">
              {{pitch}}
            </div>
          {{/subject}}

        </div>
      </div>
    </div>
  </div>
</div>
