<div class="media" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>
  <div class="pull-left">
    <div class="marker icon marker-default icon-plus">
      <span class="icon icon-right-chevron"></span>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading omega">

      {{#actor}}
        <a href="{{url}}" title="@{{username}}">@{{username}}</a>
      {{/actor}}

      started

      {{#subject}}
      <a class="long-link" href="{{url}}{{#subject}}{{/subject}}">
        {{title}}
      </a>
      <a class="text-muted" href="{{url}}{{#subject}}{{/subject}}">
        #{{number}}
      </a>
      {{/subject}}
    </div>
  </div>
</div>
