<div class="media" {{#subject}}id="{{anchor}}" data-readraptor-track="{{readraptor_track_id}}"{{/subject}}>
  <div class="pull-left">
    <div class="marker marker-default">
      <i class="icon icon-plus"></i>
    </div>
  </div>

  <div class="media-body">
    <div class="media-heading omega">

      {{#actor}}
        <a href="{{url}}" title="@{{username}}">@{{username}}</a>
      {{/actor}}

      added a bounty for

      {{#subject}}
      <a class="long-link" href="{{url}}{{#subject}}{{/subject}}">
        {{title}}
      </a>
      <a class="text-muted" href="{{url}}{{#subject}}{{/subject}}">
        #{{number}}
      </a>
      {{/subject}}
    </div>
  </div>
</div>
