<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="createTask">Create a task</h3>
    </div>
    <div class="modal-body">
      <form accept-charset="UTF-8" action="{{action}}/wips" class="new_task" id="new_task" name="task[title]" type="text" method="post">
        <input name="authenticity_token" type="hidden" value="{{token}}"></input>
        <div class="form-group">
          <label class="form-label" for="task_title">Title</label>
          <input autofocus="autofocus" value="{{title}}" class="form-control" data-validate-length="2" id="task_title" name="task[title]" type="text">
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" name="button" type="submit">Create task</button>
        </div>
      </form>
    </div>
  </div>
</div>
