<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="createTask">Create a bounty</h3>
    </div>
    <form accept-charset="UTF-8" action="{{action}}/bounties" class="new_task" id="new_task" name="task[title]" type="text" method="post">
      <div class="modal-body">
        <div style="display:none;">
          <input name="authenticity_token" type="hidden" value="{{token}}">
          <select type="hidden" id="tag-list-hack" name="task[tag_list][]" multiple="true"></select>
        </div>

        <div class="form-group">
          <label class="form-label" for="task_title">Title</label>
          <input autofocus="autofocus" value="{{title}}" class="form-control" data-validate-length="2" id="task_title" name="task[title]" type="text">
        </div>

        <div class="form-group">
          <label class="control-label" for="task_description">
            Details
            <span class="text-muted" style="font-weight: 400;">(optional)</span>
          </label>
          <div class="markdown-editor-control js-markdown-editor dropzone js-dropzone">
            <textarea id="description" name="description" class="form-control" rows="4" style="height: 176px;"></textarea>
            <div class="dropzone-inner js-dropzone-select">
              To attach files drag &amp; drop here or <a href="#">select files
              from your computer</a>...
            </div>
          </div>
        </div>
        <h6 style="margin-bottom: 0;">Tags</h6>
        <div style="margin-bottom: 10px" id="selected-tags"></div>

        <div id="new-tags"></div>

        <h6 style="margin-bottom: 0; margin-top: 20px;">Suggested tags</h6>
        <div id="suggested-tags"></div>
      </div>
      <div class="modal-footer form-actions">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" name="button" type="submit">Create bounty</button>
      </div>
    </form>
  </div>
</div>
