// Full reference
// https://github.com/AdamWhitcroft/Batch/blob/master/Webfont/batch_webfont_reference.pdf

@mixin icon($name, $char) {
  .icon-#{$name}:before {
    content: "\0#{$char}";
  }
}

.icon {
  @include inline-block;
  font-family: $batch;
  font-size: inherit;
  line-height: 1;

  // Enables quick hacks
  &:before {
    content: attr(data-icon);
  }

  &.small {
    font-size: 1.6rem;
  }

  &.medium {
    font-size: 3.2rem;
  }

  &.large {
    font-size: 6.4rem;
  }
}

.icon-btn {
  color: $gray;

  &:hover {
    color: $blue;
  }
}

// These names are taken from
// https://github.com/AdamWhitcroft/Batch/tree/master/SVG

@include icon(arrow-up, 'F148');
@include icon(bell-on, 'F132');
@include icon(bell-off, 'F134');
@include icon(compose, 'F13E');
@include icon(credit-card, 'F105');
@include icon(delete, 'F14E');
@include icon(eye, 'F178');
@include icon(floppy, 'F059');
@include icon(home, 'F162');
@include icon(options, 'F159');
@include icon(pencil, 'F139');
@include icon(pinned, 'F0AC');
@include icon(plus, 'F14C');
@include icon(search, 'F097');
@include icon(star, 'F15D');
@include icon(store, 'F100');
@include icon(tag, 'F0AB');
@include icon(thing-down, 'F02C');
@include icon(thing-up, 'F02D');
@include icon(tick, 'F164');
@include icon(user-add, 'F171');
