html {
  font-size: 62.5%;
}

body {
  @include prefixer(hyphens, none, webkit moz ms o spec);
  font-family: $solitaire-family;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: $blue-light;
}

// Body text
//
// Styleguide Typography - Body Text

p {
  margin-top: 0;
  margin-bottom: 2;
}

// All HTML headings, <h1> through <h6> are available.
//
// Styleguide Typography - Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  @include font-family-light();
  margin-top: $line-height * 2;
  margin-bottom: $line-height;
}

h4,
h5,
h6 {
  @include font-family-semibold();
  margin-top: $line-height / 2;
  margin-bottom: $line-height / 2;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  color: $gray;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

ol,
ul {
  margin-bottom: 2;
}

ul,
ol {
  margin-top: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
