log
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/tmp

/.env

/.rspec
Procfile.dev

.sass-cache
.DS_Store

db/*.dump
dump.rdb

/.ruby-version

# Dragonfly
public/system

node_modules
npm-debug.log
app/assets/javascripts/components.js
app/assets/javascripts/.components.js
