log
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/tmp

/.env

/.rspec
coverage
Procfile.dev

.sass-cache
.DS_Store

db/*.dump
dump.rdb
config/database.yml

/.ruby-version

logfile

# Dragonfly
public/system

node_modules
npm-debug.*
app/assets/javascripts/components.js
app/assets/javascripts/.components.js

.vagrant
vagrant.yml
vagrant/cache
vagrant/meta-box/output-virtualbox-iso/
vagrant/meta-box/packer_cache/
vagrant/meta-box/*.box

shutdown.*
