<% title "Ideas" %>
<%= track 'ideas_page.viewed' %>

<% activate_nav! :ideas %>
<% activate_nav! (params[:sort] || 'trending').to_sym %>
<% activate_nav! (params[:filter] || '').to_sym %>

<%= render 'shared/navbar' %>

<%= react_component 'Ideas' %>

</div>
