<% title "Ideas" %>
<% provide(:description, "") %>

<%= track 'ideas_page.viewed' %>

<%= render 'shared/navbar' %>
<% activate_nav! :ideas %>

<!--

Front-end Process / CSS Architecture:

- All features / functionality start out as a base component with a set of base styles.
- There is one SCSS file per component.
- All unique modifications are made in an isolated section of that same SCSS file. (Not inline or in a jsx file).
- Use semantic naming conventions when defining uniques (page prefix, logical grouping, etc).

example:

<section class="hero ideas-hero">
  <div class="hero-main">
    <h1>stuff</h1>
    <button class="pill-button theme-green shadow">
      Heya
    </button>
  </div>
</section>

-->

<!--
reusable components
  local nav
  button
  search (type 2)
  tiles
  action bar
  pagination
-->

<main role="main">
  <section class="_hero hero-ideas"> <!-- .hero namespace is being used by legacy code. I'll re-factor old stuff & update the name of this component. -->
    <div class="container">
      <div class="header">
        <img src="../assets/ideas/ideas-header-morse.png">
      </div>
      <div class="main">
        <h1>
          The best product ideas - built by all&nbsp;of&nbsp;us.
        </h1>
        <button type="button" class="_button pill theme-green shadow text-shadow border">  <!-- namespace, same as above -->
          <span class="title">Add your product idea</span>
        </button>
      </div>
      <div class="footer">
        <p>
          Get feedback on your ideas, as they gain momentum and popularity we'll greenlight the idea - ready to be built on Assembly.
        </p>
        <div class="text-3">
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="tile-grid tile-grid-ideas">
    <div class="container">
      <div class="header">
        <nav class="tile-grid-nav">
          <div class="item">
            <ul class="nav nav-pills">
              <li>
                <a href="#">All Ideas</a>
              </li>
              <li>
                <a href="#">My Ideas</a>
              </li>
              <li>
                <a href="#">Trending</a>
              </li>
              <li>
                <a href="#">Popular</a>
              </li>
              <li>
                <a href="#">New</a>
              </li>
              <li>
                <a href="#">Greenlit</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  Topics <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="item">
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Ideas">
              </div>
            </form>
          </div>
        </nav>
      </div>
      <div class="main">
        <div class="grid fixed-small">
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-green"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="80"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-blue"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    #TBT: Every Thursday SMS me an old photo
                  </div>
                  <div class="content">
                    <p>
                      If it's popular, we could offer users a free ad-supported version or a paid ad-free version.
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/07af31f83a0d4ef6bd360bd14704408d?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>Pletcher</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="30"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-red"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="60"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="float-row">
            <a href="#" class="float-item">
              <div class="h7">Top Trending</div>
              Design Ideas
            </a>
            <a href="#" class="float-item">
              <div class="h7">Top Trending</div>
              Mobile Product Ideas
            </a>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-blue"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    #TBT: Every Thursday SMS me an old photo
                  </div>
                  <div class="content">
                    <p>
                      If it's popular, we could offer users a free ad-supported version or a paid ad-free version.
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/07af31f83a0d4ef6bd360bd14704408d?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>Pletcher</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="30"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-red"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="60"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-green"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="80"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-green"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="80"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-blue"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    #TBT: Every Thursday SMS me an old photo
                  </div>
                  <div class="content">
                    <p>
                      If it's popular, we could offer users a free ad-supported version or a paid ad-free version.
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/07af31f83a0d4ef6bd360bd14704408d?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>Pletcher</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="30"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-red"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="60"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="float-row">
            <a href="#" class="float-item">
              <div class="h7">Top Trending</div>
              Design Ideas
            </a>
            <a href="#" class="float-item">
              <div class="h7">Top Trending</div>
              Mobile Product Ideas
            </a>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-green"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="80"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-blue"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    #TBT: Every Thursday SMS me an old photo
                  </div>
                  <div class="content">
                    <p>
                      If it's popular, we could offer users a free ad-supported version or a paid ad-free version.
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/07af31f83a0d4ef6bd360bd14704408d?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>Pletcher</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="30"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="tile tile-small">
              <div class="corner accent-red"></div>
              <div class="main">
                <a href="#">
                  <div class="xh4"> <!-- temp h4 due to bug: https://assembly.com/meta/bounties/1043 -->
                    Sell digital products from your cloud storage account
                  </div>
                  <div class="content">
                    <p>
                      People are increasingly creating digital content, and there is no easy way to sell this content. The idea is to create a web platform where sellers can authenticate with their cloud storage accounts...
                    </p>
                  </div>
                </a>
              </div>
              <div class="footer">
                <div class="action-bar">
                  <div class="item">
                    <div class="details-group">
                      <a class="ident" href="#">
                        <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&amp;s=36" />
                        <span>You</span>
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="action-group">
                      <div class="item">
                        <a href="#" class="comment-count">
                          <span>
                            <Icon icon="comment" />
                          </span>
                          24 Comments
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/p4cUn3W.png">
                        </a>
                      </div>
                      <div class="item">
                        <a href="#" class="action-icon">
                          <img src="http://i.imgur.com/Hilon4j.png">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="progress-group">
                      <div class="item">
                        <progress max="100" value="60"></progress>
                      </div>
                      <div class="item">
                        <div class="progress-count">
                          <!-- 33 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer"> <!-- bootstrap base prob wont worrrk w/ design, rethinking -->
        <nav>
          <ul class="pagination">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</main>

<%= render 'shared/footer' %>

<% parent_layout 'application' %>

<% content_for :javascript do %>
<script>
  function($) {
     // var $body = $('body'),
  })(jQuery);
</script>
<% end %>