@mixin font-black() {
  font-family: $solitaire-family;
  font-weight: 800;
  font-style:  normal;
}

@mixin font-book() {
  font-family: $solitaire-family;
  font-weight: normal;
}

@mixin font-light () {
  font-family: $solitaire-family;
  font-weight: 200;
  font-style:  normal;
}

@mixin font-semibold() {
  font-family: $solitaire-family;
  font-weight: 600;
  font-style:  normal;
}


// Legacy

@mixin font-family-black() {
  @include font-black();
}

@mixin font-family-book() {
  @include font-book();
}

@mixin font-family-light() {
  @include font-light();
}

@mixin font-family-semibold() {
  @include font-semibold();
}
