<form action="<%= api_chat_room_comments_path(@chat_room) %>">
  <div class="js-new-event">

    <% if !signed_in? %>
      <div class="media-body" id="comment">
        <div class="js-markdown-editor js-dropzone">
          <%= text_area_tag 'event_comment[body]', nil, class: 'form-control', rows: 1, placeholder: "Introduce yourself, we'd love to hear from you", disabled: true %>
        </div>
        <div><div data-react-class="ChatTypingLabel"></div>
      </div>
    <% else %>
      <div data-react-class="ChatInput" data-react-props="<%= {
        username: current_user.username,
        room: "chat.#{@chat_room.id}",
        url: api_chat_room_comments_path(@chat_room),
        message: params[:message]
      }.to_json %>"></div>
    </div>
    <% end %>
  </div>
</form>

<% unless signed_in? %>
  <% content_for :javascript do %>
    <script>
      $('#new-comment-form').popover({
        html: true,
        content: 'Before you can introduce yourself, you need to <a href="/signup">sign up</a>.',
        trigger: 'click',
        title: 'Welcome to the chat',
        placement: 'top'
      });
      $('#new-comment-form').popover('show');
    </script>
  <% end %>
<% end %>
