<form action="<%= api_chat_room_comments_path(@chat_room) %>">
  <div class="media alpha js-new-event">
    <div class="pull-left" style="position: relative; top: 4px;">
      <%= avatar_tag(current_user, 30) %>
    </div>

    <div class="media-body" id="comment">
      <div class="js-markdown-editor js-dropzone">
      <% if signed_in? %>
        <%= text_area_tag 'event_comment[body]', params[:message], class: 'form-control', rows: 1 %>
      <% else %>
        <%= text_area_tag 'event_comment[body]', nil, class: 'form-control', rows: 1, placeholder: "Introduce yourself, we'd love to hear from you", disabled: true %>
      <% end %>
      </div>
    </div>
  </div>
</form>

<% unless signed_in? %>
  <script>
    $('#new-comment-form').popover({
      html: true,
      content: 'Before you can introduce yourself, you need to <a href="/signup">sign up</a>.',
      trigger: 'click',
      title: 'Welcome to the chat',
      placement: 'top'
    });
    $('#new-comment-form').popover('show');
  </script>
<% end %>
