<div class="card">
  <div class="card-body">
    <h2 class="alpha omega"><%= discussion.title %></h2>
  </div>
  <div class="card-footer">
    <ul class="list-piped omega pull-left">
      <li>
        Started by
        <a href="<%= user_path(discussion.user) %>">@<%= discussion.user.username %></a>
      </li>
    </ul>

    <ul class="list-piped omega pull-right">
      <% if can?(:update, discussion) && discussion.open? %>
        <li>
          <a href="<%= close_product_discussion_path(discussion.product, discussion) %>" data-method="patch" data-confirm="Are you sure you want to close this discussion?">Close</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
