<div class="page-header">
  <ul class="text-small list-piped pull-right">
    <li>
      <% if can?(:update, @wip) && @wip.open? %>
        <a style="position: relative; top: 8px;" class="link-hover-danger" href="<%= close_product_discussion_path(@wip.product, @wip) %>" data-method="patch" data-confirm="Are you sure you want to close this discussion?" data-toggle="tooltip" data-placement="top" title="Close Discussion">
          <i class="icon-close" style="margin-right: 2px;"></i> Close
        </a>
      <% end %>
    </li>
  </ul>

  <h2 class="page-header-title"><%= @wip.title %></h2>
</div>
