<% if @wip.main_thread? && @wip.product.for_profit? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">New here?</h6>
    </div>
    <div class="panel-body small">
      This is a great time to briefly introduce yourself, skills you'd like to contribute, and what you'd like to get out of <%= @wip.product.name %> (eg. experience, profit sharing, etc.)
    </div>
  </div>
<% end %>
