<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default text-serif">
                <p>Hi <%= @user.username %>,</p>

                <p>I saw you joined the <a href="<%= product_people_url(@product) %>"><%= @product.name %> team</a>, but haven't tackled a bounty yet. Anybody can get involved with a product but I understand that it can be difficult to get that first bounty.</p>

                <p>Here are some tips that have helped other people like yourself:
                  <ol>
                    <li>Read the <a href="https://guides.github.com/">GitHub Guides</a>. If you're not familiar with GitHub they're the best place to get started.</li>
                    <li>Join me and the other Assembly staff members in the Assembly <a href="<%= chat_room_url('general')%>">Community Chat</a>. We may not know the details of a product, but more often than not can use our experience to tackle any issues you're having.
                    If you had any other questions, feel free to ask me personally and I'll do my best to help out.</li>
                  </ol>
                </p>

                <p>Cheers,</p>

                <p>Austin</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
