<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default text-serif">
                <img src="https://d1015h9unskp4y.cloudfront.net/attachments/72cac960-bc14-4258-8404-667007e54a04/email-hero-alt.jpeg">
                <p>Hi <%= @user.short_name %>,</p>

                <p>Welcome to Assembly, the open platform for crowd-<em>founding</em> software products. Our mission is simple: enable talented people around the world build great software products, together.</p>
                <img src="https://d1015h9unskp4y.cloudfront.net/attachments/c469e4ee-5d1e-418e-bf11-158f6bfa704a/Screen Shot 2014-06-09 at 1.08.20 PM.png" align="left">
                <h5>Hop in and build something</h5>

                <p>By trade, we may be developers, designers, writers, and marketers. But at heart, we’re makers. Assembly is where we band together and build.</p>

                <p>If you want to challenge yourself, learn alongside peers, and make a meaningful contribution to a project you believe in, Assembly is for you. We're a community that crafts impactful and profitable software products, together.</p>



                <h5>Don't be shy!</h5>

                <p>Hop into a discussion and introduce yourself. The Assembly community is friendly and welcoming, we promise. Share what you’re interested in – chances are someone will be looking for just the skills you have.</p>



                <a href="http://assembly.com/getting-started"><img src="https://d8izdk6bl4gbi.cloudfront.net/frame_0/https://d1015h9unskp4y.cloudfront.net/attachments/c5cd0c10-5319-47d1-8a29-80c7e5370a7d/getting-started-button@2x.png" alt="Check out the Assembly Field Guide"></a>

                <h5>Need anything else?</h5>

                  Dig through <a href="https://assembly.com/help/basics">our FAQ</a><br>
                  Say hello in our <a href="<%= chat_room_url('general') %>">public chat room</a></p>

                  <p>Or, just reply to this email. We’d love to help.</p>


                <p>P.S. Don't forget to <a href="https://twitter.com/asm">follow @asm on Twitter</a> to stay up to date with the latest news.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
