<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default text-serif">
                <p>Hi <%= @user.short_name %>,</p>

                <p>Welcome to Assembly, the open platform for crowd-founding software products. Our mission is simple: enable the best people around the world to collaborate together to build great software products.</p>

                <p>All ideas are crowd-sourced, development is open and collaborative, profits are split, and everything is completely transparent.</p>

                <h5>Getting Started</h5>

                <p>
                  <a href="<%= discover_url %>">Find a product</a> to jump in on and help. Your contributions will earn you App Coins, making you a partner on the product and entitling you to a share of its ongoing monthly revenue. You can work on any of the products, they all want your help; from logos, wireframes, coding new features, fixing bugs, writing copy, and countless other ways to move the product forward. Feel free to even add your own tasks if you have a better idea.
                </p>

                <p>
                  Have questions or comments? Check out our  <%= link_to 'FAQ', faq_path %> or just reply to this email.
                </p>

                <p>Matt and the team at Assembly</p>

                <p>P.S. Don't forget to <a href="https://twitter.com/asm">follow @asm on Twitter</a> to stay up to date with the latest news.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
