<div class="timeline-item timeline-highlight" id="{{anchor}}">
  <div class="media hover-toggle-wrapper">

    <div class="pull-left">
      {{#actor}}
        <a href="{{url}}" title="{{username}}">
          <img class="media-object img-circle" src="{{avatar_url}}" alt="@{{username}}" width="30" height="30">
        </a>
      {{/actor}}
    </div>

    <div class="media-body">
      <div class="media-heading">

        <div class="pull-right hover-toggle-target">
          <ul class="list-piped omega">
            {{#award_url}}
              <li class="text-success">
                <a href="{{award_url}}" data-method="patch">
                  Award {{#actor}}@{{username}}{{/actor}}
                </a>
              </li>
            {{/award_url}}
            {{#edit_url}}
              <li>
                <a href="{{edit_url}}">Edit</a>
              </li>
            {{/edit_url}}
            <li>
              <a href="#{{anchor}}" title="Permalink">
                <span class="glyphicon glyphicon-link"></span>
              </a>
            </li>
          </ul>

          <!-- Award buttons -->
        </div>

        {{#actor}}
          <a href="{{url}}" title="@{{username}}">{{username}}</a>
          wrote:
        {{/actor}}
      </div>

      <div class="markdown-normalized">{{{body_html}}}</div>

    </div>

  </div>

  <img class="hidden" src="{{readraptor_tracking_url}}" width="0" height="0">
</div>
