<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= @karma_history_chart_data.to_json.html_safe %>

        );

        var options = {
          title: 'Karma Produced Per Day'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1400px; height: 1000px;"></div>


    <%= @karma_history_chart_data.to_json.html_safe %>
  </body>
</html>
