.hero {
  margin-top: -60px;
  background: linear-gradient(to bottom, transparent 0%, transparent 75%, white 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: 100%;
  min-height: 790px;
  padding-top: 80px;

  h1 {
    @extend .text-serif;
    font-size: 40px;
    margin-bottom: 45px;
    font-weight: bold;

    &:after {
      content: '';
      display: block;
      width: 25%;
      height: 3px;
      background-color: rgba($gray-darker, 0.2);
      margin: 0 auto;
      margin-top: 21px;
      border-radius: 1.5px;
    }
  }

  .lead {
    font-size: 24px;
  }
}

.color-block {
  padding: 30px 0;
  border-bottom: 1px solid $brand-divider;
}

.color-block-getting-started {
  background: #e1dfdc;
  color: #606568;
  border: none;

  .lead {
    @extend .text-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.714;
  }
}

.markdown-normalized {
  p {
    font-size: 18px;
  }
}
