.hero {
  // Offset .page top padding
  margin-top: -60px;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, #D0A98D 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  color: #4A646F;

  h1 {
    @extend .text-serif;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: bold;
    color: #353439;

    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 2px;
      background-color: #C7CFD4;
      margin: 0 auto;
      margin-top: 28px;
      border-radius: 1.5px;
    }
  }

  h6 {
    font-size: 15px;
    letter-spacing: 0.8pt;
    margin: 0;
    margin-bottom: 5px;
    color: #BC9454;
  }

  .lead {
    color: inherit;
    padding: 0 50px;
  }
}

.lead {
  font-size: 23px;
  font-weight: normal;
  color: white;
}

.section,
.sidebar {
  // @extend .text-serif;
  line-height: 1.618;
  color: #4A646F;

  a {
    color: #68A565;
  }
}

.section {
  // padding: 0 36px;
  line-height: 1.764;
  margin-bottom: 36px;
  @extend .text-serif;

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: lighten(#4A646F, 62%);
  }

  .table {
    .icon-app-coin {
      opacity: 0.33;
      font-size: 14px;
      top: -1px;
      position: relative;
    }
  }

  h4 {
    @extend .text-sans;
    font-weight: bold;
    font-size: 21px;
    // font-size: 15px;
    // text-transform: uppercase;
    // letter-spacing: 0.8pt;
    margin-bottom: $line-height-computed * 1;
    color: #BC9454;
  }
}

.sidebar {
  font-size: 14px;
  border-left: 1px solid $brand-divider;
  padding-left: 30px;

  h5 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8pt;
    color: #BC9454;
    color: #68A565;
    color: #CBCBBC;
  }
}

.getting-started {
  padding: 0 0 48px 0;
  background: #D0A98D;
  border: none;
  margin-bottom: 60px;
}
