$hero-primary: desaturate(#b57f59, 25%);
$text-copy: #4A646F;
$text-accent: #BC9454;
$text-link: #68A565;
$text-muted: #CBCBBC;

.hero {
  // Offset .page top padding
  margin-top: -60px;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, $hero-primary 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  color: $text-copy;

  h1 {
    @extend .text-serif;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: bold;
    color: #353439;

    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 2px;
      background-color: $text-muted;
      margin: 0 auto;
      margin-top: 28px;
      border-radius: 1.5px;
    }
  }

  h6 {
    font-size: 15px;
    letter-spacing: 0.8pt;
    margin: 0;
    margin-bottom: 5px;
    color: $text-accent;
  }

  .lead {
    color: inherit;
    padding: 0 50px;
  }
}

.lead {
  font-size: 23px;
  font-weight: normal;
  color: white;
}

.section,
.sidebar {
  // @extend .text-serif;
  line-height: 1.618;
  color: $text-copy;

  a {
    color: $text-link;
  }
}

.section {
  line-height: 1.764;
  line-height: 1.618;
  margin-bottom: 36px;
  @extend .text-serif;

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: lighten($text-copy, 62%);
  }

  .table {
    @extend .text-sans;

    .icon-app-coin {
      opacity: 0.33;
      font-size: 14px;
      top: -1px;
      position: relative;
    }
  }

  figure {
    font-size: 14px;
    font-style: italic;
    color: $text-muted;
  }

  h4 {
    @extend .text-sans;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: $line-height-computed * 1;
    color: $text-accent;
  }
}

.sidebar {
  font-size: 14px;
  border-left: 1px solid $brand-divider;
  padding-left: 30px;

  h5 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8pt;
    color: $text-muted;
  }
}

.getting-started {
  padding: 16px 0 36px 0;
  background: $hero-primary;
  border: none;
  margin-bottom: 60px;
}
