<% if facets.any? %>
  <div class="panel panel-default">
    <div class="panel-heading"><h6 class="panel-title">State</h6></div>
    <ul class="nav nav-pills nav-stacked">
      <% facets.each do |facet| %>
        <li class="small <%= 'active' if params[:state] == facet.slug %>">
          <a href="<%= polymorphic_path([@product, :search], @filters.merge(state: facet.slug)) %>">
            <span class="badge badge-subtle pull-right"><%= facet.count %></span>
            <%= facet.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
