<div class="panel panel-default">
  <ul class="nav nav-pills nav-stacked">
    <li class="small active">
      <a href="<%= search_path(q: params[:q]) %>">
        <span class="badge pull-right"><%= @search.total %></span>
        Products
      </a>
    </li>
  </ul>
</div>
