<% title 'Contracts', @product.name %>
<% activate_nav! :people %>
<% activate_nav! :people_contracts %>

<%= render 'people/nav' %>

<% if current_user.is_staff? %>
  <div class="sheet-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <%= react_component(
        'Contracts',
        #activeContracts: VestingSerializer.new(@active_contracts),
        proposals: @product.proposals,
        activeTipContracts: @activeTipContracts,
        closedTipContracts: @closedTipContracts
        )
        #closedContracts: VestingSerializer.new(@closed_contracts))
        %>
      </div>
    </div>
  </div>
<% end %>
