<hr style="margin-bottom: 5px; margin-top: 15px;">

<div style="margin-top: 10px; margin-bottom: 0px;">
  <p style="margin-bottom: 5px;"><strong>Assign this bounty to:</strong></p>
  <form role="form" class="form-inline" method="post" action="<%= product_wip_start_work_path(@wip.product, @wip) %>">
    <div style="display:none;">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input name="_method" value="patch" type="hidden">
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm" style="width: 100%;">
        <div class="input-group-addon input-group-addon-sm" style="padding-left: 5px; padding-right: 5px;">@</div>
        <input id="assign_to"
               class="form-control input-sm textcomplete"
               data-product-id="<%= @product.slug %>"
               type="text"
               name="assign_to"
               style="width: 100%; padding: 5px;"
               placeholder="username"
        >
      </div>
    </div>
    <p class="text-muted" style="margin-top: 10px;">This person will be notified by email.</p>
    <button type="submit" class="btn btn-default btn-sm" style="width: 55px; margin-top: 0px; padding-left: 6px; display:none;">Assign</button>
  </form>
</div>
