<ul class="nav nav-pills nav-stacked">

  <% if signed_in? %>
    <li class="<%= 'active' if params[:state] == 'personally_allocated' %>">
      <a href="<%= product_wips_path(@product, state: 'personally_allocated') %>">
        <span class="badge pull-right"><%= current_user.wips_working_on.by_product(@product).count %></span>
        Your Bounties
      </a>
    </li>
  <% end %>

</ul>
