// Setup
$base-value:      15px;
$default-margin:  $base-value;
$base-letter-spacing:  0.5pt;

// Grid
$grid-columns: 6;
$grid-column-width: 135px;
$grid-gutter-width: 15px;
$grid-container-width: 960px;

// Radius
$border-radius-base: 3px;
$border-radius-large: 6px;
$border-radius-small: 2px;

$radius: $border-radius-base; // Deprecated


// Shadow
$shadow: 0 1px 1px 0 rgba(0,0,0,0.03);
$hover-shadow: 0 3px 6px 0 rgba(0,0,0,0.08);
$inset-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.03);
$inset-button-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.06), inset 0 0 0 1px rgba(0,0,0,0.015);

// Deprecated
$gw-gutter: $grid-gutter-width;
$gw-column: $grid-column-width;
$cols: $grid-columns;
$width: grid-width($grid-columns) - $gw-gutter - $gw-gutter;

// Colors

$blue: #5290D2;
$blue-light: #7DACDD;
$purple: #8966B9;
$purple-light: #A68CCA;
$green: #7BAB5E;
$green-light: #97BD80;
$yellow: #EEBB20;
$yellow-light: #F2CA50;
$red: #D05555;
$red-light: #DC7F7F;

$gray-lighter: #EBEBEB;
$gray-light: #D9D9D9;
$gray: #A6A6A6;
$gray-dark: #595959;
$gray-darker: #313131;

$white: #FFF;
$black: #313131;


// 3rd Party Colors

$facebook:                #3B5998;
$twitter:                 #55ACEE;


// Logical Colors

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;
$brand-danger: $red;
$bounty: $yellow;
$karma: $gray;

$color-promoted:  $purple;
$color-muted:     $gray;
$color-highlight: #FFF4CC;

$element-border: $gray-light;
$highlight-bg: lighten($brand-primary, 40%);
$highlight-border: darken($highlight-bg, 10%);
$highlight-text: darken($highlight-bg, 15%);

// Legacy Colors

$orange:                  #DC390A;
$orange-highlight:        #F0590E;

$navbar-primary:          #252f39;
$navbar-secondary:        #1c262f;

$home-primary:            #6393ca;
$home-secondary:          #d0e2f3;
$home-copy:               $gray;
$home-gradient-from:      #36608f;
$home-gradient-to:        #67a8e0;

// Tag Colors

$tag-muted:          $gray;

$tag-android:        #51B46D;
$tag-elastic-search: #62707D;
$tag-ios:            #53BBB4;
$tag-javascript:     #913B53;
$tag-postgres:       #62707D;
$tag-postgresql:     #62707D;
$tag-rails:          #E15258;
$tag-ruby:           #E15258;


// Scaffolding

$body-bg:          #f8f8f8;
$text-color:       $black;
$link-hover-color: $blue-light;


// Typography

$font-family-sans-serif: "Solitaire", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "TiemposTextWeb", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "Droid Sans Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-base: 16px;


// Legacy Typography

$solitaire: "Solitaire";
$solitaire-family: $font-family-sans-serif;
$tiempos: "TiemposTextWeb";
$tiempos-family: $font-family-serif;
$droid-sans-mono: "Droid Sans Mono";
$droid-sans-mono-family: $font-family-monospace;

$batch: "Batch";
$ss-gizmo: "SS Gizmo";
$ss-social-regular: "Social";

$assembly: "Assembly";



$line-height: 20px;

$body-line-height: 1.5;
$heading-line-height: 1.4;


// Avatar Grids

$avatar-grid-gutter: 8px;


// Avatars

$avatar-background-color: $gray-light;

$avatar-xs-size: 20px;
$avatar-sm-size: 30px;
$avatar-default-size: 46px;
$avatar-lg-size: 120px;
$avatar-xl-size: 220px;

$avatar-sponsor-size: 18px;


// Badges

$badge-background-color: $gray;
$badge-border-radius: $radius - 1px;
$badge-color: $white;

$badge-primary-background-color: $blue;
$badge-success-background-color: $green;


// Buttons

$btn-radius: $radius;

$btn-default-color: $blue;
$btn-alert-color: $yellow;
$btn-default-border-color: $gray-light;

$btn-default-hover-color: $blue-light;
$btn-alert-hover-color: $yellow-light;

$btn-default-font-size: 15px;
$btn-default-height: 36px;
$btn-default-line-height: 1.5;
$btn-default-padding: (($btn-default-height - ($btn-default-font-size * $btn-default-line-height)) / 2) 15px (($btn-default-height - ($btn-default-font-size * $btn-default-line-height) - 4px) / 2) 15px;

$btn-large-font-size: 18px;
$btn-large-height: 46px;
$btn-large-line-height: 1.5;
$btn-large-padding: (($btn-large-height - ($btn-large-font-size * $btn-large-line-height)) / 2) 15px (($btn-large-height - ($btn-large-font-size * $btn-large-line-height) - 4px) / 2) 15px;

$btn-small-font-size: 14px;
$btn-small-height: 25px;
$btn-small-line-height: 1.3;
$btn-small-padding: (($btn-small-height - ($btn-small-font-size * $btn-small-line-height + 1px)) / 2) 8px (($btn-small-height - ($btn-small-font-size * $btn-small-line-height) - 3px) / 2) 8px;

$btn-background-color: white;


// Want Module

$want-module-padding: 2px 8px 1px;
$want-module-line-height: $btn-small-line-height;


// Jumbotron

$jumbotron-background-color: #303d4a;

$jumbotron-inverse-heading-color:       #a7adba;
$jumbotron-inverse-background-color:    #f9f7f3;
$jumbotron-inverse-color:               #a7adba;
$jumbotron-inverse-secondary:           #937e77;
$jumbotron-gradient-from:               #f9f7f3;
$jumbotron-gradient-to:                 $jumbotron-gradient-from;


// Labels

$label-color:                     $green;
$label-background-color:          rgba($label-color, .05);
$label-border-color:              rgba($label-color, .2);

$label-promoted-color:            $color-promoted;
$label-promoted-background-color: rgba($label-promoted-color, .05);
$label-promoted-border-color:     rgba($label-promoted-color, .2);

$label-radius:                    $radius - 1px;


// Lips

$lip-gradient-color: $gray-light;


// Lists

$list-meta-color: $gray;
$list-meta-horizontal-padding: 10px;
$list-meta-border-color: $gray-light;


// Logos

$logo-wordmark-image-width: 36px;
$logo-wordmark-height: 32px;


// Markdown Content

$markdown-content-pre-radius: $radius;

// Nav

$nav-horizontal-gutter-width: 30px;

$nav-tabs-border-width: 3px;

// Navbars

$navbar-height: 80px;
$navbar-brand-height: 66px;

$navbar-height: 66px;

$navbar-product-line-height: 20px;
$navbar-product-border-width: $nav-tabs-border-width;
$navbar-product-color: $gray-darker;
$navbar-product-border-color: $gray-lighter;

// New Pages

$page-content-width: grid-width(4);
$page-sidebar-width: grid-width(2);

$page-ruled-border-color: $gray-lighter;
$page-ruled-content-width: $page-content-width + 45px;
$page-ruled-sidebar-width: $page-sidebar-width - 30px;

// Note

$note-width: $page-content-width;

// Panel Groups

$panel-group-margin: 15px;

// Progressbars

$progressbar-height: 4px;
$progressbar-background-color: $gray-lighter;
$progressbar-border-color: $gray-lighter;
$progressbar-divider-color: $gray-lighter;
$progressbar-border-radius: 2px;


// Video Thumbnails

$video-thumbnail-border-color: $white;
$video-thumbnail-border-radius: $radius;
