@mixin toggler-variant($color, $background, $border) {
  color: $color;
  background-color: $background;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
  }

  .toggler-badge {
    background-color: mix($background, $border);
  }
}
