<div class="avatar avatar-default">
  <!-- FIXME Remove explicit width and heights -->
  <img src="<%= user.avatar_url(46) %>" alt="<%= user.username %>" />

  <% if user.staff? %>
    <div class="avatar-sponsor"></div>
  <% end %>
</div>
