<div class="timeline-item">
  <div class="media">
    <div class="pull-left">
      <div class="marker blue border-blue">
        <span class="icon icon-document"></span>
      </div>
    </div>

    <div class="media-body">
      {{#award_url}}
        <div class="btn-group pull-right">
          <a class="btn btn-default btn-xs" href="{{award_url}}?event_id={{id}}" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
            Award
          </a>
          <a class="btn btn-primary btn-xs" href="{{award_url}}?event_id={{id}}&close=true" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
            Award and close
          </a>
        </div>
      {{/award_url}}

      <div class="media-heading mb0">
        {{#actor}}
          <a href="{{url}}">{{username}}</a>
        {{/actor}}
        submitted work for review
      </div>
    </div>
  </div>
</div>
