// Colors

$white:  #FFF;
$black:  #353941;

$gray-7: #F9F9F9;
$gray-6: #F4F4F5;
$gray-5: #ECEDEF;
$gray-4: #DBDEE3;
$gray-3: #C2C7D0;
$gray-2: #8B909A;
$gray-1: #666D78;

$gray-green:   #678b92;

$green:        #33D6A6;
$cyan:         #5bc0de;
$blue:         #338EDA;
$red:          #EC3750;
$yellow:       #F1C40F;
$orange:       #FF8C37;

$facebook:      #3B5998;
$twitter:       #55ACEE;

// brand vars
$brand-primary: $blue;
$brand-success: $green;
$brand-info:    $cyan;
$brand-warning: $yellow;
$brand-danger:  $red;
$brand-muted:   $gray-1;

$brand-bg:       #FAFAFA;
$brand-border:   darken($gray-6, 10%);
$brand-divider:  darken($brand-bg, 5%);
$brand-shadow:   rgba(100, 100, 100, 0.2);

$body-bg:       white;
$text-color:    $black;

$link-color:       $brand-primary;
$link-hover-color: darken($link-color, 15%);

// Deprecated
$purple:        #6700B9;
$blue-light:    lighten($blue, 10%);
$green-light:   lighten($green, 10%);
$purple-light:  lighten($purple, 10%);
$yellow-light:  lighten($yellow, 10%);
$red-light:     lighten($red, 10%);
$brand-shadow-light: rgba(100, 100, 100, 0.15)
