// Font vars, stacks, @Font-Face, etc

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base:  15px;
$font-size-large: 18px;
$font-size-small: 13px;

$font-size-h1: 30px;
// $font-size-h1: 42px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
// $font-size-h4: 20px;
$font-size-h5: $font-size-base;
$font-size-h6: 13px;

$line-height-base:     1.6;
$line-height-computed: 24px; // 24px

$headings-font-family: inherit;
$headings-font-weight: normal;
$headings-line-height: 1.2;
$headings-color:       inherit;