<div class="notification take-over earned">
  <div class="close"></div>
  <div class="notification-content">
    <h2>Nice one! You were awarded your first bounty of <span class="bounty">694</span> Helpful coins!</h2>
    <div class="message">
      <p>Thanks to your hard work on task <a href="#">#624</a>, you’ve taken <a href="#">Helpful</a> one step further towards greatness. <strong>Thank you!</strong></p>
      <p>Your app coins equate to a stake of Helpful’s ownership; earning you a percentage of the product’s ongoing revenue.</p>
      <p>Your coins can also be used to tip other contributors. See a valuable comment that you think adds value? Be a pal and throw them a few coins as thanks. <strong>What comes around, goes around!</strong></p>
    </div>
    <div class="notification-actions">
      <a href="">Find out more about App Coins at our FAQ &rarr;</a>

      <div class="pull-right"><a href="" class="btn btn-see-through btn-large">Got it, thanks!</a></div>
    </div>
  </div>
</div>