<%= render 'shared/navbar' %>

<div class="page">
  <div class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h1>Assembly is for Makers</h1>
          <p class="lead">By trade, we may be developers, designers, writers or marketers&mdash;but at heart, we're makers.
          <br>
          <strong>Assembly is where we band together to build.</strong>
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="color-block">
    <div class="container neuter-paragraphs">
      <p class="lead" style="padding: 15px 0;">If you want to challenge yourself, learn alongside peers and make a meaningful contribution to a project you believe in, Assembly is for you. If you're inspired by the Homebrew Computer Club and open source software and distributed companies, Assembly is for you.</p>
    </div>
  </div>

  <div class="color-block">
    <div class="container markdown-normalized">
      <h3>Don't be shy!</h3>
      <div class="row">
        <p class="col-xs-6">New here?  Hop into a discussion and introduce yourself. The Assembly community is friendly and welcoming, we promise. Share what you're interested in – chances are someone will be looking for just the skills you have.</p>
        <p class="col-xs-6">Here are a few Assembly projects with active discussions happening right now. Go ahead and introduce yourself!</p>
      </div>
    </div>
  </div>

  <div class="color-block">
    <div class="container markdown-normalized">
      <h3>Collaboration</h3>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <p>Products on Assembly are crowd-founded. Anyone can submit an idea, and anyone can join the team and get that product to market.</p>
          <p>Assembly apps are built by everyone, but like successful open source products every app also has a core team of contributors. The core team influences the vision of the app and the standards for quality, and determines which contributions are accepted. It consists of the most active and respected contributors on the app. The core team may comprise the original creator, Assembly staff members and members of the community who help make the product a reality (that's you!).</p>
          <p>Some people work on Assembly projects for just few hours a month. Some put in 40 hours a week. It's up to you to work on what you want, when you want, where you want. The best part is that if you take time off, the project keeps moving forward.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="color-block">
    <div class="container markdown-normalized">
      <div class="row">
        <h3>Ownership</h3>
        <p>The ownership of an Assembly product is distributed through App Coins. App Coins can be earned primarily by contributing to a product (design, code, copy, etc.). You can also receive "tips" in the form of App Coins when you provide insight, advice – or simply make someone laugh.</p>
        <p>When an app launches and starts earning money, the profits are split each month among everyone who helped build it – based on the percentage of ownership each person has.</p>
        <p>While the emphasis is on collaborating to create apps with sustainable earnings over the long term, people also occasionally ask about acquisitions. The answer is, if a company offers to acquire an Assembly product and the core team decides to accept the offer, that money would be distributed based on App Coin ownership, just like any other revenue.</p>
        <p>For more info on app ownership and revenue, <a href="#">see our FAQ</a>.</p>

        <h3>What to expect</h3>
        <p>We are on this journey alongside you. Our goal is to create a collaborative, transparent community of makers who seek collaboration, education and creation.</p>
        <p>Joining our community is an opportunity to solve interesting problems, learn valuable lessons and collaborate with people around the world. It's an opportunity to have a meaningful stake in projects that make real money. And, above all else, it's an opportunity to create.</p>
        <p><strong>We can't wait to see what you build.</strong></p>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
