<% title 'Getting Started' %>

<%= render 'shared/navbar' %>

<div class="page page-home">
  <div class="header header-inverted text-serif">
    <div class="container">
      <div class="row">
        <center class="col-xs-10 col-xs-push-1">
          <h1 class="alpha"><strong>Assembly is your platform for building and launching software co-ops.</strong></h1>
          <div class="row">
            <p class="col-xs-10 col-xs-push-1 text-large omega">A <strong><em>software co-op</em></strong> is built and owned by passionate people, together. Anyone can make an impact, and success is shared equitably. Without limitations of geography, time commitment, and logistics, a software co-op connects talented minds to solve hard problems.</p>
          </div>
        </center>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .header -->

  <div class="container">
    <div class="row">
      <div class="col-xs-8">

      </div>
    </div>
  </div>


</div><!-- .page -->

<%= render 'shared/footer' %>
