<div class="jumbotron-inverse with-actions">
  <div class="container">
    <h1>Product Showcase</h1>
    <div class="jumbotron-actions">
      <a class="btn btn-accent" href="#">Create a product</a>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 60px;">

  <div class="educational-modal dismissable-modal">
    <div class='close-me'></div>
    <h2>What is this?</h2>
    <p>The Assembly Product Showcase is a daily leaderboard of up-and-coming products supported by the community; a group of builders and entrepreneurs ready to discover, share, and transform ideas into successful apps. Each weekday, five products are featured. Show interest in any of them by clicking 'Want'—this lets Assembly know to notify you when it ships. If you have skills to contribute, join the project's team and help out yourself!</p>
  </div>

  <div class="idea-hunt">

    <div class="day-group">
      <h5 class="featured-date">Today <span>March 12, 2014</span></h5>

      <div class="featured-product">

        <!-- Want widget -->
        <div class="want-module" data-want-wanted>
          <div class="want-module-count">
            37
            <div class="arrow"></div>
          </div>
          <div class="btn btn-default btn-small btn-want">Want</div>
        </div>

        <div class="product-details">
          <hgroup class="side-by-each-together">
            <h3 class="title"><a href="#">Helpful</a></h3>
            <h4 class="pitch">Helping shouldn't hurt</h4>
          </hgroup>

          <div class="meta">
            <a class="user" href="#">
              <div class="avatar avatar-xs">
                <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?d=https%3A%2F%2Fassemblymade.com%2Fassets%2Favatars%2Fdefault.png&amp;s=24">
              </div>
              chrislloyd
            </a>
            <span class="pipe-divider"></span>
            <a class="comments" href="#">23 comments</a>
          </div>
        </div><!-- .product-details -->

        <div class="product-image">
          <img src="//d3bx4m5kpe3htc.cloudfront.net/assets/posters/support-foo-742c25f29cf02bb75a27a4611e3b9a94.jpg" alt="Helpful">
        </div>

        <div class="get-involved">
          <div class="dropdown align-right">
            <button class="btn btn-default btn-build dropdown-toggle" data-toggle="dropdown">Help build it</span>
            </button>

            <ul class="dropdown-menu open">
              <li class='helper'>Join a team:</li>
              <li><a href="#">Engineering</a></li>
              <li><a href="#">Front-end Development</a></li>
              <li><a href="#">Design</a></li>
              <li class="divider"></li>
              <li><a href="#">See all Tasks <span>&rarr;</span></a></li>
            </ul>
          </div><!-- .dropdown -->
        </div><!-- .get-involved -->

      </div><!-- .featured product -->


      <div class="featured-product">

        <!-- Want widget -->
        <div class="want-module">
          <div class="want-module-count">
            28
            <div class="arrow"></div>
          </div>
          <div class="btn btn-default btn-small btn-want">Want</div>
        </div>

        <div class="product-details">
          <hgroup class="side-by-each-together">
            <h3 class="title"><a href="#">Read Raptor</a></h3>
            <h4 class="pitch">Notifications and read-receipts for your app</h4>
          </hgroup>

          <div class="meta">
            <a class="user" href="#">
              <div class="avatar avatar-xs">
                <img src="https://gravatar.com/avatar/094e5cf16c5281ce8bd89952fcf9627c?d=https%3A%2F%2Fassemblymade.com%2Fassets%2Favatars%2Fdefault.png&amp;s=60" alt="whatupdave">
              </div>
              whatupdave
            </a>
            <span class="pipe-divider"></span>
            <a class="comments" href="#">7 comments</a>
          </div>
        </div><!-- .product-details -->

        <div class="product-image">
          <img src="https://d1015h9unskp4y.cloudfront.net/attachments/48ec3775-764d-4338-a83b-8ebc3585f066/readraptor.jpg" alt="Read Raptor">
        </div>

        <div class="get-involved">
          <div class="dropdown align-right \active">
            <button class="btn btn-default btn-build dropdown-toggle" data-toggle="dropdown">Help build it
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu open">
              <li class='helper'>Join a team:</li>
              <li><a href="#">Engineering</a></li>
              <li><a href="#">Front-end Development</a></li>
              <li><a href="#">Design</a></li>
              <li class="divider"></li>
              <li><a href="#">See all Tasks <span>&rarr;</span></a></li>
            </ul>
          </div><!-- .dropdown -->
        </div><!-- .get-involved -->

      </div><!-- .featured product -->


      <div class="featured-product">

        <!-- Want widget -->

        <div class="want-module">
          <div class="want-module-count">
            23
            <div class="arrow"></div>
          </div>
          <div class="btn btn-default btn-small btn-want">Want</div>
        </div>

        <div class="product-details">
          <hgroup class="side-by-each-together">
            <h3 class="title"><a href="#">Wivern</a></h3>
            <h4 class="pitch">Revolutionizing E-Sports</h4>
          </hgroup>

          <div class="meta">
            <a class="user" href="#">
              <div class="avatar avatar-xs">
                <img src="https://gravatar.com/avatar/11c235047eb162c6a9686dc22627b030?d=https%3A%2F%2Fassemblymade.com%2Fassets%2Favatars%2Fdefault.png&amp;s=60" alt="benjam1n">
              </div>
              benjam1n
            </a>
            <span class="pipe-divider"></span>
            <a class="comments" href="#">12 comments</a>
          </div>
        </div><!-- .product-details -->

        <div class="product-image">
          <img src="http://i.imgur.com/c1xiECe.jpg" alt="Wivern">
        </div>

        <div class="get-involved">
          <div class="dropdown align-right active">
            <button class="btn btn-default btn-build dropdown-toggle" data-toggle="dropdown">Help build it
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu open">
              <li class='helper'>Join a team:</li>
              <li><a href="#">Engineering</a></li>
              <li><a href="#">Front-end Development</a></li>
              <li><a href="#">Design</a></li>
              <li class="divider"></li>
              <li><a href="#">See all Tasks <span>&rarr;</span></a></li>
            </ul>
          </div><!-- .dropdown -->
        </div><!-- .get-involved -->

      </div><!-- .featured product -->

    </div><!-- .day-group -->

  </div><!-- .idea-hunt -->

</div><!-- .container -->
