<div class="notification take-over minted">
  <div class="close"></div>
  <div class="notification-content">
    <h2>You just minted new Helpful coins</h2>
    <div class="message">
      <p>Thanks for making Helpful (and Assembly) a better place!</p>
      <p>Coins are inted by upvoting tasks that you think are valuable to the product. Minted coins are added to a task's bounty which you can earn by completing a task.</p>
      <p><strong>Contribute and start earning Helpful coins!</strong></p>
    </div>
    <div class="notification-actions">
      <a href="">Find out more about App Coins at our FAQ &rarr;</a>

      <div class="pull-right"><a href="" class="btn btn-see-through btn-large">Got it, thanks!</a></div>
    </div>
  </div>
</div>