<% @product = Product.find_by(slug: 'helpful') %>

<div style="margin: 100px auto;width:600px">

  <% ProductMissionDefinitions.missions.map(&:id).each do |mission_id| %>
    <% mission = ProductMissionDecorator.new(ProductMission.find(mission_id, @product)) %>
    <h2><%= mission.translate(:name) %></h2>
    <div class="popover-static">
      <div class="flyout">
        <%= render partial: 'products/missions/intro', locals: { mission: mission } %>
      </div>
    </div>

    <div class="popover-static">
      <div class="flyout">
        <%= render partial: 'products/missions/description', locals: { mission: mission } %>
      </div>
    </div>

    <div class="popover-static">
      <div class="flyout">
        <%= render partial: 'products/missions/reward', locals: { mission: mission } %>
      </div>
    </div>
  <% end %>
</div>
