<div class="callout" style="margin: 100px;">
  <div class="callout-content">
    <header class="callout-header">
      <h1><strong>Welcome to Assembly</strong>&mdash;an open platform for founding software products with the community.</h1>
      <a href="#" class="close">Close</a>
    </header>
    <div class="split-column">
      <h3>What is Assembly?</h3>
      <p>Assembly is a collaborative platform for building and owning software products. We're radically transparent and encourage anyone to get involved and become a partner. <a href="#">Find out more &rarr;</a></p>
    </div>

    <div class="split-column">
      <h3>How can I contribute?</h3>
      <p>See a task that resonates with your skill set? Dive straight in&mdash;permission isn't needed. Every task you complete earns you tangible stake in the product, so everyone's rewarded for their efforts.</p>
    </div>
  </div><!-- .callout-content -->

  <div class="callout-actions">
    <a class="btn btn-default" href="#">Explore tasks needing help</a>
    <a class="btn btn-primary" href="#">Join the Assembly community</a>
  </div>
</div><!-- .callout -->
