<div class="js-mission-step js-mission-step-reward">
  <div class="flyout-content">
    <div class="mission-reward">
      <div class="mission-title">
        <%= mission.translate :reward_title %>
      </div>
      <p>
        <%= mission.translate :reward_description %>
      </p>
      <a class="btn btn-default js-next-mission">
        Start the next mission
      </a>
    </div>
  </div>

  <% if mission.next? %>
    <% next_mission = ProductMissionDecorator.new(mission.next) %>

    <div class="flyout-footer">
      <div class="pull-left">
        Next Goal:
        <strong class="text-black"><%= mission.translate :name %></strong>
      </div>
      <div class="mission-goal pull-right">
        <%= mission.translate :reward %>
      </div>
    </div>
  <% end %>
</div>
