---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/asm-products/testing-1-2-3/stats/contributors
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token ohhai
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1411505217'
      Etag:
      - '"a7b76c3615e9eea6959fd283e336ffc2"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"total":2,"weeks":[{"w":1411257600,"a":673,"d":0,"c":2}],"author":{"login":"whatupdave","id":7064,"avatar_url":"https://avatars.githubusercontent.com/u/7064?v=2","gravatar_id":"","url":"https://api.github.com/users/whatupdave","html_url":"https://github.com/whatupdave","followers_url":"https://api.github.com/users/whatupdave/followers","following_url":"https://api.github.com/users/whatupdave/following{/other_user}","gists_url":"https://api.github.com/users/whatupdave/gists{/gist_id}","starred_url":"https://api.github.com/users/whatupdave/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whatupdave/subscriptions","organizations_url":"https://api.github.com/users/whatupdave/orgs","repos_url":"https://api.github.com/users/whatupdave/repos","events_url":"https://api.github.com/users/whatupdave/events{/privacy}","received_events_url":"https://api.github.com/users/whatupdave/received_events","type":"User","site_admin":false}}]'
  recorded_at: Tue, 23 Sep 2014 20:16:17 GMT
recorded_with: VCR 2.9.2
