---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000056655665556&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_bBgd6EyLuE66m6XIkVIN6Win
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-02-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4WuYzFU0pjDVHp",
          "livemode": false,
          "created": 1407178991,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4WuYi1Hnqd6Qwy",
            "object": "card",
            "last4": "5556",
            "brand": "Visa",
            "funding": "debit",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "BPDsRoWpbMSefm0a",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Mon, 04 Aug 2014 19:03:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: type=individual&name=Antonia%20Tremblay&email=oral.shields%40smitham.biz&card=tok_4WuYzFU0pjDVHp&metadata[user_id]=49cc396f-451c-4e18-aaa2-a96bc6c76b54
    headers:
      Authorization:
      - Bearer sk_test_bBgd6EyLuE66m6XIkVIN6Win
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-02-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_4WuYeh4yaNDRX8",
          "object": "recipient",
          "created": 1407178991,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "oral.shields@smitham.biz",
          "name": "Antonia Tremblay",
          "verified": false,
          "metadata": {
            "user_id": "49cc396f-451c-4e18-aaa2-a96bc6c76b54"
          },
          "active_account": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/recipients/rp_4WuYeh4yaNDRX8/cards",
            "data": [
              {
                "id": "card_4WuYi1Hnqd6Qwy",
                "object": "card",
                "last4": "5556",
                "brand": "Visa",
                "funding": "debit",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "BPDsRoWpbMSefm0a",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "recipient": "rp_4WuYeh4yaNDRX8",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_4WuYi1Hnqd6Qwy"
        }
  recorded_at: Mon, 04 Aug 2014 19:03:12 GMT
recorded_with: VCR 2.9.2
