---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v1/domain_transfers
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"choosefun.com","registrant_id":"1878"},"transfer_order":{"authinfo":"hey
        joe"}}'
    headers:
      X-Dnsimple-Token:
      - founders@assembly.com:RaUNWJOsM5TnDBvxXAze
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Tue, 04 Nov 2014 00:43:49 GMT
recorded_with: VCR 2.9.2
