---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v1/domain_transfers
    body:
      encoding: UTF-8
      string: '{"domain":{"name":"partycloud.com","registrant_id":"7777"},"transfer_order":{"authinfo":"duffman"}}'
    headers:
      X-Dnsimple-Token:
      - founders@assembly.com:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"The domain partycloud.com is already registered"}'
  recorded_at: Tue, 04 Nov 2014 00:43:46 GMT
recorded_with: VCR 2.9.2
