---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000056655665556&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_bBgd6EyLuE66m6XIkVIN6Win
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-02-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_4WuYF2vTDOOBcK",
          "livemode": false,
          "created": 1407178992,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_4WuYxZVCqQdkeb",
            "object": "card",
            "last4": "5556",
            "brand": "Visa",
            "funding": "debit",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "BPDsRoWpbMSefm0a",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null,
            "type": "Visa"
          }
        }
  recorded_at: Mon, 04 Aug 2014 19:03:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/recipients
    body:
      encoding: US-ASCII
      string: type=individual&name=Delfina%20Zieme&email=laney_heaney%40ratke.info&card=tok_4WuYF2vTDOOBcK&metadata[user_id]=b31b212c-fc9e-4ad7-b899-b0ff2ab94a6a
    headers:
      Authorization:
      - Bearer sk_test_bBgd6EyLuE66m6XIkVIN6Win
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-02-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "rp_4WuYn73VmvdtBt",
          "object": "recipient",
          "created": 1407178992,
          "livemode": false,
          "type": "individual",
          "description": null,
          "email": "laney_heaney@ratke.info",
          "name": "Delfina Zieme",
          "verified": false,
          "metadata": {
            "user_id": "b31b212c-fc9e-4ad7-b899-b0ff2ab94a6a"
          },
          "active_account": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/recipients/rp_4WuYn73VmvdtBt/cards",
            "data": [
              {
                "id": "card_4WuYxZVCqQdkeb",
                "object": "card",
                "last4": "5556",
                "brand": "Visa",
                "funding": "debit",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "BPDsRoWpbMSefm0a",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "recipient": "rp_4WuYn73VmvdtBt",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_4WuYxZVCqQdkeb"
        }
  recorded_at: Mon, 04 Aug 2014 19:03:12 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/recipients/rp_4WuYn73VmvdtBt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_bBgd6EyLuE66m6XIkVIN6Win
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2013-02-13'
    body:
      encoding: UTF-8
      st[...]
[...]
