<% title 'Notifications' %>
<%= render 'shared/navbar' %>

<style>
 .entry.entry-unread {
   background-color: #FFC;
 }
</style>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div data-react-class="FullPageNewsFeed" data-react-props="<%= {
          url: notifications_path(format: :json),
          fullPage: true
        }.to_json %>">
        </div>
      </div>
    </div>
  </div>
</div>
