<% title 'Notifications' %>
<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="sheet" style="min-height: 600px">
          <div class="page-header sheet-header" style="padding-left: 20px">
            <h2 class="page-header-title">Your notifications</h2>
          </div>

          <div data-react-class="FullPageNewsFeed" data-react-props="<%= {
            url: notifications_path(format: :json),
            username: current_user.username
          }.to_json %>">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
