<% if partner?(@product) %>
  <div class="well dotted">
    <p class="text-center">
      <h4 class="text-muted text-center">
        Feature a bounty
      </h4>
      <span data-react-class="CreateBountyButton" data-react-props="<%= new_bounty_props(@product).merge(
        label: 'Create a new featured bounty',
        classes: 'clickable'
      ).to_json %>">
      </span>
      or choose to feature one below
    </p>
  </div>
<% else %>
  <div class="well dotted">
    <p class="text-center">
      <h4 class="text-muted text-center">
        This space is reserved!
      </h4>
      Until the partners of this product feature a bounty here
    </p>
  </div>
<% end %>
