<div class="chip chip-sm">
  <div class="chip-icon">
    <%= app_icon(product, size: 60) %>
  </div>
  <h5 class="alpha omega" style="display:inline"><%= product.name %></h5>
  <p class="gray-2 small omega"><%= product.pitch %></p>
</div>
