<div class="card">
  <div class="card-body">
    <h5 class="alpha">
      <%= bounty.title %>
    </h5>
    <p class="text-muted omega">
      <%= truncate(bounty.description, length: 84) %>
    </p>
  </div>
</div>
