<div class="card">
  <div class="card-body">
    <h5 class="alpha">
      <a href="<%= product_wip_path(bounty.product, bounty) %>">
        <%= bounty.title %>
      </a>
    </h5>
    <p class="text-muted omega">
      <%= truncate(bounty.description, length: 84) %>
    </p>
  </div>
</div>
