
  <div class="row">

    <% bounties.each do |bounty| %>
      <div class="col-xs-4">
        <%= render 'bounties/card', bounty: bounty %>
      </div>
    <% end %>

    <% [BountyPosting::SLOTS - bounties.size, 0].max.times do %>
      <div class="col-xs-4">

        <% if partner?(@product) %>
          <div class="well dotted">
            <p class="center">
              <h4 class="gray-2 center">
                Feature a bounty
              </h4>
              <span data-react-class="CreateBountyButton" data-react-props="<%= new_bounty_props(@product).merge(
                label: 'Create a new featured bounty',
                classes: 'clickable'
              ).to_json %>">
              </span>
              or choose to feature one below
            </p>
          </div>
        <% else %>
          <div class="card omega" style="opacity:1;border-style:dashed">
            <div class="card-body center">
              <span class="glyphicon glyphicon-star-empty text-large yellow" style="font-size:24px"></span>
              <h4 class="gray-2">Featured bounty</h4>
              Until the partners of this product feature a bounty here
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
  <h6 class="center gray-2" style="margin-top:24px">Featured</h6>

<hr>
