<h4>Featured Bounties</h4>

<div class="row">
  <% postings.each do |posting| %>
    <% bounty = posting.bounty %>

    <div class="col-xs-4">
      <%= render 'bounty_postings/card', posting: posting %>
    </div>
  <% end %>

  <% [BountyPosting::SLOTS - postings.size, 0].max.times do %>
    <div class="col-xs-4">
      <%= render 'bounty_postings/empty' %>
    </div>
  <% end %>
</div>
