<div class="sub-thingy">
   <% if partner?(@product) %>
    <a class="pull-right link-hover-warning" data-toggle="tooltip" data-placement="top" title="Edit Project" href="<%= edit_product_project_path(@product, @project) %>">
      <i class="icon-pencil" style="margin-right: 2px;"></i>
      Edit
    </a>
  <% end %>
  <h2 class="alpha omega"><%= @project.title %></h2>

</div>
