<div class="panel panel-default" style="margin-top:20px">
  <div class="panel-heading">
    <h6 class="panel-title">
      Tags
    </h6>
  </div>
  <div class="panel-body">
    <% wip_tags = bounty.tags.map { |tag| tag.name }.as_json %>
    <div style="margin-bottom: 10px"
         data-react-class="TagList"
         data-react-props="<%= {
            tags: (wip_tags || []),
            url: product_wip_tag_path(bounty.product, bounty.number),
            filterUrl: product_wips_path(bounty.product),
            destination: true
          }.to_json %>">
    </div>
    <% unless current_user.nil? %>
      <% if wip_tags.empty? || wip_tags.slice(1).nil? %>
        <h6 style="margin-bottom: 0; margin-top: 20px;">Suggested tags</h6>
        <div data-react-class="TagList"
              data-react-props="<%= {
                tags: Wip::Tag.suggested_tags.as_json,
                url: product_wip_tag_path(bounty.product, bounty.number),
                destination: false
              }.to_json %>">
        </div>
      <% end %>
      <div data-react-class="TextInput"
           data-react-props="<%= {
             width: "125px",
             size: "small",
             label: "Add tag",
             prepend: "#",
             prompt: "Add",
             filterUrl: product_wips_path(bounty.product),
             url: product_wip_tag_path(bounty.product, bounty.number)
           }.to_json %>">
      </div>
    <% end %>

  </div>
</div>
