<% if task.open? %>
  <div style="display:inline-block;"
       data-react-class="Urgency"
       data-react-props="<%= {
         initialLabel: task.urgency.label,
         urgencies: Urgency.all.map(&:label),
         url: product_task_urgency_path(task.product, task)
       }.to_json %>"></div>

<% else %>
  <span class="label label-<%= task.urgency.label.downcase %>"><%= task.urgency.label %></span>
<% end %>