<h2>Bitcoin Payment History</h2>

<br>
<h4>Sum BTC Available
<br>
<% sum = 0 %>
<% sumin = 0 %>
<% sumout = 0 %>



<% @payments.each do |p| %>
<% sum = sum + p.btc_change/100000000.0 %>
<% end %>
<%= sum %> BTC<br><%= sum*OpenAssets::Transactions.new.get_btc_spot_price_coinbase().round(2) %>
Current USD Value:
</h4>
<br>

<h4>Total BTC Paid to Users
  <br>
<%= "#{@total_btc_paid_to_users} BTC" %>
<br>
<%= "$ #{@total_cash_value_of_btc_to_users.round(2)}  --  cash equivalent at time of payment" %>
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Sender</th>
      <th>Sender Address</th>
      <th>Recipient</th>
      <th>Recipient Address</th>
      <th>BTC Change</th>
      <th>BTC Price at that Moment</th>
      <th>USD Value</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.reverse.each do |p| %>
      <% if not p.btcusdprice_at_moment.nil? %>
        <tr>
          <td><%= p.created_at %></td>
          <td><%= p.action %></td>
          <td><%= p.sender %></td>
          <td><%= p.recipient %></td>
          <td><%= p.sender_address %></td>
          <td><%= p.recipient_address %></td>
          <td><%= p.btc_change.to_f/100000000 %></td>
          <td><%= p.btcusdprice_at_moment.to_f/100 %></td>
          <td><%= p.btcusdprice_at_moment.to_f/100*p.btc_change.to_f / 100000000 %></td>
        </tr>
    <% end %>

    <% end %>

  </tbody>
</table>
