<h3>Bitcoin Payment History</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Sender</th>
      <th>Sender Address</th>
      <th>Recipient</th>
      <th>Recipient Address</th>
      <th>BTC Change</th>
      <th>BTC Price at that Moment</th>
      <th>USD Value</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |p| %>
      <td><%= p.created_at %></td>
      <td><%= p.action %></td>
      <td><%= p.sender %></td>
      <td><%= p.recipient %></td>
      <td><%= p.sender_address %></td>
      <td><%= p.recipient_address %></td>
      <td><%= p.btc_change/100000000 %></td>
      <td><%= p.btcusdprice_at_moment/100 %></td>
      <td><%= p.btcusdprice_at_moment/100*p.btc_change / 100000000 %></td>
    <% end %>

  </tbody>
</table>
