<%= stylesheet_link_tag 'styleguide' %>
<%= stylesheet_link_tag 'application' %>

<div class="styleguide container">
  <div class="page-heading">
    <div class="page-heading-title">The Assembly Styleguide</div>
  </div>

  <h2>Naming selectors</h2>
  <ul>
    <li>Never use IDs</li>
    <li>Rarely use elements</li>
    <li>Namespace modifier classes</li>
    <li>Only one level of modifier classes</li>
    <li>Use decendent selector <code>&gt;</code> unless class is namespaced</li>
  </ul>

  <h2>Seperating behavior</h2>
  <ul>
    <li>Use "js-" prefix in HTML</li>
    <li>Suffix elements with the <code>"-el"</code> ID to attach one JS classes. This should be a JS smell.</li>
  </ul>

  <h2>Style</h2>
  <ul>
    <li>Each selector in a statement gets its own line</li>
    <li>Rarely use [background/margin/padding/border/font] shortcuts</li>
  </ul>

  <h2>Composability</h2>
  <ul>
    <li>No module should modify outside margins (leave that to layouts)</li>
    <li>Put variables in <code>_variables.css.scss</code>.</li>
  </ul>

  <%= render 'examples' %>
</div>
