$colors: (
  "white":  $white,
  "gray-6": $gray-6,
  "gray-5": $gray-5,
  "gray-4": $gray-4,
  "gray-3": $gray-3,
  "gray-2": $gray-2,
  "gray-1": $gray-1,
  "black":  $black,

  "green":      $green,
  "blue":       $blue,
  "red":        $red,
  "yellow":     $yellow,
  "orange":     $orange,

  "darken-1": $darken-1,
  "darken-2": $darken-2,
  "darken-3": $darken-3,
  "darken-4": $darken-4,

  "lighten-1": $lighten-1,
  "lighten-2": $lighten-2,
  "lighten-3": $lighten-3,
  "lighten-4": $lighten-4,
);

@each $color, $value in $colors {
  .#{$color},
  .#{$color}-hover:hover,
  .#{$color}-focus:focus {
    color: $value
  }

  .bg-#{$color},
  .bg-#{$color}-hover:hover,
  .bg-#{$color}-focus:focus {
    background-color: $value
  }

  .border-#{$color},
  .border-#{$color}-hover:hover,
  .border-#{$color}-focus:focus {
    border-color: $value
  }

  .fill-#{$color},
  .fill-#{$color}-hover:hover,
  .fill-#{$color}-focus:focus {
    fill: $value
  }
}
