$colors: (
  "white":  $white,
  "gray-6": $gray-6,
  "gray-5": $gray-5,
  "gray-4": $gray-4,
  "gray-3": $gray-3,
  "gray-2": $gray-2,
  "gray-1": $gray-1,
  "black":  $black,

  "green":      $green,
  "blue":       $blue,
  "red":        $red,
  "yellow":     $yellow,
  "orange":     $orange
);

@each $color, $value in $colors {
  .#{$color},
  .#{$color}-hover:hover,
  .#{$color}-focus:focus {
    color: $value
  }

  .bg-#{$color},
  .bg-#{$color}-hover:hover,
  .bg-#{$color}-focus:focus {
    background-color: $value
  }

  .border-#{$color},
  .border-#{$color}-hover:hover,
  .border-#{$color}-focus:focus {
    border-color: $value
  }

  .fill-#{$color},
  .fill-#{$color}-hover:hover,
  .fill-#{$color}-focus:focus {
    fill: $value
  }
}
