$colors: (
  "white":  $white,
  "gray-6": $gray-6,
  "gray-5": $gray-5,
  "gray-4": $gray-4,
  "gray-3": $gray-3,
  "gray-2": $gray-2,
  "gray-1": $gray-1,
  "black":  $black,

  "green":      $green,
  "blue":       $blue,
  "red":        $red,
  "yellow":     $yellow,
  "orange":     $orange
);

@each $color, $hex in $colors {
  .#{$color}        { color: $hex }
  .bg-#{$color}     { background-color: $hex }
  .border-#{$color} { border-color: $hex }
  .fill-#{$color}   { fill: $hex }

  .#{$color}-hover:hover        { color: $hex }
  .bg-#{$color}-hover:hover     { background-color: $hex }
  .border-#{$color}-hover:hover { border-color: $hex }
  .fill-#{$color}-hover:hover   { fill: $hex }

  .#{$color}-focus:focus        { color: $hex }
  .bg-#{$color}-focus:focus     { background-color: $hex }
  .border-#{$color}-focus:focus { border-color: $hex }
  .fill-#{$color}-focus:focus   { fill: $hex }
}
