.h1 {
  font-size: 42px;
  line-height: 48px;
}

.h2 {
  font-size: 30px;
  line-height: 36px;
}

.h3 {
  font-size: 24px;
  line-height: 30px;
}

.h4 {
  font-size: 18px;
  line-height: 24px;
}

.h5 {
  font-size: 15px;
  line-height: 24px;
}

.h6 {
  font-size: 13px;
  line-height: 18px;
}

.underline             { text-decoration:  underline }
.underline-hover:hover { text-decoration: underline }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 1rem;
}

.light {
  font-weight: 300;
}

.lh1 {
  line-height: 1rem;
}

.ellipsis {
  text-overflow: ellipsis;
}

@media #{$breakpoint-sm} {
  .sm-right-align { text-align: right }
  .sm-center      { text-align: center }
}

@media #{$breakpoint-md} {
  .md-right-align { text-align: right }
  .md-center      { text-align: center }
}

@media #{$breakpoint-lg} {
  .lg-right-align { text-align: right }
  .lg-center      { text-align: center }
}
