.p0 {
  padding: 0;
}

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
);

$scale: (
  "0": 0,
  "1": .5rem,
  "2": 1rem,
  "3": 2rem,
  "4": 4rem
);

@each $prefix, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    @each $index, $value in $scale {

      // Margins

      .#{$prefix}-m#{$index} { margin: $value }
      .#{$prefix}-mt#{$index} { margin-top: $value }
      .#{$prefix}-mr#{$index} { margin-right: $value }
      .#{$prefix}-mb#{$index} { margin-bottom: $value }
      .#{$prefix}-ml#{$index} { margin-left: $value }

      .#{$prefix}-mxn#{$index} {
        margin-right: -$value;
        margin-left: -$value;
      }

      // Paddings

      .#{$prefix}-p#{$index} {
        padding: $value
      }

      .#{$prefix}-px#{$index} {
        padding-left: $value;
        padding-right: $value;
      }

      .#{$prefix}-py#{$index} {
        padding-top: $value;
        padding-bottom: $value;
      }
    }
  }
}
