The Assembly team and I wanted to say congratulations for successfully building
your team. We just greenlit <%= @product.name %>. Check it out here: <a
href="https://cove.assembly.com/discover/greenlit">https://cove.assembly.com/discover/greenlit</a>

<br>
<br>

So what's next? Focus on launching and building a profitable
business and we'll be in touch :)

<br>
<br>

Austin
