* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-size: 1.25rem;
}

h1 {
  font-size: 42px;
  line-height: 48px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 15px;
  line-height: 24px;
}

h6 {
  font-size: 13px;
  line-height: 18px;
}
