/*
  This CSS resource incorporates links to font software which is
  the valuable copyrighted property of WebType LLC, The Font Bureau
  and/or their suppliers. You may not
  attempt to copy, install, redistribute, convert, modify or reverse
  engineer this font software. Please contact WebType with any
  questions: http://www.webtype.com
*/

@font-face {
  font-family: Solitaire;
  src: // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
       url(asset-path('mvb-solitaire-book.woff')) format('woff'),
       // Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5
       url(asset-path('mvb-solitaire-book.ttf')) format('truetype');
}

@font-face {
  font-family: Solitaire;
  font-style: italic;
  src: url(asset-path('mvb-solitaire-book-italic.woff')) format('woff'),
       url(asset-path('mvb-solitaire-book-italic.ttf')) format('truetype');
}

@font-face {
  font-family: Solitaire;
  font-weight: 200;
  src: url(asset-path('mvb-solitaire-light.woff')) format('woff'),
       url(asset-path('mvb-solitaire-light.ttf')) format('truetype');
}

@font-face {
  font-family: Solitaire;
  font-weight: bold;
  src: url(asset-path('mvb-solitaire-semibold.woff')) format('woff'),
       url(asset-path('mvb-solitaire-semibold.ttf')) format('truetype');
}

@font-face {
  font-family: Solitaire;
  font-weight: 800;
  src: url(asset-path('mvb-solitaire-black.woff')) format('woff'),
       url(asset-path('mvb-solitaire-black.ttf')) format('truetype');
}

// Tiempos

@font-face {
  font-family: Tiempos;
  src: url(asset-path('TiemposTextWebLF-Regular.woff')) format('woff'),
       url(asset-path('TiemposTextWebLF-Regular.ttf')) format('truetype');
}

@font-face {
  font-family: Tiempos;
  font-style: italic;
  src: url(asset-path('TiemposTextWebLF-RegularItalic.woff')) format('woff'),
       url(asset-path('TiemposTextWebLF-RegularItalic.ttf')) format('truetype');
}

@font-face {
  font-family: Tiempos;
  font-weight: bold;
  src: url(asset-path('TiemposTextWebLF-Semibold.woff')) format('woff'),
       url(asset-path('TiemposTextWebLF-Semibold.ttf')) format('truetype');
}

@font-face {
  font-family: Tiempos;
  font-weight: bold;
  font-style: italic;
  src: url(asset-path('TiemposTextWebLF-SemiboldItalic.woff')) format('woff'),
       url(asset-path('TiemposTextWebLF-SemiboldItalic.ttf')) format('truetype');
}

h2,
.h2 {
  // Enable bolding once we've transitioned to Bootstrap completely
  // font-weight: bold;
}

h4,
.h4 {
  font-weight: bold;
}

h6,
.h6,
.upper-spaced {
  text-transform: uppercase;
  letter-spacing: 0.8pt;
  font-weight: bold;
}

.lead {
  font-size: 21px;
  line-height: $line-height-base;
  margin-bottom: $line-height-computed * 1.556;
  text-rendering: optimizeLegibility;
}

.text-sans {
  font-family: $font-family-sans-serif;
}

.text-serif {
  font-family: $font-family-serif;
}

.text-longform {
  p,
  ul,
  ol {
    color: $gray-dark;
  }
}

.text-light {
  color: $gray-light;
}

.text-weight-light {
  font-weight: 200;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-bold {
  font-weight: 600;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.text-warning {
  color: $brand-warning;
}

@include text-emphasis-variant('.text-coins', $brand-coins);
@include text-emphasis-variant('.text-info', $brand-info);

.text-link-bold a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

.list-inline-piped {
  @extend .text-link-bold;

  > li + li {
    border-left: 1px solid $brand-divider;
    padding-left: 5px + 4px; // + 4px accounts for inline-block whitespace
  }
}

.list-inline-media {
  @extend .list-inline;
  display: inline-block;

  > li {
    padding-left: 1px;
    padding-right: 1px;

    &:first-of-type {
      padding-left: 6px;
    }
  }
}

.list-piped {
  @extend .list-inline;

  > li + li {
    border-left: 1px solid $brand-divider;
    padding-left: 5px + 4px; // + 4px accounts for inline-block whitespace
  }
}

.list-grid {
  @extend .list-unstyled;
  @include clearfix;

  > li {
    float: left;
    padding: $padding-small-vertical;
  }
}

// H4 title and piped nav in cards and lists
h4 + .list-inline,
h4 + p {
  margin-top: -7px;
}

blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: $line-height-computed 0;
  border-width: $blockquote-border-width;
}

// Markdown Normalizer class overrides multiple heading types
.markdown-normalized {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .h4;
    font-weight: bold;
    margin-top: $line-height-computed * 1.5;
    margin-bottom: $line-height-computed / 2;

    &:first-child {
      margin-top: $line-height-computed / 2;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

.text-small-caps {
  @extend .text-sans;
  text-transform: uppercase;
  font-size: 90%;
}

.text-copy {
  @extend .text-serif;
  padding: 26px $padding-xxl-horizontal 25px 68px;
  font-size: 15px;
  line-height: 1.764;
  color: $text-copy;
  border-radius: $border-radius-base;
  border: 1px solid darken($text-copy-bg, 6%);
  box-shadow: 0 1px 1px 0 $brand-shadow;
  background-color: $text-copy-bg;
  @include background-image-retina(("copy-deliverable-bg-horizontal", "copy-deliverable-bg"), ("png", "png"), (36px, 1px), (1px, 26px), ("repeat-y", "repeat"));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    color: inherit !important;
    line-height: 1.764;
    margin-bottom: floor(15px * 1.764);

    &:first-child {
      margin-top: 0;
    }
  }

  > * {
    margin-bottom: floor(15px * 1.764);
  }

  :first-child {
    margin-top: 0;
  }
}

code {
  color: $text-color;
  background-color: $body-bg;
}

mark,
.mark {
  border-radius: $border-radius-small;
  color: darken($brand-warning, 33%);
  background-color: lighten($state-warning-bg, 5%);
}

.inline-serif {
  @extend .text-serif;
}

.link-hover-primary:hover {
  color: $link-color !important;
  text-decoration: none;
}

.link-hover-success:hover {
  color: $brand-success !important;
  text-decoration: none;
}

.link-hover-warning:hover {
  color: $brand-warning !important;
  text-decoration: none;
}

.link-hover-danger:hover {
  color: $brand-danger !important;
  text-decoration: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-subtle-link {
  color: inherit;
  &:hover {
    color: inherit
  }
}

.text-muted-links {
  color: $gray;

  a {
    color: inherit;
  }
}
