
a:hover {
  text-decoration: none;
}

h4,
.h4 {
  line-height: 24px;
}

h6,
.h6,
.upper-spaced {
  text-transform: uppercase;
  letter-spacing: 0.8pt;
  font-weight: bold;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-bold {
  font-weight: bold;
}

.text-large,
.large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.text-serif {
  font-family: $font-family-serif;
}

@include text-emphasis-variant('.text-coins', $brand-coins);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-white', white);

.list-inline-piped {
  > li + li {
    border-left: 1px solid $brand-divider;
    padding-left: 5px + 4px; // + 4px accounts for inline-block whitespace
  }
}

.list-inline-media {
  @extend .list-inline;
  display: inline-block;

  > li {
    padding-left: 1px;
    padding-right: 1px;

    &:first-of-type {
      padding-left: 6px;
    }
  }
}

.list-piped {
  @extend .list-inline;

  > li + li {
    border-left: 1px solid $brand-divider;
    padding-left: 5px + 4px; // + 4px accounts for inline-block whitespace
  }
}

.list-grid {
  @extend .list-unstyled;
  @include clearfix;

  > li {
    float: left;
    padding: $padding-small-vertical;
  }
}

blockquote {
  padding: 0 $grid-gutter-width;
  margin: $line-height-computed 0;
  margin-left: -3px;
  border-width: 3px;
}

.text-small-caps {
  text-transform: uppercase;
  font-size: 90%;
}

.text-copy {
  padding: 26px $padding-xxl-horizontal 25px 68px;
  font-size: 15px;
  line-height: 1.764;
  color: $text-copy;
  border-radius: $border-radius-base;
  border: 1px solid darken($text-copy-bg, 6%);
  box-shadow: 0 1px 1px 0 $brand-shadow;
  background-color: $text-copy-bg;
  @include background-image-retina(("copy-deliverable-bg-horizontal", "copy-deliverable-bg"), ("png", "png"), (36px, 1px), (1px, 26px), ("repeat-y", "repeat"));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    color: inherit !important;
    line-height: 1.764;
    margin-bottom: floor(15px * 1.764);

    &:first-child {
      margin-top: 0;
    }
  }

  > * {
    margin-bottom: floor(15px * 1.764);
  }

  :first-child {
    margin-top: 0;
  }
}

code {
  color: $red;
  background-color: $gray-lighter;
}

mark,
.mark {
  border-radius: $border-radius-small;
  color: darken($brand-warning, 33%);
  background-color: lighten($state-warning-bg, 5%);
}

.link-hover-primary:hover {
  color: $link-color !important;
  text-decoration: none;
}

.link-hover-success:hover {
  color: $brand-success !important;
  text-decoration: none;
}

.link-hover-warning:hover {
  color: $brand-warning !important;
  text-decoration: none;
}

.link-hover-danger:hover {
  color: $brand-danger !important;
  text-decoration: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-stealth-link {
  &, &:hover {
    color: inherit
  }
}

.text-muted-links {
  color: $gray;

  a {
    color: inherit;
  }
}

.text-white {
  color: #fff;
}

.lead {
  font-weight: 400;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
