<% if target.errors.any? %>
  <div class="error-explanation">
    <h2>
      <%= pluralize(target.errors.count, 'error', 'errors') %>
      prohibited this <%= target.class.name.downcase %> from being saved:
    </h2>

    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>

<% end %>
