<% if target.errors.any? %>
  <div class="alert alert-danger">
    <strong>Oh snap!</strong>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
