<% if message = flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= message %>
  </div>
<% end %>
<% if message = flash[:info] %>
  <div class="alert alert-info" role="alert">
    <%= message %>
  </div>
<% end %>
<% if message = flash[:warning] %>
  <div class="alert alert-warning" role="alert">
    <%= message %>
  </div>
<% end %>
