<% if url = ENV['PUBLIC_CHAT_URL'] %>
  <div class="fixed-bottom fixed-bottom-right hidden hidden-xs hidden-sm">
    <a class="btn btn-primary btn-large" target="_blank" href="<%= url %>" data-track="assembly.chat.clicked">Join the Assembly chat</a>
  </div>
<% end %>
