<form action="<%= scoped_search_path %>" class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" name="q" value="<%= params[:q] %>" class="form-control" autocomplete="off"
      placeholder="<%= @product ? "Search #{@product.name}" : "Search…" %>"  />
    <input type="hidden" name="type" value="<%= @type %>">
  </div>
  <button type="submit" class="btn btn-default sr-only">Search</button>
</form>
