<form action="<%= scoped_search_path %>" class="navbar-form navbar-left" style="margin: 7px 12px 7px 0">
  <div class="form-group has-feedback">
    <div class="input-group input-group-search">
      <% if @product %>
        <label class="control-label">This product</label>
      <% end %>
      <input type="search" name="q" value="<%= params[:q] %>" placeholder="Search" class="form-control" autocomplete="off" />
      <span class="icon icon-magnifier form-control-feedback"></span>
    </div>
    <input type="hidden" name="type" value="<%= @type %>">
  </div>
  <button type="submit" class="btn btn-default sr-only">Search</button>
</form>
