<% if false # cookies['dismissed-welcome'].nil? %>
  <div class="bg-primary" style="padding: 15px 0" data-dismissable="welcome">
    <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
      <span>&times;</span>
    </button>

    <div class="container">
      <div class="row">
        <div class="col-md-6 lead omega">
          <strong>Welcome to Assembly,</strong> a community of people who have ideas and build them. Everything here is a collaborative effort including the vision, development, design and marketing. We collect each product's revenue and split the proceeds amongst all involved.
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Start</strong><br/></span> Jump into any open challenges on the products that interest you.
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Earn</strong><br/></span> Earn App Coins for completing the bounty or sharing your experience in the discussion
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Share</strong><br/></span> Share in the product's success when monthly revenue is split amongst all those with App Coins.
        </div>
      </div>
    </div>
  </div>
<% end %>