<% if !signed_in? && cookies['dismissed-welcome'].nil? %>
  <div data-react-class="WelcomeBanner"
      data-react-props="<%= {
        appsPath: discover_path,
        userPath: (dismiss_welcome_banner_path(current_user) if current_user)
      }.to_json %>">
  </div>
<% end %>
