<% if cookies['dismissed-welcome'].nil? %>
  <div class="bg-primary" style="padding: 15px 0" data-dismissable="welcome">
    <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
      <span>&times;</span>
    </button>

    <div class="container">
      <div class="row">
        <div class="col-md-6 lead omega">
          <strong>Welcome to Assembly,</strong> a community of people who have ideas and build them. Everything here is a collaborative effort including the vision, development, design and marketing.
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Collaborate</strong><br/></span> Jump into
          any <a href="<%= discover_path(:bounties) %>">open bounties</a> on
          products that interest you.
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Earn</strong><br/></span> Your contributions to products are rewarded with its App Coins.
        </div>
        <div class="col-md-2">
          <span class="lead"><strong>Share</strong><br/></span>Each month the products revenue is split with those that have App Coins.
        </div>
      </div>
    </div>
  </div>
<% end %>
