<table class="container header" cellspacing="0" cellpadding="0" align="center" id="holder-logo">
	<tr>
		<td>
      <a href="<%= root_url %>" target="_blank" id="logo">
				<img alt="Assembly" src="<%= image_url('emails/logo.png') %>" width="159" height="32" />
      </a>
    </td>
		<td class="right">
      <span><%= today.strftime('%A').upcase %></span>
      <%= today.strftime('%B %-d, %Y').upcase %>
    </td>
	</tr>
</table>
