<% title 'Welcome', 'Find something that interests you and start contributing' %>
<%= render 'shared/deprecated_navbar' %>

<div class="jumbotron-inverse jumbotron-informational">
  <div class="container">
    <h1>Discover Tasks</h1>
    <p>Make an impact by tackling high-priority tasks.</p>
  </div>
</div>

<div class="page page-padded">
  <div class="container discover-task-list">

    <div class="row">
      <div class="col-3">
        <header>
          <h2>Code Tasks</h2>
        </header>
        <div class="list wip-list">
          <% @code_tasks.each do |task| %>
            <%= render partial: 'erb/wips/summary', object: task, watchers: true, product: true %>
          <% end %>
        </div>
      </div>
      <div class="col-3">
        <header>
          <h2>Design Tasks</h2>
        </header>
        <div class="list wip-list">
          <% @design_tasks.each do |task| %>
            <%= render partial: 'erb/wips/summary', object: task, watchers: true, product: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/deprecated_footer' %>

<script>
  analytics.track('welcome.viewed')
</script>
