.activity-group {
  @include clearfix();
  @include box-sizing(border-box);
  font-size: 16px;
}

.stream-event-attachment img{
  width: 200px;
  margin-top: 10px;
}

.activity-group-expandable {
  cursor: pointer;
}

.activity-group-votable {
  .mint {
    margin-left: 5px;
  }
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  margin-bottom: -1px;
  margin-left: 60px;
  width: 770px;

  .activity-group-gutter {
    padding: 6px;
    width: 60px;
    position: relative;
  }

  .activity-group-timestamp {
    display: none;
  }

  .vote-box {
    margin: 10px;
  }

  .activity-group-content {
    @include padding-top-bottom(20px);
    border-left: 1px solid $gray-lighter;
    padding-left: 90px;
    border-top: none;
    min-height: 82px;
  }
}

.activity-group-important {
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  margin-bottom: -1px;
  margin-left: 60px;
  width: 770px;

  .activity-group-gutter {
    padding: 6px;
    width: 60px;
  }

  .activity-group-timestamp {
    display: none;
  }

  .activity-group-content {
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: none;
    border-top: none;
  }
}

.activity-group-highlight {
  background-color: #FFF8E8;
  border: 1px solid #EFE8D8;
  color: #D8902F;
  position: relative;
  z-index: 1;

  .activity-group-content {
    a {
      color: #D8902F;
    }
  }

  .activity-group-title {
    a {
      color: #D8902F;
      font-weight: bold;
    }
  }
}

// TODO: Fix this to always show the timestamp
.activity-group-votable + .activity-group,
.activity-group-important + .activity-group {
  .activity-group-timestamp {
    display: none;
  }
}

.activity-group-gutter {
  @include box-sizing(border-box);
  float: left;
  min-height: 1px;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  width: 160px;

  .avatar {
    margin-left: 55px;
    margin-bottom: 10px;
  }

  .username {
    text-align: center;
  }
}

.activity-group-timestamp {
  color: $gray;
  font-size: 14px;
  line-height: 27px;
  margin-top: -43px;
  margin-right: 30px;
  position: absolute;
  text-align: right;
  width: 130px;

  // First pass at timestamp timeline blips. Currently showing for empty
  // timestamps. Need to fix.
  &:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $gray-lighter;
    border-radius: $radius;
    position: absolute;
    right: -34px;
    top: 10px;
    z-index: 100;
  }
}

.activity-group-header {
  @include box-sizing(border-box);
  border-bottom: none;
  border-left: 2px dotted $gray-lighter;
  float: left;
  min-height: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  position: relative;
  width: 640px;
}

.activity-group-content {
  @include box-sizing(border-box);
  @include padding-top-bottom(20px);
  border-top: 1px solid $gray-lighter;
  border-left: 2px solid $gray-lighter;
  float: left;
  min-height: 1px;
  padding-left: 50px;
  position: relative;
  width: 640px;

  .commit-message{
    padding-left: 35px;
    font-style: italic;
    font-size: 14px;
  }
}

.activity-group-icon {
  position: absolute;
  margin-top: -3px;
  margin-left: -66px;
  height: 30px;
  width: 30px;
}

.activity-group-avatars {
  margin-top: 10px;

  > .avatar {
    @include inline-block();
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.activity-group-product {
  a {
    color: $gray;
    font-size: 14px;
    font-weight: bold;
  }
}

.product-container .activity-group-product{
  display:none;
}

.activity-group-title {
  float: left;
  line-height: 27px;
  vertical-align: middle;
  width: 588px;

  > .avatar {
    @include inline-block();
    margin-right: 10px;
    vertical-align: sub;
  }

  > .username {
    color: $black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  > .subject {
    font-weight: bold;
  }
}

.activity-group-content-embedded {
  border-top: 1px dotted $gray-light;
  margin-top: 30px;
}

.glyph-event-celebration, .glyph-event-product, .glyph-event-win-win, .glyph-event-create-product, .glyph-event-complete-completed-mission {
  @include retina-image(
    'glyph-event/glyph-event-celebration',
    30px 30px,
    'png',
    'glyph-event/glyph-event-celebration@2x',
    true
  );
}

.glyph-event-create-comment {
  @include retina-image(
    'glyph-event/glyph-event-awarded',
    30px 30px,
    'png',
    'glyph-event/glyph-event-awarded@2x',
    true
  );
}

.glyph-event-new, .glyph-event-signup-vote, .glyph-event-create-task, .glyph-event-create-discussion {
  @include retina-image(
    'glyph-event/glyph-event-new',
    30px 30px,
    'png',
    'glyph-event/glyph-event-new@2x',
    true
  );
}

.glyph-event-allocate-task {
  @include retina-image(
    'glyph-event/glyph-event-allocate',
    30px 30px,
    'png',
    'glyph-event/glyph-event-allocate@2x',
    true
  );
}

.glyph-event-reviewable-task {
  @include retina-image(
    'glyph-event/glyph-event-review',
    30px 30px,
    'png',
    'glyph-event/glyph-event-review@2x',
    true
  );
}

.glyph-event-promote-task {
  @include retina-image(
    'glyph-event/glyph-event-promote',
    30px 30px,
    'png',
    'glyph-event/glyph-event-promote@2x',
    true
  );
}

.glyph-event-demote-task {
  @include retina-image(
    'glyph-event/glyph-event-demote',
    30px 30px,
    'png',
    'glyph-event/glyph-event-demote@2x',
    true
  );
}

.glyph-event-work-code-added {
  @include retina-image(
    'glyph-event/glyph-event-pull-request',
    30px 30px,
    'png',
    'glyph-event/glyph-event-pull-request@2x',
    true
  );
}

.glyph-event-file {
  @include retina-image(
    'glyph-event/glyph-event-file',
    30px 30px,
    'png',
    'glyph-event/glyph-event-file@2x',
    true
  );
}

.glyph-event-work-design-deliverable {
  @include retina-image(
    'glyph-event/glyph-event-edit',
    30px 30px,
    'png',
    'glyph-event/glyph-event-edit@2x',
    true
  );
}


h2.user-activity-group-heading{
  padding-top: 30px;
}
.user-activity-group{
  .activity-group-votable, .activity-group-important, .activity-group-highlight{
    margin-left: -40px ;
  }

  .activity-group-gutter{
    display:none;
  }
}
