.activity-timestamp {
  color: $gray;
  font-size: 14px;
}

.activity-title {
  @include clearfix();
  color: $gray;
  margin-top: 30px;

  a {
    color: $gray;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.activity-avatar {
  float: left;
  margin-right: 15px;
}

.activity-description {
  @include clearfix();
  margin-top: 10px;

  a {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  img {
    max-width: 500px;
    max-height: 500px;
  }
}

.activity-title + .activity-description {
  margin-left: 50px;
}
