// Autocomplete thing
//
// Styleguide Autocomplete
.autocomplete {
}

.autocomplete-suggestion {
  @include clearfix();
  padding: 5px;
  background-color: white;

  .name {
    @include ellipsis();
    float: left;
    line-height: 30px;
    color: rgba(black, 0.6);

    > strong {
      color: black;
    }
  }

  .avatar {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}

.autocomplete-selected {
  background-color: $blue;

  .name,
  .name > strong {
    color: white;
  }
}
