/*
Display a grid of avatars. Good for compact collections of users.

Styleguide Avatar Grids.
*/
.avatar-grid {
  @include clearfix();
  margin-left: - $avatar-grid-gutter;
  margin-top: - $avatar-grid-gutter;

  .avatar-grid-item {
    display: block;
    float: left;
    margin-top: $avatar-grid-gutter;
    margin-left: $avatar-grid-gutter;
  }

  .avatar-grid-more {
    padding-top: 15px;
    clear: both;
    color: $gray;
    text-align: center;
  }

  // Deprecated
  > .avatar {
    float: left;
    margin-top: $avatar-grid-gutter;
    margin-left: $avatar-grid-gutter;
  }
}
