/*
Empty.

Styleguide Banners.
*/
.banner {
  box-shadow: 0 1px 1px 0 rgba(black, 0.03);
}

.banner-heading,
.banner-content {
  @include box-sizing(border-box);
  padding: 14px ($grid-gutter-width * 2);
  border: 1px solid rgba(black, 0.12);
}

.banner-heading {
  @include clearfix;
  color: white;
  background-color: $green;

  border-radius: 4px 4px 0 0;
  padding-bottom: 15px;
  border-bottom: none;

  > .actions {
    float: right;
  }

  > .title {
    float: left;

    font-size: 26px;
    line-height: 36px;

    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.banner-content {
  color: $gray;
  background-color: $white;

  border-radius: 0 0 4px 4px;
  padding-top: 15px;
  border-top: none;

  strong {
    color: $green;
  }
}

