/*
Empty.

Styleguide Breadcrumbs.
*/
.breadcrumb {
  @extend .list-unstyled;
  padding: 0;
  list-style-type: none;

  font-size: 14px;
  line-height: 20px;
  font-weight: bold;

  > li {
    @include inline-block;

    > a {
        @include inline-block;
      color: $gray;

      &:after {
        @include inline-block;
        content: "";
        background-image: url('breadcrumb/seperator.png');
        width: 5px;
        height: 8px;
        margin-left: 5px;
      }
    }
  }

}
