.bulletin-items {
  margin: 0;
  padding: 0;
}

.bulletin-item {
  border-bottom: 1px solid $gray-lighter;
  list-style: none;
  font-size: 16px;

  > a {
    color: $blue;
    display: block;
    font-family: $solitaire-family;
    padding: 15px 30px;

    .bulletin-item-hint {
      opacity: 0;
      @include transition(opacity ease-in-out 300ms);
    }
  }

  > a:hover {
    color: $blue-light;

    .bulletin-item-hint {
      opacity: 1;
      @include transition(opacity ease-in-out 100ms);
    }
  }
}

.bulletin-item-label {
  display: inline-block;
  color: $gray;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 35px;
}

.bulletin-item-type {
  display: inline-block;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: -2px;
}

.bulletin-item-detail {
  display: inline-block;
  margin-left: 10px;
  text-decoration: underline;
}

.bulletin-item-hint {
  color: $gray;
  float: right;
}

.bulletin-item-hint-icon {
  display: inline-block;
  margin-left: 5px;
}
