.dropdown {
  @include display-box;
  position: relative;

  .btn,
  .btn-default  {
    @include padding-left-right(10px);
    text-align: left;

    span {
      color: $gray;
      margin-right: 3px;
      font-weight: normal;
    }
  }

  .btn-build {
    padding-right: $default-margin;
  }

  &.align-right {
    .dropdown-menu {
      right: 0;
      left: inherit;
    }
  }
}

.dropdown-menu {
  @include box-sizing(border-box);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 179px;
  padding: 6px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  background-color: $white;
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);

  .helper {
    display: block;
    padding: 4px 15px 2px 15px;
    clear: both;
    color: $gray;
    white-space: nowrap;
  }

  li {
    a {
      display: block;
      padding: 4px 15px 2px 15px;
      clear: both;
      color: $gray-dark;
      white-space: nowrap;
      font-weight: bold;
      // @include transition(ease-in-out 300ms);

      &:hover,
      &:active {
        color: $blue;
        background-color: rgba($blue, 0.1);
        // @include transition-duration(50ms);
      }

      span {
        color: $gray;
      }
    }

    &.active {
      a {
        color: $blue;
        background-color: rgba($blue, 0.1);
      }
    }
  }

  .disabled {
    a,
    a:hover,
    a:focus {
      color: light-gray;
    }
  }

  .divider {
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    background-color: $gray-light;
  }
}

.caret {
  @include inline-block;
  text-align: right;
  margin-left: 10px;
  margin-right: 0;
  position: relative;

  @include retina-image(
    'iconography/dropdown-chevron',
    11px 6px,
    'png',
    'iconography/dropdown-chevron@2x',
    true
  );
  background-repeat: no-repeat;

  width: 11px;
  height: 6px;

  vertical-align: middle;
}

.open {
  .dropdown-menu {
    display: block;
  }

  .caret {
    @include retina-image(
      'iconography/dropdown-chevron_active',
      11px 6px,
      'png',
      'iconography/dropdown-chevron_active@2x',
      true
    );
    top: -1px;
  }
}
