.educational-modal {
  @include neuter-paragraphs;
  padding: $default-margin * 2;
  margin-top: $default-margin * 4;
  margin-bottom: $default-margin * 4;

  background: rgba($green-light, 0.1);
  border: 1px solid rgba($green, 0.2);

  border-radius: $radius;
  color: $green;

  h1,
  h2,
  p {
    color: $green;
  }

  h1,
  h2 {
    margin: 0;
    margin-bottom: $default-margin;
  }

  h2 {
    font-weight: bold;
  }
}

.dismissable-modal {
  position: relative;

  .close-me {
    display: block;
    vertical-align: middle;
    position: absolute;
    top: $default-margin * 2;
    right: $default-margin * 2;
    content: "";
    width: 17px;
    height: 16px;
    cursor: pointer !important;
    z-index: 1000;
    @include retina-image(
      'iconography/glyph-close-green',
      17px 16px,
      'png',
      'iconography/glyph-close-green@2x',
      true
    );

    &:active {
      top: $default-margin * 2 + 1px;
    }

  }
}