/*
Empty.

Styleguide Flyouts.
*/
.flyout {
  position: relative;
  /* (whatupdave) moved styles to popover.css.scss */
}

.flyout-heading,
.flyout-footer {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5pt;
  line-height: 1.6;
  text-transform: uppercase;

  color: $gray;
}

.flyout-heading {
  @include clearfix;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px - 5px;
  padding-bottom: 10px - 1px;
  border-bottom: 1px dotted $gray-light;
}

.flyout-content {
  @include neuter-paragraphs;
  padding: 30px;
  padding-top: 22px;

  p {
    font-family: $tiempos-family;
    color: $gray-darker;
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.flyout-footer {
  @include clearfix;
  border-top: 1px solid $gray-light;
  padding: 15px 30px;
}
