/*
Empty.

Styleguide Footers.
*/
.footer {
  @include clearfix;
  margin-top: 60px;
  color: $gray-light;
  background-color: rgba($gray-lighter, 0.3);
}

.footer-nav {
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;

  a {
    color: $gray;
  }
}

.footer + .footer {
  margin-top: 0;
}

.footer-about {
  padding-top: 30px;
  padding-bottom: 15px;
}

.footer-smallprint {
  padding-top: 15px;
  // Extra bottom margin for the Olark widget
  padding-bottom: 60px;
  font-size: 14px;

  .fb-like {
    margin-top: -10px;
  }
}
