// TODO Rename old instances of .input-group-control to
// new name
.input-group-control,
.form-control-group {
  margin-top: 1px;

  .form-control {
    border-radius: 0;
    margin-top: -1px;

    &:not(:first-child) {
      box-shadow: none;
    }

    &:not(:first-child):not(:focus) {
      border-top-color: $gray-lighter;
    }

    &:not(:last-child):not(:focus) {
      border-bottom-color: $gray-lighter;
    }

    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    &:focus,
    &.focus {
      position: relative;
    }
  }
}
