$hero-image-border-radius: $radius;

/*
Empty.

Styleguide Hero Images.
*/
.hero-image {
  margin-bottom: 30px;
  img {
    display: block;
    width: 100%;
    border-radius: $hero-image-border-radius;
  }
}
