/*
Empty.

Styleguide Icons.
*/
.icon {
  display: inline-block;
  position: relative;
  background-repeat: none;
  background-position: 0 0;
  vertical-align: text-top;
}

.icon-no-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.icon-repo {
  @include retina-image(
    'iconography/icon-repository',
    12px 16px,
    'png',
    'iconography/icon-repository@2x',
    true
  );

  height: 16px;
  width: 12px;
}

.icon-pull-request {
  @include retina-image(
    'iconography/icon-pull-request',
    14px 15px,
    'png',
    'iconography/icon-pull-request@2x',
    true
  );

  height: 15px;
  width: 14px;
}

.icon-refresh {
  @include retina-image(
    'iconography/icon-refresh',
    25px 20px,
    'png',
    'iconography/icon-refresh@2x',
    true
  );
  height: 20px;
  width: 25px;
}

.code-icon {
  @include asset-pipeline-retina-image('icon-ideas-label-code', 100%);
  @include size(16px 16px);
}

.design-icon {
  @include asset-pipeline-retina-image('icon-ideas-label-design', 100%);
  @include size(16px 16px);
}

.copy-icon {
  @include asset-pipeline-retina-image('icon-ideas-label-copy', 100%);
  @include size(16px 16px);
  @include transform(translateY(1px));
}

.chevron-icon {
  @include asset-pipeline-retina-image('icon-right-chevron', 100%);
  @include size(6px 10px);
}

.list-group-item {
  .icon {
    margin-right: 6px;
  }
}
