/*
Empty.

Styleguide Labels.
*/
.label {
  @include inline-block;
  padding: 2px 4px;

  background-color: $label-background-color;
  border: 1px solid $label-border-color;
  line-height: 1.2;

  color: $label-color;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  border-radius: $label-radius;
}

.label-promoted {
  color: $label-promoted-color;
  border-color: $label-promoted-border-color;
  background-color: $label-promoted-background-color;
}
