.lanyard {
  text-align: center;
  position: relative;
}

.lanyard-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-right: none;
  border-top: none;
  border-radius: 0;
  border-bottom-left-radius: $border-radius-base;
}

.lanyard-person {
  font-weight: bold;
  border-bottom: 1px solid $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;

  > .avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  > .name {
    color: $black;
    font-size: 26px;
  }

  > .username {
    color: $green;
  }
}

.lanyard-location {
  border-bottom: 1px solid $gray-lighter;
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lanyard-bio {
  border-bottom: 1px solid $gray-lighter;
  padding: 30px 15px;
  font-size: 14px;

  :last-child { margin-bottom: 0; }
}

.lanyard-social {
  display: table;
  table-layout: fixed;
  width: 100%;

  a {
    display: table-cell;
    border-left: 1px solid $gray-lighter;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: $gray;

    vertical-align: center;

    &:first-child {
      border-left: none;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }

    &.disabled {
      background-color: rgba($gray-lighter, 0.1);
      img { opacity: 0.1; }
    }

    &.connect {
      color: $blue;
    }
  }
}
