// Deprecated
.list {
  > .item {
    @include clearfix();

    &:last-child {
      border-bottom: none;
    }
  }
}

// Deprecated
.list-group {
  list-style-type: none;
  padding: 0;
  background: transparentize($gray, .95);
  border: 1px solid transparentize($gray, .8);
  border-radius: $radius;
  @include padding-top-bottom(6px);

  .list-group-item {
    @include padding-left-right(12px);
  }
}

// Deprecated
.list-group-item {
  line-height: 2;
  font-weight: bold;

  a {
    display: block;
    margin: 0 -12px;
    @include padding-left-right(12px);

    &:hover {
      background-color: transparentize($gray, .9);
    }

    &:after {
      vertical-align: middle;
      content: "";
      display: inline-block;
      float: right;
      position: relative;
      top: 9px;

      @include retina-image(
        'iconography/glyph-right-caret',
        6px 10px,
        'png',
        'iconography/glyph-right-caret@2x',
        true
      );

      width: 6px;
      height: 10px
    }
  }
}

// Deprecated
.list-group-links {
  background: transparentize($blue, .95);
  border-color: transparentize($blue, .8);

  .list-group-item {
    a {

      &:hover {
        background-color: transparentize($blue, .9);
      }

      &:after {
        @include retina-image(
          'iconography/glyph-right-caret-link',
          6px 10px,
          'png',
          'iconography/glyph-right-caret-link@2x',
          true
        );

        width: 6px;
        height: 10px;
      }
    }
  }
}

/*
Empty.

Styleguide Lists - Unstyled.
*/
.list-unstyled {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*
Empty.

Styleguide Lists - Horizontal.
*/
.list-horizontal {
  @include clearfix;

  > .list-item {
    float: left;
  }
}

/*
Empty.

Styleguide Lists - Ruled.
*/
.list-ruled {
  > .list-item {
    border-top: 1px solid $gray-lighter;
  }

  > .list-item:first-child {
    border-top: none;
  }
}

/*
Empty.

Styleguide Lists - Meta.
*/
.list-meta {
  @extend .list-unstyled;
  @extend .list-horizontal;

  color: $list-meta-color;
  font-size: 14px;
  margin-left: - ($list-meta-horizontal-padding - 1px);
  margin-right: - $list-meta-horizontal-padding;

  > .list-item {
    padding-left: ($list-meta-horizontal-padding - 1px);
    padding-right: $list-meta-horizontal-padding;
    border-left: 1px solid $gray-lighter;

    &:first-child,
    &:empty {
      border-left-color: transparent;
    }
  }

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &,
  a {
    color: $list-meta-color;
  }
}

/*
Empty.

Styleguide Lists - Dashed.
*/
.list-dashed {
  @extend .list-unstyled;

  li:before {
    content: "– ";
  }
}
