/*
Empty.

Styleguide Markdown Content.
*/
.markdown-content {
  @include neuter-paragraphs;
  //  @include uber-word-wrap;
  font-size: 18px;
  line-height: 1.6;

  a {
    color: $gray-dark;
    border-bottom: 1px solid $gray-light;

    &:hover {
      background: $color-highlight;
      border-color: $color-highlight;
    }
  }

  p,
  blockquote,
  ol,
  ul {
    margin-bottom: $default-margin;
  }

  ol,
  ul {
    padding-left: 50px;

    li {
      // 10px = default gutter
      padding-left: 15px - 10px;
    }
  }

  ol li {
    margin-bottom: $default-margin / 2;
  }

  ul li {
    margin-bottom: $default-margin / 4;
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: $radius;
  }

  blockquote {
    padding-left: 30px - 4px;
    padding-top: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px solid $green-light;
    color: $gray;
    font-style: italic;
  }

  code {
    font-family: $droid-sans-mono-family;
    font-size: 13px;
    color: darken($gray, 15%);
  }

  // Inline code styles
  code {
    @include inline-block();
    @include padding-left-right(4px);
    border: 1px solid $gray-lighter;
    border-radius: $markdown-content-pre-radius;
    background-color: $body-bg;
  }

  pre {
    background-image: url(image-path('markdown-content/pre-background.png'));
    @include box-sizing(border-box);
    display: block;
    border: 1px solid $gray-lighter;
    border-radius: $markdown-content-pre-radius;
    background-color: $body-bg;
    box-shadow: $shadow;
    padding: 21px 30px 20px 30px;
    line-height: 21px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    // Reset inline code styles
    code {
      @include padding-left-right(0);
      display: block;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7pt;
    line-height: 1.5;
    color: $gray;
    margin-top: $default-margin * 3;
    margin-bottom: $default-margin;
  }
}

/*
Empty.

Styleguide Markdown Content - Fancy.
*/
.markdown-content-fancy {
  font-family: $tiempos-family;
  font-size: 16px;
  line-height: 1.6;
  color: $gray-darker;
}
