/*
Styleguide Task list.
*/

.milestone {
  padding-top: 40px;

  .title {
    padding-top: 10px;
    padding-bottom: 5px;

    a {
      display: block;
      color: $black;
      font-weight: bold;
      line-height: 1.3;
      margin-top: 5px;
    }

    .completion {
      float: right;
      color: $gray;
      margin-left: $gw-gutter;
      font-size: 14px;
      line-height: 34px;
    }
  }

  .tag-list {
    margin: 0;
  }
}

.feature-image {
  background-color: $body-bg;
  border-radius: 0;
  margin-bottom: 30px;
  border-radius: $radius;
  max-height: 300px;
  overflow: hidden;
  @include transition(300ms);

  img {
    display: block;
    margin: 0 auto;
  }
}