/*
A standard navigation area. What denotes a nav over a list? Each element in a
nav is a link, whereas lists can include text elements.

Styleguide Navs.
*/
.nav {
  @include clearfix;
  list-style-type: none;

  // Reset ol, ul styles
  padding-left: 0;
  margin-bottom: 0;
}

.nav-item {
  a {
    display: block;
  }
}

.nav-with-badges {
  .badge:last-child {
    margin-left: 5px;
  }
}


/*
A horizontal navigation element.

Example:

    <ul class="nav nav-horizontal">
      <li class="nav-item">Nav item 1</li>
      <li class="nav-item">Nav item 2</li>
    </ul>

Styleguide Nav / Nav Horizontal
*/
.nav-horizontal {
  margin-left: - $nav-horizontal-gutter-width;

  .nav-item {
    float: left;
    margin-left: $nav-horizontal-gutter-width;

    //Temporary hack to move the product state closer to the product name.
    &.nav-item-sibling {
      margin-left: 10px;
      position: relative;

      .badge {
        display: inline;
        text-transform: uppercase;
        letter-spacing: $base-letter-spacing;
        font-weight: bold;
        font-size: 12px;
        padding: 3px 4px;
        background-color: transparent;
        border: 1px solid $gray-lighter;
        color: $gray;
      }
    }

    &.pull-right {
      @include pull-right;
    }
  }
}


.nav-tabs {
  @extend .nav-horizontal;

  .nav-item-active {
    box-shadow: 0 $nav-tabs-border-width 0 0 $blue;
  }
}

.nav-tertiary {
  padding: 0;
  margin-bottom: 15px;

  list-style-type: none;
  box-shadow: $shadow;

  li {
    padding: 7px 15px;

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;

    color: $gray;

    border: 1px solid $gray-light;
    list-style-type: inherit;

    &.active {
      color: $black;

      a {
        color: inherit;
        cursor: inherit;

        &:hover {
          color: inherit;
        }
      }
    }

    a {
      display: block;
      color: $blue;

      &:hover {
        color: $blue-light;
      }
    }
  }

  li {

    &:first-of-type {
      border-radius: $radius $radius 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 $radius $radius;
    }
  }

  li + li {
    margin-top: -1px;
    border-radius: 0;
  }

  li:only-child {
    border-radius: $radius;
  }
}


// Deprecated: Your standard horizontal navs. It can have plain text as well as
// links. There's a divider to break apart nav sections. Finally, the you can
// denote the current navigation state.
//
// .nav-stacked - Stack the nav vertically. Useful for when the nav has lots (or
//                an unknown) number of items.
// .nav-outline - Add a pretty border
// .nav-stacked.nav-outline - Add a pretty border
//
// Styleguide Nav (Deprecated)
.deprecated-nav {
  @include clearfix();
  @include font-family-semibold();
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  line-height: 24px;
  font-size: 16px;

  > li {
    float: left;

    > a,
    > .nav-text {
      display: block;
      padding: 10px 15px;
    }

    &.active > a {
      color: $black;
      background-color: white;

      .nav-count {
        background-color: $blue;
      }
    }

    &.divider {
      margin: 5px 10px;
      background-color: $gray-light;

      height: $line-height;
      width: 1px;
    }
  }

  .nav-text {
    color: $gray;
  }

  .nav-count {
    @include inline-block;
    float: right;

    @include padding-left-right(6px);
    padding-top: 1px;
    line-height: 1;

    margin-top: 3px;
    margin-bottom: 3px;

    border-radius: $radius;
    color: $white;
    background-color: rgba($gray, 0.5);

    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin-left: 10px;
  }
}

.deprecated-nav-stacked {
  > li {
    float: none;

    &.divider {
      margin: 10px;

      height: 1px;
      width: auto;
    }
  }
}

.deprecated-nav-outline {
  border: none;
  box-shadow: $shadow;

  > li {
    border: 1px solid $gray-lighter;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }

  li.divider {
    margin: 0;
    height: 40px + 2px;
    width: 2px;
    border: none;
    background-color: $gray-light;
  }

  &.deprecated-nav-stacked {

    li.divider {
      width: 100%;
      height: 2px;
      border: none;
    }
  }
}
