/*
Empty.

Styleguide Navbars.
*/
.navbar {
  @include clearfix;
  @include padding-left-right($grid-gutter-width);
  position: relative;
  height: $navbar-height;

  > .pull-left,
  > .pull-right {
    @include padding-left-right($grid-gutter-width);
  }
}

.navbar-default {
  background-color: transparentize($gray-lighter, .5);
  box-shadow: inset 0 -1px 0 0 rgba($black, 0.04);
  
  a:hover {
    opacity: 0.85;
  }
}

.navbar-logo {
  padding-top: ($navbar-height - 32px) / 2;
  padding-bottom: ($navbar-height - 32px) / 2;
}

a.navbar-logo {
  display: block;
}

.navbar-title {
  font-size: 21px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.navbar-nav {
  // padding-top: ($navbar-height - 36px) / 2;
  // padding-bottom: ($navbar-height - 36px) / 2;

  font-size: 15px;
  line-height: $navbar-height;
  font-weight: bold;

  .nav-item {
    height: $navbar-height;
  }

  a:not(.btn) {
    display: block;
    color: $gray;
    line-height: inherit;
    
  }

  .btn {
    @include margin-top-bottom(($navbar-height - $btn-default-height) / 2);
  }
}

.navbar-tabbed {
  border-bottom: $navbar-product-border-width solid $navbar-product-border-color;

  .navbar-nav {
    @include padding-top-bottom(0);

    // This is a bit of a hack
    a,
    .navbar-clickable {
      color: $navbar-product-color;
      @include transition (all 300ms ease-in-out);
      border-bottom: $navbar-product-border-width solid transparent;
      
      &:hover {
        border-color: $gray-light;
        @include transition-duration(100ms);
      }
    }
    .navbar-tabbed-tab-active {
      border-bottom: $navbar-product-border-width solid $blue;
      
      a:hover {
        border-color: $blue;
      }

      .badge {
        @extend .badge-primary;
      }
    }
  }
}



