/*
Empty.

Styleguide Page Headings.
*/
.page-heading {
  @include clearfix;
  border-bottom: 1px solid $gray-lighter;

  // Reset any heading styles
  // This should really be set by default
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

// TODO: this style sucks
.page-heading-title,
.page-heading-title-no-width {
  font-size: 26px;
  line-height: 1.4;

  margin-bottom: 20px;

  &,
  a {
    color: $gray-darker;
  }

  small {
    color: $gray;
    font-size: 21px;
    line-height: 36px;
    font-weight: normal;
  }
}

.page-heading-title {
  @include pull-left;
  width: grid-width(4);
}

.page-heading-actions {
  @include pull-right;
}

.page-heading-meta {
  clear: both;
  border-top: 1px solid $gray-lighter;
  padding-top: 10px;
  padding-bottom: 10px;

  &.affix {
    width: 960px;
    top: 0px;
    background-color: #fff;
    z-index: 1000;
    display: block;
    border-bottom: 1px solid $gray-light;
    padding-top: 26px;
    box-shadow: $shadow;
  }

  .mint {
    margin-top: -15px;
  }
}

// Deprecated: This isn't for general use, it's hack to get the vote box on the
// WIP#show page.
.deprecated-page-heading-vote-box {
  float: left;
  margin-left: - (30px + 20px);
}

.deprecated-page-heading-nav {
  margin-top: 20px;
  margin-bottom: - (30px + 1px);
  font-size: 18px;
  border-left: 1px solid #edebe7;

  li {
    border: 1px solid #edebe7;
    border-left: none;

    a {
      font-weight: normal;
      font-size: 16px;
      color: $gray;
    }

    &.active {
      border-bottom: 1px solid white;
      margin-bottom: -1px;

      a {
        font-weight: 600;
      }
    }
  }
}

.page-heading-center {
  text-align: center;

  h1 {
    @include box-sizing(border-box);
    @include padding-top-bottom(12px);
    @include inline-block;
    margin-top: 0;
    color: $gray;
    font-size: 26px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 0.5pt;
    text-transform: uppercase;
    border-bottom: 2px solid $gray-light;
  }

  p {
    color: $gray-darker;
    margin-left: auto;
    margin-right: auto;
    width: grid-width(4) + $grid-gutter-width + $grid-gutter-width;
  }
}
