/*
Empty (not unlike SXSW).

Styleguide Panel Groups.
*/
.panel-group {
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  box-shadow: $shadow;
  position: relative;

  > .panel {
    border: none;
    margin-top: 0;
    border-radius: 0;
    border-top: 1px dotted $gray-lighter;

    &:first-child {
      border-top: none;
    }
  }
}

.panel + .panel-group,
.panel-group + .panel,
.panel-group + .panel-group {
  margin-top: $panel-group-margin;
}
