/*
Empty.

Styleguide Poster Images.
*/
.poster-image {
  position: relative;
  overflow: hidden;

  > img {
    display: block;
    width: 100%;
  }

  > .caption {
    position: absolute;
    right: 0;
    bottom: -30px;

    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  > .caption,
  > .caption > a {
    color: $gray;
  }
}
