.segmented-list {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  list-style: none;
  padding: 0;
}

.segmented-list-item {
  @include box-sizing(border-box);

  border-left: 1px solid $gray-lighter;
  display: inline-block;
  font-family: $tiempos-family;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 32%;

  &:first-child {
    border-left: none;
  }
}

.segmented-list-label {
  color: $gray;
  font-family: $solitaire-family;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: $base-letter-spacing;
  margin-bottom: 3px;
  text-transform: uppercase;
}
