$font-size-base: 16px;
$font-size-small: ceil(($font-size-base * 0.85));

.stats-tabs {
  width: 100%;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  padding-top: 20px;
  padding-bottom: 20px;

  display: table;
  table-layout: fixed;

  // FIXME: Make this a variable
  margin-bottom: 30px;

  > .stat {
    display: table-cell;
    text-align: center;
    font-size: 32px;

    border-left: 1px solid $gray-lighter;

    &:first-child {
      border-left: none;
    }

    > label {
      display: block;

      color: $gray;
      font-size: $font-size-small;

      font-family: $font-family-sans-serif;
      letter-spacing: 1.2;
      font-weight: bold;
    }
  }
}
