.new-status-update {
  margin-bottom: 20px;

  .update {
    @include box-sizing(border-box);
    width: 100%;
    resize: none;
    padding: 10px;
    margin-bottom: 0;
    height: 2.5em;
  }

  .form-actions {
    margin-top: 0;
  }
}

.status-update {
  @include clearfix();

  > .meta {
    color: $gray;
    font-size: 1.4rem;
    line-height: 3rem;

    padding-left: 30px + 10px;

    > .avatar {
      float: left;
      margin-left: - (30px + 10px);
    }
  }
}
