/*
Used for showing the progress of something through a series of definite steps. Use
cautiously, as this encourages "wizard" style UI where you walk users through steps.

Styleguide Step bars.
*/
// FIXME: Deprecate progressbar from HTML -> stepbar.
.progressbar,
.stepbar {
  display: table;
  width: 100%;
  height: $progressbar-height;

  // FIXME: Remove this bottom margin
  margin-bottom: 10px;
}

.progressbar-step,
.stepbar-step {
  display: table-cell;
  background-color: $progressbar-background-color;

  border: 1px solid $progressbar-border-color;
  border-left-color: $progressbar-divider-color;
  border-right-color: transparent;

  &:first-child {
    border-top-left-radius: $progressbar-border-radius;
    border-bottom-left-radius: $progressbar-border-radius;

    border-left-color: $progressbar-divider-color;
  }

  &:last-child {
    border-top-right-radius: $progressbar-border-radius;
    border-bottom-right-radius: $progressbar-border-radius;
    border-right-color: $progressbar-border-color;
  }
}

.progressbar-step-completed,
.stepbar-step-done {
  background-color: $green;
  border-color: $green;

  &:first-child {
    border-left-color: $green;
  }

  &:last-child {
    border-right-color: $green;
  }
}

.progressbar-step-completed + .progressbar-step,
.stepbar-step-done + .stepbar-step {
  border-left-color: $green;
}

.stepbar + .stepbar {
  margin-top: 10px;
}
