// TODO: (whatupdave) ironically these styles don't match the styleguide...

.styleguide-example {
  padding: 30px;
  margin-bottom: 60px;

  > h3 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;

    em {
      color: $gray-light;
      text-transform: none;
      float: right;
    }
  }

  .styleguide-description {
    margin-bottom: 30px;
    width: 500px;
    color: $gray;
  }

  .styleguide-element {
    @include padding-top-bottom(30px);
    position: relative;
  }

  > pre {
    font-size: 12px;
    font-family: $monospace;
    color: $gray;

    background-color: $gray-lighter;
    padding: 15px 30px;

    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;

    border: 1px solid $gray-light;
    box-shadow: $shadow;
    border-radius: $radius;
  }

  .styleguide-element + pre {
  }
}

// .styleguide-example {
//   margin: 15px 0;
//   background: rgba(255, 255, 255, 0.5);
//   border: 1px solid #ddd;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
// }
// .styleguide-example > h3 {
//   margin: 0;
//   padding: 5px;
//   color: #fff;
//   font-size: 12px;
//   text-transform: uppercase;
//   background: #333;
//   border-top: 1px solid #000;
// }
// .styleguide-example > h3 em {
//   float: right;
//   text-transform: none;
//   font-style: normal;
//   font-weight: normal;
//   color: #999;
// }
// .styleguide-example .styleguide-description {
//   padding: 10px 5px;
//   background: #f1f1f1;
//   border-bottom: 1px solid #ddd;
// }
// .styleguide-example .styleguide-description p:first-child {
//   margin-top: 0;
// }
// .styleguide-example .styleguide-description p:last-child {
//   margin-bottom: 0;
// }

// .styleguide-example
// .styleguide-element + .styleguide-element {
//   margin-top: -5px;
//   padding-top: 15px;
//   border-top: 1px solid
//   #eee;
// }
// .styleguide-example .styleguide-element .styleguide-modifier-name {
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 5px 8px;
//   font-size: 11px;
//   color: #999;
//   background: #f9f9f9;
//   border: 1px solid #eee;
//   border-top: none;
// }
// .styleguide-example .styleguide-html, .styleguide-example pre {
//   padding: 5px 10px;
//   background: #edf6f8;
//   border-top: 1px solid #dde7ea;
//   overflow: auto;
// }
// .styleguide-example
// .styleguide-html .highlight {
//   background: none;
// }
// .styleguide-example ul.styleguide-modifiers {
//   margin: 0 0 0 10px;
// }
// .styleguide-example ul.styleguide-modifiers li {
//   list-style-type: none;
//   margin-left: 0;
// }
// .styleguide-example ul.styleguide-modifiers li strong {
//   font-family: Monaco,
//   monospace;
//   font-size: 12px;
//   font-weight: normal;
//   color: #222;
// }
// .styleguide-example > .styleguide-code, .styleguide-example code {
//   font-family: Monaco, monospace;
//   font-size: 12px;
// }
