.table {
  width: 100%;
  font-size: 16px;

  .text-muted {
    font-weight: normal;
  }

  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-light;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        @include padding-top-bottom(8px);
        border-top: 1px solid $gray-lighter;
      }
    }
  }

  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

}
