.tag {
  @include inline-block;
  border: 1px solid $gray-light;
  color: $gray;
  font-family: $solitaire-family;
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  margin-right: 6px;
  line-height: 17px;
  padding: 2px 6px 0 4px;
  border-radius: 10px 3px 3px 10px;

}

.tag:last-child {
  margin-right: 0;
}

.tag:before {
  content: "•";
  font-size: 27px;
  font-weight: normal;
  margin-right: 2px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.tag-muted {
  color: $gray;
  font-weight: normal;

  a {
    color: $gray;
    text-decoration: underline;
  }
}

.tag-list {
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 24px;
}

.tag-andriod:before        { color: $tag-android; }
.tag-elastic-search:before { color: $tag-elastic-search; }
.tag-ios:before            { color: $tag-ios; }
.tag-javascript:before     { color: $tag-javascript; }
.tag-postgres:before       { color: $tag-postgres; }
.tag-rails:before          { color: $tag-rails; }
.tag-ruby:before           { color: $tag-ruby; }
