/*
This name harks back to the teardrops that Chris shed writing this module.

Styleguide Textdrop Control.
*/
.textdrop-control {
  @extend %form-input;
  padding: 0;

  > textarea {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
  }

  > .dropzone {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
