/*
Empty.

Styleguide Vote Boxes.
*/
.vote-box {
  @include box-sizing(border-box);
  @include user-select(none);
  @include retina-image(
    'vote-box/upvote', 10px 7px, 'png',
    'vote-box/upvote@2x',
    true
  );

  padding-top: 10px + 7px + 10px;
  padding-bottom: 7px;

  width: 30px;
  overflow: hidden;

  border-radius: $radius;

  color: $blue;
  background-color: $white;
  border: 1px solid transparentize($blue, .75);
  box-shadow: $shadow;

  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center 10px;

  &[data-vote-voted],
  &.vote-box-voted {
    @include retina-image(
      'vote-box/upvote-voted', 10px 7px, 'png',
      'vote-box/upvote-voted@2x',
      true
    );

    cursor: default;
    background-color: transparentize($blue, .95);
    border-color: transparentize($blue, .85);
    box-shadow: none;
  }
}

.vote-box.boosted,
.vote-box-promoted {
  @include retina-image(
    'vote-box/promoted-upvote', 10px 13px, 'png',
    'vote-box/promoted-upvote@2x',
    true
  );

  background-position: center (((10px + 7px + 10px) - 13px) / 2);
  border-color: transparentize($purple, .75);
  color: $color-promoted;

  &[data-vote-voted],
  &.vote-box-voted {
    @include retina-image(
      'vote-box/promoted-upvote-voted', 10px 13px, 'png',
      'vote-box/promoted-upvote-voted@2x',
      true
    );

    background-color: transparentize($color-promoted, .95);
    border-color: transparentize($color-promoted, .85);
    box-shadow: none;
  }
}

.vote-box + .vote-box {
  margin-top: 5px;
}

.you-should-preorder{
  margin-top:10px;
  font-size:12px;
  margin-bottom:-10px;
  display:block
}
