// Deprecated: Put your shit in a well. Doesn't work well with flat styles (it
// was a hack for adding padding around elements).
//
// Styleguide Wells
.well {
  @include neuter-paragraphs;
  color: $gray;
  background-color: $gray-lighter;
  border-radius: $radius;
  text-align: center;
  box-shadow: $inset-shadow;

  // Sizes

  & {
    padding: 15px;
  }

  &.well-lg {
    padding: 30px;
  }

  // Variants

  &.well-tall {
    padding-left: 0;
    padding-right: 0;
  }

  &.well-wide {
    padding-top: 0;
    padding-bottom: 0;
  }
}
