.whiteboard {
  @include clearfix();

  margin-top: -10px;
  margin-left: -10px;

  > .asset {
    float: left;

    border-radius: $radius;
    box-shadow: 0 0 0 1px $gray-lighter,
                0 1px 3px 0 $gray-lighter;

    overflow: hidden;

    width: 300px;
    height: 300px;

    position: relative;

    margin-top: 10px;
    margin-left: 10px;

    a {
      display: block;

      img {
        width: 100%;
        display: block;
      }
    }

    .info {
      > .author {
        color: $gray;
        text-transform: uppercase;
      }
    }

    > .btn.btn-block {
      position: absolute;

      bottom: 0;
      margin: 5px;
      width: 300px - 5px - 5px;
    }
  }
}
