<% unless @stream_events.last_page? %>
  <div class="activity-group more-button">
    <div class="activity-group-gutter"></div>
    <div class="activity-group-content">
      <div style="margin: 30px; text-align: center">
        <%= link_to 'More', activity_path(page: @stream_events.next_page), remote: true, class: 'more-activities btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
