<h3><%= @name %> is ready to become a Product.</h3>
<p><%= @name %> has gotten hearts, user feedback, and a tentative name.  It's ready to
  go to the next level.</p>

<h4>As the creator of this idea, it is up to <b>you</b> to take the fateful, last step.</h4>
<p>Check out <a href="<%= idea_url(@idea) %>"><%= @idea.name %></a> and click <b>Build a Product</b>.
