<% title "About" %>
<% provide(:description, "Assembly is for those who enjoy building software. We connect you with others who share your interest and complement your skills so you can form distributed software companies. Unlike traditional companies with shareholders and employees, everything on Assembly is created, operated, and owned by a global community of makers, together.") %>

<%= render 'shared/navbar' %>

<main role="main">

  <section class="_hero hero-about-top"> <!-- .hero namespace is being used by legacy code. refactor -->
    <div class="main">
      <div class="container">
        <h1>
          We are more than the next&nbsp;great&nbsp;idea.
          <span class="line2">Together, we&nbsp;are Assembly.</span>
        </h1>
        <a href="http://vimeo.com/102253176" class="svg-play-button popup-video">
          <svg class="svg-icon svg-icon-play-btn" viewBox="0 0 32 32">
              <circle opacity="0.4" cx="16" cy="16" r="16"/>
              <path class="path1" d="M20.9,18c-2.6,1.2-3.5,1.6-5.8,2.6c-2.1,1.2-3.1,1.1-3.1-0.9c0-2.3,0-5.1,0-7.4c0-1.7,0.6-2,2.6-0.9c2.2,1.1,4,2,6.2,3.1C23.3,15.6,23.3,16.7,20.9,18z"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="dark-gradient"></div>
  </section>
  <section class="dashboard circle-stats dashboard-about">
    <div class="main">
      <div class="container">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="chart" data-percent="77" data-scale-color="#ffb400"> <!-- percentage data benchmarked against past metric  -->
            <h3 class="data">98</h3>
          </div>
          <h4>Products</h4>
          <p>Ready for you to discover</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="chart" data-percent="32" data-scale-color="#ffb400">
            <h3 class="data">107</h3>
          </div>
          <h4>Bounties</h4>
          <p>Waiting for your expertise</p>
        </div>
        <div class="hidden-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block col-sm-4 col-md-3">
          <div class="chart" data-percent="65" data-scale-color="#ffb400">
            <h3 class="data">231</h3>
          </div>
          <h4>Core Members</h4>
          <p>Making the magic happen</p>
        </div>
        <div class="hidden-xs visible-md-inline-block visible-lg-inline-block col-md-3">
          <div class="chart" data-percent="75" data-scale-color="#ffb400">
            <h3 class="data">212</h3>
          </div>
          <h4>New Users</h4>
          <p>Building our community</p>
        </div>
      </div>
    </div>
  </section>
  <section class="flip-grid-unit flip-grid-unit-about">
    <div class="container">
      <div class="header">
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c42357e4-fc7a-42f6-9414-fec079076fa3/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/4ccbf04a5924cbacd9814ce74e9ad684?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/9bbfc2ba-7d6a-4be6-9251-5e2685e3e61d/meowboard.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/2da61c5c94aefc6a20742e97d1abe6d4?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="/assets/about/grid-logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/b84524b344a13ff9ddd30ba96b70ad5b?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/de9141ba-aef7-413f-a513-b96e345ccf7e/zenforms_assembly_avatar.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e693eaa8252344248493b4a541ddce35?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bc67326b-2958-48de-9b20-e45da949f6cf/flashdash.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/322269aa-a12b-47e4-b68d-229ad014b496/calmail.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/546a1faa-0fc0-493d-b0d3-b29e319a9e47/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/d6fb638cd5649ea6473a15ee48602aef?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a1af9019-332d-4f60-883c-c05734429833/logo-bg.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/0f43618f25d8806e99569fd56d513f0a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c0c26468-7de3-414a-b7b9-62f1a5b9b3fa/Gamamia_Logo_Square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/bf8500ae75e57ebe06ef79dcc0bc5cf2?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1e4aebe6-4771-45da-8805-693787bfe644/coderwall.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1b1cd93a-f169-452e-a8b3-0c7da2b980b2/Gomad-iOS-icon-1024x1024.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/04751465-19df-466c-b258-7491e27f5fe7/firesize.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/fccfd613-2acf-42bf-9142-cec07adba647/watchin.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/58adc82f-b909-4d89-8fd0-276501c315a8/totroops_logo_dark.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/81eb1f5770feac1f14dbb09ff3e788ff?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bcc65bca-5531-4914-8c03-08c47e2fd601/boxysquare.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/24f8d182-2441-4d5f-b8fa-ab2303d098d1/helpful.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a8316019-f181-4cb0-94ef-2ec404f00648/logo_square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
        </ul>
      </div>
      <div class="main">
        <h2>
          Assembly is a community for people with ideas.
        </h2>
        <p>
          We connect you with others who share your interest and complement your skills so you can form distributed software companies. Everything on Assembly is created, operated, and owned by a global community of makers, together.
        </p>
        <button type="button" class="_button pill-button pill-button-medium pill-button-theme-green pill-button-shadow pill-button-text-shadow pill-button-border">  <!-- namespace, same as above -->
          <span class="title">Get Started on Assembly</span>
        </button>
      </div>
      <div class="footer">
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c42357e4-fc7a-42f6-9414-fec079076fa3/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/4ccbf04a5924cbacd9814ce74e9ad684?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/9bbfc2ba-7d6a-4be6-9251-5e2685e3e61d/meowboard.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/2da61c5c94aefc6a20742e97d1abe6d4?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="/assets/about/grid-logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/b84524b344a13ff9ddd30ba96b70ad5b?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/de9141ba-aef7-413f-a513-b96e345ccf7e/zenforms_assembly_avatar.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e693eaa8252344248493b4a541ddce35?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bc67326b-2958-48de-9b20-e45da949f6cf/flashdash.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/322269aa-a12b-47e4-b68d-229ad014b496/calmail.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/546a1faa-0fc0-493d-b0d3-b29e319a9e47/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/d6fb638cd5649ea6473a15ee48602aef?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a1af9019-332d-4f60-883c-c05734429833/logo-bg.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/0f43618f25d8806e99569fd56d513f0a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c0c26468-7de3-414a-b7b9-62f1a5b9b3fa/Gamamia_Logo_Square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/bf8500ae75e57ebe06ef79dcc0bc5cf2?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1e4aebe6-4771-45da-8805-693787bfe644/coderwall.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1b1cd93a-f169-452e-a8b3-0c7da2b980b2/Gomad-iOS-icon-1024x1024.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/04751465-19df-466c-b258-7491e27f5fe7/firesize.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/fccfd613-2acf-42bf-9142-cec07adba647/watchin.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/58adc82f-b909-4d89-8fd0-276501c315a8/totroops_logo_dark.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/81eb1f5770feac1f14dbb09ff3e788ff?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bcc65bca-5531-4914-8c03-08c47e2fd601/boxysquare.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/24f8d182-2441-4d5f-b8fa-ab2303d098d1/helpful.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a8316019-f181-4cb0-94ef-2ec404f00648/logo_square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
        </ul>
      </div>
    </div>
  </section>

  <article class="general-copy general-copy-about">
    <div class="header">
      <div class="container">
        <h2>
          The Story of Assembly
        </h2>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <p>
          The single biggest impact the Internet has had is this: bringing people together to create things we couldn't have created alone. We can see this everywhere, from Wikipedia and Linux to Tumblr and Kickstarter.
        </p>
        <p>
          Software's ability to connect and empower people at the edges of a network by collapsing hierarchies can be felt by everyone. One of the oldest hierarchies is the Company; a group of people cooperating for a common goal and receiving some benefit from its success.
        </p>
        <h2 class="excerpt-header text-light" style="background:url(/assets/about/excerpt-header1.jpg) center left no-repeat; background-size:cover;">
          Assembly challenges the traditional notions of a company by connecting global makers to an incentivized product development platform.
        </h2>
        <p>
          With this vision <a href="">Chris</a>, <a href="">Dave</a> and <a href="">I</a> traveled to Ventura Beach in Southern California in late 2013. We isolated ourselves in a small rickety beachside villa that we rented on Airbnb to give us time to write down a set of beliefs and sketch out the initial concept of Assembly.
        </p>
        <figure class="col-xs-12 col-sm-6 left-offset caption-center">
          <img src="/assets/about/copy-img1.jpg">
          <figcaption>Cool team? Coolest team.</figcaption>
        </figure>
        <h3 style="margin-top:3.5rem;">
          An Idea Was Born
        </h3>
        <p>
          With careful thought, we came up with our guiding principles, a set of ideals which we felt were key in defining Assembly as the place where great products could be built in this new way.
        </p>
        <p>
          Rejuvenated after our insightful week on the beach, we returned to a small studio just off the main strip in the Castro neighborhood of San Francisco, full of passion and ready to start assembling.
        </p>
        <p>
          Though the product has changed much, our values have not. In the short year Assembly has been running, we've already seen 89 strangers come together to build and launch <a href="/helpful" target="_blank">a useful product</a>, middle schoolers coding next to seasoned designers, and paid out tens of thousands of dollars out to contributors on some of the early successful products.
        </p>
        <h3>
          A Community As Diverse As We Are
        </h3>
        <p>
          Over the last year we've moved three times to new locations picking up new faces along the way; including an engineer who studied the Latin American reception of ancient Greek tragedy, a physicist who studied nanometer scale biological self-assembly in confined lipid systems, and a writer who worked for The Daily Show with Jon Stewart.
        </p>
        <div class="row vertical-offset">
          <figure class="col-xs-12 col-md-8">
            <img src="/assets/about/copy-img2.jpg">
          </figure>
          <figure class="hidden-xs visible-md-block visible-lg-block col-md-4 caption-right">
            <img src="/assets/about/copy-img3.jpg">
            <figcaption>Assemblin’ is my biz and biz is good.</figcaption>
          </figure>
        </div>
        <p>
          Our current office is located in the heart of the Mission at <a href="https://www.google.com/maps/place/3030+16th+St,+San+Francisco,+CA+94103/@37.7652736,-122.4203596,17z/data=!4m7!1m4!3m3!1s0x808f7e23bb16b375:0xe81c0361915e031b!2s3030+16th+St,+San+Francisco,+CA+94103!3b1!3m1!1s0x808f7e23bb16b375:0xe81c0361915e031b" target="_blank">3030A 16th street in San Francisco</a>. We welcome anyone working on Assembly products to come visit us to work on your project out of our office and let me make you a latte. We are also always looking for talented people to join our small team of makers.
        </p>
      </div>
    </div>
  </article>

  <section class="full-slider full-slider-about">
    <div class="carousel">
      <div class="item">
        <img src="/assets/about/full-slide1.jpg">
      </div>
      <div class="item">
        <img src="/assets/about/full-slide2.jpg">
      </div>
      <div class="item">
        <img src="/assets/about/full-slide3.jpg">
      </div>
      <div class="item">
        <img src="/assets/about/full-slide4.jpg">
      </div>
      <div class="item">
        <img src="/assets/about/full-slide5.jpg">
      </div>
    </div>
  </section>

  <section class="quote-slider quote-slider-about">
    <div class="container">
      <div class="carousel">
        <div class="item">
          <div class="header">
            <a class="quote-avatar" href="">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=192px">
            </a>
            <p class="details">
              <a href="">
                @someDude
              </a>
              &nbsp;-&nbsp;
              <a href="">
                Jan 1 2014
              </a>
            </p>
          </div>
          <div class="main">
            <h3>
              @asm our neural pathways have become accustomed to your sensory input patterns. I will obey your orders and be First Officer.
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <a class="quote-avatar" href="">
              <img src="https://gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?size=192px">
            </a>
            <p class="details">
              <a href="">
                @anotherDude
              </a>
              &nbsp;-&nbsp;
              <a href="">
                Mar 14 2014
              </a>
            </p>
          </div>
          <div class="main">
            <h3>
              Wow @asm This should be interesting. Captain, why are we out here chasing comets?
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <a class="quote-avatar" href="">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=192px">
            </a>
            <p class="details">
              <a href="">
                @evenMoreDude
              </a>
              &nbsp;-&nbsp;
              <a href="">
                Jun 20 2014
              </a>
            </p>
          </div>
          <div class="main">
            <h3>
              @asm I'll alert the crew. Worf, It's better than music. It's jazz.
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <a class="quote-avatar" href="">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=192px">
            </a>
            <p class="details">
              <a href="">
                @evenMoreDude
              </a>
              &nbsp;-&nbsp;
              <a href="">
                Jun 20 2014
              </a>
            </p>
          </div>
          <div class="main">
            <h3>
              @asm I'll alert the crew. Worf, It's better than music. It's jazz.
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <a class="quote-avatar" href="">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=192px">
            </a>
            <p class="details">
              <a href="">
                @evenMoreDude
              </a>
              &nbsp;-&nbsp;
              <a href="">
                Jun 20 2014
              </a>
            </p>
          </div>
          <div class="main">
            <h3>
              @asm I'll alert the crew. Worf, It's better than music. It's jazz.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="accordion-grid-unit accordion-grid-unit-about">
    <div class="header">
      <div class="container">
        <h2>
          Our Core Tenets
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="accordion-grid chunky blue">
          <ul class="col-xs-12 col-s-6">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
          </ul>
          <ul class="col-xs-12 col-s-6">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
            <li>
              <img src="http://placehold.it/500x60/ffffff/cccccc">
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="about-team">
    <div class="team-grid-unit">
      <div class="header">
        <div class="container">
          <h2>
            The Team
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <div class="team-grid">
            <ul>
              <li>
                <a href="https://assembly.com/users/mdeiters">
                  <img src="https://gravatar.com/avatar/680edc756e6522752cd6656eb0623750?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/mdeiters">@mdeiters</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/whatupdave">
                  <img src="https://gravatar.com/avatar/bf8500ae75e57ebe06ef79dcc0bc5cf2?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/whatupdave">@whatupdave</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/chrislloyd">
                  <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/chrislloyd">@chrislloyd</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/whale">
                  <img src="https://gravatar.com/avatar/18f73808e44eaf9b99a1984d5ce46e92?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/whale">@whale</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/awwstn">
                  <img src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/awwstn">@awwstn</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/barisser">
                  <img src="https://gravatar.com/avatar/7fc1b9a0478f691f7ccd659c8220f8fd?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/barisser">@barisser</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/vanstee">
                  <img src="https://gravatar.com/avatar/b84524b344a13ff9ddd30ba96b70ad5b?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/vanstee">@vanstee</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/pletcher">
                  <img src="https://gravatar.com/avatar/07af31f83a0d4ef6bd360bd14704408d?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/pletcher">@pletcher</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
              <li>
                <a href="https://assembly.com/users/bshyong">
                  <img src="https://gravatar.com/avatar/33a2311372ec07fb44651b687a68f2d7?d=https%3A%2F%2Fassembly.com%2Fassets%2Favatars%2Fdefault.png&s=240">
                </a>
                <div class="details">
                  <a class="nametag" href="https://assembly.com/users/bshyong">@bshyong</a>
                  <ul class="social-row">
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-twitter" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M25.7,12.5c0.8-0.6,1.6-1.3,2.2-2.3c-0.9,0.4-1.8,0.6-2.6,0.7c1-0.5,1.6-1.4,1.9-2.5c-0.9,0.5-1.9,0.9-2.8,1.1c-0.9-1-2-1.4-3.3-1.4c-1.3,0-2.3,0.4-3.2,1.3c-0.9,0.9-1.3,1.9-1.3,3.2c0,0.4,0,0.7,0.1,1c-3.8-0.2-6.9-1.8-9.3-4.7C7,9.6,6.8,10.3,6.8,11.1c0,1.6,0.7,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6v0c0,1.1,0.3,2,1,2.9c0.7,0.8,1.5,1.4,2.6,1.6c-0.3,0.1-0.7,0.1-1.2,0.1c-0.2,0-0.5,0-0.8-0.1c0.3,0.9,0.8,1.6,1.6,2.2c0.8,0.6,1.6,0.8,2.6,0.9C10.8,23.3,9,24,7,24c-0.3,0-0.6,0-1.1-0.1c2,1.3,4.3,2,6.9,2c2,0,3.8-0.4,5.5-1.2c1.7-0.8,3-1.8,4.1-3c1-1.3,1.9-2.6,2.4-4.1c0.6-1.5,0.9-3,0.9-4.5V12.5z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-facebook" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M17.3,13.3v-2.9c0-0.6,0.1-1.1,0.3-1.4c0.2-0.3,0.6-0.4,1.3-0.4h2.2l0.2-3.8c-0.7-0.1-1.7-0.2-3-0.2c-1.8,0-3.2,0.5-4.2,1.4c-0.9,1-1.4,2.1-1.4,3.6v3.6H10v4h2.6v9.9h4.6v-9.9H21l0.3-3.9H17.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-instagram" viewBox="0 0 32 32">
                          <path class="path1" d="M31.9,16c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-1.1,0.1-2.2,0.3-3.3h7.6c-0.4,1-0.7,2.1-0.7,3.3c0,2.4,0.8,4.4,2.5,6.1c1.7,1.7,3.7,2.5,6.1,2.5c2.4,0,4.4-0.8,6.1-2.5c1.7-1.7,2.5-3.7,2.5-6.1c0-1.2-0.2-2.3-0.7-3.3h7.6C31.8,13.7,31.9,14.8,31.9,16z M30.7,10h-8.5c-1.7-1.8-3.8-2.6-6.2-2.6S11.5,8.2,9.8,10H1.3c1.2-2.9,3.1-5.3,5.8-7.2s5.7-2.8,8.9-2.8c3.3,0,6.3,0.9,8.9,2.8C27.6,4.7,29.5,7.1,30.7,10z M11.8,11.7C13,10.6,14.4,10,16,10c1.6,0,3,0.6,4.2,1.7S22,14.3,22,16c0,1.6-0.6,3-1.7,4.2c-1.2,1.2-2.6,1.7-4.2,1.7c-1.7,0-3.1-0.6-4.2-1.7S10,17.6,10,16C10,14.3,10.6,12.9,11.8,11.7z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-github" viewBox="0 0 32 32">
                          <path class="path1" d="M4.8,4.7C7.9,1.6,11.6,0.1,16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.8,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16C0.1,11.6,1.7,7.8,4.8,4.7z M22,8V4.6c-0.7,0.6-1.9,0.9-3.9,1.1c-0.8-0.5-1.8-0.8-2.9-0.8c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.3-1.5,3.9c0,2.2,0.9,3.7,2.6,4.7c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.4-0.2,0.9-0.1,1.5c0.1,0.6,0.4,1.1,0.9,1.6c-0.9,0.4-1.6,0.9-2.1,1.6c-0.5,0.7-0.8,1.5-0.8,2.3c0,1.3,0.6,2.4,1.8,3.3c1.2,0.9,2.7,1.3,4.4,1.3c1.8,0,3.3-0.4,4.5-1.3c1.2-0.9,1.8-2,1.8-3.3c0-1.3-0.6-2.4-1.8-3.2c-1.2-0.9-2.6-1.3-4.3-1.4c-0.5-0.4-0.8-0.8-0.9-1.2c-0.1-0.4,0.1-1,0.4-1.6c1.5,0,2.7-0.6,3.7-1.6c1-1,1.5-2.3,1.5-3.8c0-0.9-0.1-1.6-0.4-2.3H22z M12.7,23.2c0-0.5,0.3-0.9,0.8-1.2s1.3-0.5,2.2-0.5c0.9,0,1.6,0.2,2.2,0.5c0.6,0.3,0.8,0.7,0.8,1.2c0,0.5-0.3,0.9-0.8,1.2c-0.6,0.3-1.3,0.5-2.2,0.5c-0.9,0-1.6-0.2-2.2-0.5C13,24.1,12.7,23.7,12.7,23.2z M13.8,8.2c0.4-0.5,0.8-0.7,1.4-0.7c0.6,0,1,0.2,1.4,0.7c0.4,0.5,0.5,1.1,0.5,1.9c0,0.8-0.2,1.5-0.6,2s-0.8,0.7-1.4,0.7c-0.6,0-1-0.2-1.4-0.7c-0.4-0.5-0.6-1.1-0.6-1.9S13.4,8.7,13.8,8.2z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-dribbble" viewBox="0 0 32 32">
                          <path class="path1" d="M4.3,26.7c-2.8-3-4.2-6.6-4.2-10.8v-0.7c6.6-0.1,12.1-0.8,16.6-2.2c0.4,0.8,0.9,1.9,1.4,3.1c-0.5,0.1-0.9,0.3-1.2,0.4C11.8,18.2,7.6,21.6,4.3,26.7z M15.6,10.8c-4.1,1.2-9.2,1.9-15.2,2C0.9,10.3,2,8.1,3.6,6.1c1.6-2,3.5-3.5,5.8-4.6C11.7,4.5,13.8,7.6,15.6,10.8z M22.3,30.6c-2,0.9-4.1,1.3-6.3,1.3c-3.7,0-7-1.1-9.9-3.4c3.4-5.3,7.7-8.7,12.8-10.2C20.4,22,21.5,26.1,22.3,30.6z M18.2,9.9c-1.8-3.4-3.9-6.5-6.2-9.3c1.3-0.3,2.6-0.5,4-0.5c4.1,0,7.6,1.4,10.6,4.1C24.5,6.6,21.7,8.5,18.2,9.9z M31.9,15.9c-4-0.9-7.7-1.1-11.1-0.5c-0.2-0.5-0.7-1.6-1.5-3.3c3.7-1.5,6.6-3.5,9-6.2C30.6,8.7,31.8,12.1,31.9,15.9z M31.7,18.3c-0.3,2.2-1.1,4.3-2.3,6.2c-1.2,1.9-2.8,3.4-4.6,4.7c-0.8-4.1-1.8-8-3.1-11.5C24.8,17.3,28.2,17.5,31.7,18.3z"/>
                        </svg>
                      </a>
                    <li>
                      <a href="#">
                        <svg class="svg-icon svg-icon-rss" viewBox="0 0 32 32">
                          <path class="path1" d="M16,0.1c4.4,0,8.1,1.6,11.2,4.7c3.1,3.1,4.7,6.9,4.7,11.2c0,4.4-1.6,8.1-4.7,11.2c-3.1,3.1-6.8,4.7-11.2,4.7c-4.4,0-8.1-1.6-11.2-4.7C1.7,24.1,0.1,20.3,0.1,16c0-4.4,1.6-8.1,4.7-11.2C7.9,1.6,11.6,0.1,16,0.1z M22.6,23.9h3.3c0-2.4-0.5-4.7-1.4-7c-0.9-2.2-2.2-4.1-3.8-5.7c-1.6-1.6-3.5-2.9-5.7-3.8C12.8,6.5,10.5,6,8.1,6v3.3c4,0,7.5,1.4,10.3,4.3C21.2,16.4,22.6,19.9,22.6,23.9z M16.7,23.9H20c0-3.3-1.2-6.1-3.5-8.4c-2.3-2.3-5.1-3.5-8.4-3.5v3.3c2.4,0,4.4,0.8,6.1,2.5C15.8,19.5,16.7,21.5,16.7,23.9z M8.8,23.1c0.5,0.5,1.1,0.8,1.9,0.8s1.4-0.3,1.9-0.8c0.5-0.5,0.8-1.1,0.8-1.9s-0.3-1.4-0.8-1.9c-0.5-0.5-1.1-0.8-1.9-0.8s-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.1-0.8,1.9S8.3,22.6,8.8,23.1z"/>
                        </svg>
                      </a>
                  </ul>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="_hero hero-about-bottom"> <!-- .hero namespace is being used by legacy code. refactor -->
    <div class="main">
      <div class="container">
        <h1>
          Let's Get to Know Each&nbsp;Other
        </h1>
        <p>
          You seem like a super cool person. Don't be shy, give us a follow and we'll be friends in no&nbsp;time!
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="social-row">
          <ul>
            <li>
              <a href="https://twitter.com/asm">
                <img src="/assets/about/social-icon-twitter.png">
              </a>
            <li>
              <a href="https://www.facebook.com/assemblymade">
                <img src="/assets/about/social-icon-facebook.png">
              </a>
            <li>
              <a href="">
                <img src="/assets/about/social-icon-insta.png">
              </a>
          </ul>
          <div class="pill-bg"></div>
        </div>
      </div>
    </div>
  </section>

</main>

<%= render 'shared/footer' %>


<% content_for :javascript do %>
<script>
    // -- video modal
    (function($) {
    //   var modal = $('#video-modal'),
    //       player = $f(modal.find('iframe')[0]);

    //   modal.on('shown.bs.modal', function() {
    //     player.api('play');
    //   });
    //   modal.on('hide.bs.modal', function() {
    //     player.api('pause');
    //   });

    $('.popup-video').magnificPopup({
        disableOn:700,
        type:'iframe',
        mainClass:'mfp-fade',
        removalDelay:160,
        preloader:!1,
        fixedContentPos:!1
    });

     // $('.popup-video').magnificPopup();

    })(jQuery);

  // -- dashboard
  (function($) {
    var $chart = $('.circle-stats .chart');
    //
    $chart.easyPieChart({
      size: '90',
      lineWidth: '10',
      trackColor: '#e5e7ea',
      barColor: '#33d6a6',
      easing: 'easeOutBounce',
      scaleColor: false,
      scaleLength: false,
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text(Math.round(percent));
      }
    });
  })(jQuery);

  // -- full slider
  (function($) {
    var $fullSlider = $('.full-slider-about'),
        $fullSliderCarousel = $fullSlider.find('.carousel');
    //
    $fullSliderCarousel.owlCarousel({
      singleItem: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      navigation: false,
      afterInit: afterOWLinit,
      afterUpdate: afterOWLinit
    });
    function afterOWLinit() {
      $('.owl-controls .owl-page span').append('<a class="item-link" href="#"/>');
      var pafinatorsLink = $('.owl-controls .item-link');
      //
      $.each(this.owl.userItems, function (i) {
        $(pafinatorsLink[i])
          .css({
            'background': 'url(' + $(this).find('img').attr('src') + ') center center no-repeat',
            '-webkit-background-size': 'cover',
            '-moz-background-size': 'cover',
            '-o-background-size': 'cover',
            'background-size': 'cover'
          })
          .on('click', function(e) {
            e.preventDefault();
          });
      });
    }
  })(jQuery);

  // -- quote slider
  (function($) {
    var $quoteSlider = $('.quote-slider-about'),
        $quoteSliderCarousel = $quoteSlider.find('.carousel');
    //
    $quoteSliderCarousel.owlCarousel({
      singleItem: true,
      autoPlay: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      navigation: false
    });
  })(jQuery);

</script>
<% end %>
