<% title 'The Core Team' %>
<%= render 'shared/deprecated_navbar' %>
<div class="jumbotron">
  <div class="container">
    <h1>The Core Team</h1>
  </div>
</div>
<div class="page page-padded">
  <div class="container">
    <div class="page-content">
      <%= markdown_content 'app/views/pages/core_team_content' %>
    </div>
  </div>
</div>
<%= render 'shared/deprecated_footer' %>
