<% title 'Tell us about yourself' %>
<%= track 'interests' %>

<%= render 'shared/navbar' %>

<div class="container mb4">
  <div class="center py4">
    <h1 class="h1 mt0 mb0">Hey @<%= current_user.username %>. Nice to meet you.</h1>
    <p class="h3 mt0 mb0 gray-darker">Tell us about yourself. What aspect of building a product is your favorite?</p>
  </div>

  <%= react_component 'Interests', marks: CuratedMark::CURATED_MARKS %>
</div>
