<% title 'Tell us about yourself' %>
<%= track_engaged 'interests' %>

<%= render 'shared/onboarding_navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br>
      <div class="center">
        <h1 style="font-size: 48px">Hey there @<%= current_user.username %>!</h1>
        <p class="large text-muted">Assembly is a place where people help each other bring great ideas to life. <br> <strong>Tell us what you're into</strong> and we'll find the perfect place for you to get started.</p>
      </div>
    </div>
  </div>

  <div class="mt4 mb4">
    <%= react_component 'Interests', marks: CuratedMark::CURATED_MARKS %>
  </div>
</div>
