<% title 'The Core Team' %>
<%= render 'shared/navbar' %>

<div class="jumbotron">
  <div class="container">
    <h1>Pitchweek</h1>
  </div>
</div>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <%= markdown_content 'app/views/pages/pitch_week_content' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
