<% title 'Startup Sabbaticals' %>
<%= render 'shared/navbar' %>

<div class="jumbotron">
  <div class="container">
    <h1>Take a Startup Sabbatical</h1>
  </div>
</div>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1 copy">
        <p class="lead">You're invited to apply for Assembly's first Startup Sabbatical program. We're looking to spread $20,000 USD amongst a few talented developers that want to collaborate with like-minded individuals and create real software products together.</p>

        <h2>How it works</h2>
        <p>You set a stipend and Assembly pays it (in full) at the beginning of the month. For the entire month you can focus on building whatever software products you want on Assembly. It's a perfect opportunity to build that idea you've been thinking about for the last year, or collaborate with others that are working on <a href="https://assemblymade.com/discover/most_wanted">existing Assembly products</a>. Once the program ends, you'll continue to retain your share of the ownership for what you built and earn royalties when there's future revenue.</p>

        <h2>Benefits</h2>
        <h4>Everything you do will be public and shareable</h4>
        <p>All products built on Assembly make their code publicly available on GitHub. There's no NDA or any contracts to sign and you'll always be able to show off your work to your peers and future employers. You're encouraged to be as transparent about what you build as you are comfortable with.</p>

        <h4>Learn something new</h4>
        <p>This is great way to try something you haven't been able to at your day job. Take on a new language like <em>Ruby</em>, <em>Clojure</em>, <em>Node.js</em> or <em>Go</em>. Tackle A/B testing or try your hand at marketing. Most importantly, you won't be alone &mdash; there's a vibrant community of other talented people on Assembly so it's a perfect way to start experimenting with something new you've been eyeing.</p>

        <h4>Work from anywhere</h4>
        <p>If you're situated in San Francisco you're more than welcome to work out of our office in the Mission. If you feel like a change of pace, we hear <a href="http://adioso.com/us/san-francisco-california-to-bali-pulau-id-returning-in-1-month">Bali</a> is warm and has cheap beer. The world is your office.</p>

        <h4>Nobody will tell you what to do</h4>
        <p>The sabbatical is what you make of it. We're looking for self-directed people who want to make money on their own terms, and see this as an opportunity to create personal long-term value from their skills.</p>

        <h2>What we're looking for</h2>
        <p>We're looking for developers who:</p>
        <ul>
          <li>Are comfortable being self-directed.</li>
          <li>Have a track record of building cool stuff.</li>
          <li>Think entrepreneurially.</li>
          <li>Are nice to other people online.</li>
          <li>Value their legacy.</li>
        </ul>

        <p>This program is not a mentorship or apprenticeship program, so those that are just learning to code would be at a severe disadvantage.</p>

        <h2>FAQ</h2>

        <h4>What is Assembly?</h4>

        <p>Assembly is an open platform for crowd-<em>founding</em> software products. Our mission is to help people lead rewarding careers by bringing the same collaborative and open environment that makes Open Source great, to the process of building a software company. Anybody can jump in and transparently build a product on Assembly, becoming a shared partner in its success. We already have plenty of products at various stages in their lifecycle.</p>

        <h4>Why are we doing this?</h4>
        <p>Everyone building on Assembly benefits when there are more interesting apps to work on with more interesting people. We're also growing the Assembly engineering team so we hope some may be interested enough after their sabbatical to consider joining us.</p>

        <h4>How much is the stipend?</h4>
        <p>You choose your stipend. It's intended to cover your basic living expenses like lodging, food, and internet so you can focus on getting an MVP off the ground that has longterm personal earning potential. There's $20,000 to be shared by the developers, so ideally your stipend would leave room for several other sabbatical-mates.</p>

        <h4>Who can apply?</h4>
        <p>While you do not have to be a US resident to use Assembly, we are only accepting applications for this first batch that are legal residents of the United States, who are 18 years of age older (or the age of majority in the jurisdiction of their residence &mdash; whichever is older), as of the date of submission of application.
        </p>

        <h4>Where can I take my startup sabbatical?</h4>
        <p>Anywhere you would like, although we recommend you check that there's reliable internet access.</p>

        <h4>Do I keep all of the app's profits?</h4>
        <p>Unlikely, since Assembly is a platform to enable openly developing products with designers, developers, and others all around the world. All contributors have a stake in its success. You still earn your fair share of the product's monthly revenue when we do a monthly royalty payment. At the end of each month, Assembly transparently pays all outstanding bills and then splits the app's profits amongst those that built it. You can learn more about the process on the <a href="https://assemblymade.com/help/profits">Assembly FAQ</a>.</p>

        <h4>Is one month long enough to build a product?</h4>
        <p>Probably not, but it can be just enough to get an idea up and running to the point that afterwards you can continue to build and validate the market. You're free to continue growing the product as little or as much as you like after the sabbatical.</p>

        <h4>What kind of product should I be building?</h4>
        <p>Assembly is intended for building software driven businesses like SaaS products and mobile apps.</p>

        <h4>Where can I learn more about Assembly?</h4>
        <p>Check out the <a href="https://assemblymade.com/help/general">Assembly FAQ</a>.</p>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading"><h6 class="panel-title">Applications</h6></div>
          <div class="panel-body">
            <p>Applications for the first round of sabbaticals close on the 1st of May, 2014.</p>
            <a class="btn btn-success btn-block" href="https://docs.google.com/forms/d/1nAHzSz1an_qBlZR3suEWDEnW9fmU14bjasMuHWLhT-Q/viewform">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
