<style>
  body {
    font-size: 16px;
    background-image: url(<%= image_path('baseline.png') %>);
  }
</style>

<div class="container mt4 mb4">

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <div class="h1">Heading 1 size</div>
  <div class="h2">Heading 2 size</div>
  <div class="h3">Heading 3 size</div>
  <div class="h4">Heading 4 size</div>
  <div class="h5">Heading 5 size</div>
  <div class="h6">Heading 6 size</div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum imperdiet venenatis. Aenean nec semper lorem. Integer molestie et elit at mattis. Curabitur mi dui, pulvinar in ante a, ullamcorper congue ante. Mauris egestas metus lacus. Sed sit amet enim id nibh laoreet ornare. In pellentesque felis eget nulla rutrum efficitur. Aenean faucibus elit eget egestas ullamcorper. Vivamus ut felis et augue facilisis luctus.
  </p>

  <p>
    Sed mollis, felis et scelerisque tristique, velit neque cursus erat, ac venenatis felis justo a risus. Nam volutpat erat sit amet erat fermentum auctor. Mauris eu lectus ultrices, pharetra urna id, porta diam. Phasellus finibus dictum nulla sit amet dapibus. Donec convallis elit sed vehicula volutpat. Curabitur pulvinar massa diam, at tincidunt dolor tincidunt eget. Vestibulum ut sem at diam blandit pulvinar sed eget diam. Nunc vitae dolor volutpat, tincidunt quam vitae, malesuada lectus.
  </p>

  <p class="caps">
    This is caps.
  </p>

  <p class="bold">
    This is bold.
  </p>

  <p class="bold caps">
    This is bold caps.
  </p>

  <hr>

  <div class="mb1">
    <span class="blue">Blue</span>
    <span class="purple black">Purple</span>
    <span class="green">Green</span>
    <span class="yello">Yellow</span>
    <span class="red">Red</span>
    <span class="dark-gray">Black</span>
    <span class="mid-gray">Gray</span>
    <span class="light-gray">Silver</span>
    <span class="lighter-gray">Smoke</span>
  </div>

  <div class="bg-blue white mb1 p2">
    Blue
  </div>

  <div class="bg-green white mb1 p2">
    Green
  </div>

  <div class="bg-yellow white mb1 p2">
    Yellow
  </div>

  <div class="bg-red white mb1 p2">
    Red
  </div>

  <div class="bg-dark-gray white mb1 p2">
    Black
  </div>

  <div class="bg-mid-gray white mb1 p2">
    Gray
  </div>

  <div class="bg-light-gray white mb1 p2">
    Silver
  </div>

  <div class="bg-lighter-gray dark-gray mb1 p2">
    Smoke
  </div>




  <hr>

  <div class="btn btn-default">Default Button</div>
  <div class="btn btn-primary">Primary Button</div>
  <div class="btn btn-success">Success Button</div>
  <div class="btn btn-warning">Warning Button</div>
  <div class="btn btn-danger">Danger Button</div>

  <hr>

  <div class="btn btn-primary btn-lg">Primary Button</div>

  <hr>

  <div class="btn btn-primary btn-sm">Primary Button</div>

  <hr>

  <div class="bg-red mb2 clearfix">
    <div class="m1 p1 bg-white">
      Scale 1 (m1, p1) &mdash; 6px
    </div>
  </div>

  <div class="bg-red mb2 clearfix">
    <div class="m2 p2 bg-white">
      Scale 2 (m2, p2) &mdash; 12px
    </div>
  </div>

  <div class="bg-red mb2 clearfix">
    <div class="m3 p3 bg-white">
      Scale 3 (m3, p3) &mdash; 24px
    </div>
  </div>

  <div class="bg-red mb2 clearfix">
    <div class="m4 p4 bg-white">
      Scale 4 (m4, p4) &mdash; 48px
    </div>
  </div>


</div>
