<% title 'Tell us about yourself' %>
<%= render 'shared/navbar' %>

<div class="container mb4">
  <div class="center py4">
    <h1 class="h1 mt0 mb0">Ok, just finished looking through <%= pluralize(Wip.count, 'bounty') %>.</h1>
    <p class="h3 mt0 mb0 gray-darker">These are bounties that could really use your help. Check 'em out.</p>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @bounties.each do |bounty| %>
        <%= render 'bounties/chip', bounty: bounty %>
      <% end %>
    </div>
  </div>
</div>
