<% title 'Tell us about yourself' %>
<%= track 'interests' %>

<%= render 'shared/navbar' %>

<div class="container mb4">
  <div class="py4">
    <br>
    <div class="center">
      <h1 style="font-size: 48px">Help us decide what to build.</h1>
      <p class="large text-muted">Each week, the ideas with the most interest are greenlight. <br> <strong>Heart the ones you like</strong> and help the idea creators focus their efforts by <strong>asking questions</strong>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= react_component 'Suggestions', ideas: ActiveModel::ArraySerializer.new(@ideas) %>
    </div>
  </div>
</div>
