<% title '<productTitle> - Tasks' %>
<% provide(:description, '<productDesc>') %>

<div class="temp-closed">
  <span>new header update relocated to task #907... coming&nbsp;soon!</span>
<%= render 'shared/navbar' %>
</div>

<main class="product" role="main">

  <section class="product-header">
    <div class="inner-wrap">
      <div class="primary">
        <div class="product-header-icon">
          <a href="">
            <!-- <img src="http://placehold.it/200/fff/999&text=200x200"> -->
            <img src="https://d1015h9unskp4y.cloudfront.net/attachments/bcc65bca-5531-4914-8c03-08c47e2fd601/boxysquare.png">
          </a>
        </div>
        <div class="product-header-content">
          <h1>
            <a href="">BoxyChat</a>
          </h1>
          <div class="subhead">
            Real time communications for companies
          </div>
          <ul class="product-header-links">
            <li>
              <a href="">
                BoxyChat.com
              </a>
            </li>
            <li class="">
              <a href="">
                <%= inline_react_component 'Icon', icon: 'github' %>
                Code
              </a>
            </li>
            <li class="">
              <a href="">
                <%= inline_react_component 'Icon', icon: 'gear' %>
                Edit product
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="secondary">
        <div class="follow-button">
          <button type="button" data-reactid=".5.0">
            <div class="count" data-reactid=".5.0.1">0</div>
            <div class="title" data-reactid=".5.0.0">Follow</div>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="product-core">
    <div class="inner-wrap">
      <div class="product-nav-mobile-button"><span></span><span></span><span></span></div>
      <div class="product-side-mobile-button"><span></span><span></span><span></span></div>
      <nav class="product-navigation" role="navigation">
        <ul class="nav-one">
          <li>
            <a href="">All Activity <span class="ping"></span></a>
          </li>
          <li class="active">
            <a href="">Tasks</a>
          </li>
          <li>
            <a href="">Posts <span class="ping"></span></a>
          </li>
          <li>
            <a href="">Assets</a>
          </li>
          <li>
            <a href="">Code <span class="ping"></span></a>
          </li>
        </ul>
        <ul class="nav-two">
          <li>
            <a href="">Pitch</a>
          </li>
          <li>
            <a href="">Chat</a>
          </li>
          <li>
            <a href="">Team</a>
          </li>
          <li>
            <a href="">Ownership</a>
          </li>
        </ul>
      </nav>
      <div class="product-core-content">
        <div class="product-filter" data-reactid=".9.1.0">
          <div class="pf-primary" data-reactid=".9.1.0.0">
            <div class="bg-white rounded shadow table mb0" data-reactid=".9.1.0.0.0">
              <div class="pf-drop" style="width:55px;" data-reactid=".9.1.0.0.0.0">
                <div class="dropdown" data-reactid=".9.1.0.0.0.0.0">
                  <a class="dropdown-toggle black bold no-wrap" data-toggle="dropdown" href="#" data-reactid=".9.1.0.0.0.0.0.0">
                    <span data-reactid=".9.1.0.0.0.0.0.0.0">Filter</span>
                    <span data-reactid=".9.1.0.0.0.0.0.0.1"> </span>
                    <span class="icon icon-chevron-down" data-reactid=".9.1.0.0.0.0.0.0.2"></span>
                  </a>
                  <ul class="dropdown-menu" style="margin-top:14px;margin-left:-24px;" data-reactid=".9.1.0.0.0.0.0.1">
                    <li data-reactid=".9.1.0.0.0.0.0.1.0"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.0.0">You're working on</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.1"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.1.0">You created</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.2"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.2.0">You commented on</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.3"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.3.0">You're mentioned in</a>
                    </li>
                    <li class="divider" data-reactid=".9.1.0.0.0.0.0.1.4"></li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.5"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.5.0">Open</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.6"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.6.0">Doing</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.7"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.7.0">Reviewing</a>
                    </li>
                    <li data-reactid=".9.1.0.0.0.0.0.1.8"><a href="#" data-reactid=".9.1.0.0.0.0.0.1.8.0">Done</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="pf-input" data-reactid=".9.1.0.0.0.1">
                <input type="text" value="is:open" class="no-border full-width" style="padding:0;" data-reactid=".9.1.0.0.0.1.0">
              </div>
            </div>
          </div><!--
          --><div class="pf-secondary" data-reactid=".9.1.0.1">
            <div class="" data-reactid=".9.1.0.1.0">
              <div class="dropdown" data-reactid=".9.1.0.1.0.0">
                <a class="dropdown-toggle black bold no-wrap" data-toggle="dropdown" href="#" data-reactid=".9.1.0.1.0.0.0">
                  <span data-reactid=".9.1.0.1.0.0.0.0">Sort (</span>
                  <span data-reactid=".9.1.0.1.0.0.0.1">Priority</span>
                  <span data-reactid=".9.1.0.1.0.0.0.2">)</span>
                  <span data-reactid=".9.1.0.1.0.0.0.3"> </span>
                  <span class="icon icon-chevron-down" data-reactid=".9.1.0.1.0.0.0.4"></span>
                </a>
                <ul class="dropdown-menu" data-reactid=".9.1.0.1.0.0.1">
                  <li class="active" data-reactid=".9.1.0.1.0.0.1.0">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.0.0">Priority</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.1">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.1.0">Most valuable</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.2">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.2.0">Least valuable</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.3">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.3.0">Newest</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.4">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.4.0">Oldest</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.5">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.5.0">Recently updated</a>
                  </li>
                  <li class="" data-reactid=".9.1.0.1.0.0.1.6">
                    <a href="#" data-reactid=".9.1.0.1.0.0.1.6.0">Least recently updated</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="product-data">
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
          <div class="temp-card card">
            temp card
          </div>
        </div>
      </div>
      <aside class="product-secondary">
        <div class="create-task">
          <a href="">
            Create A New Task
          </a>
        </div>
        <div class="info-card card">
          <div class="info-card-title">
            Getting Started
          </div>
          What content should go here to get a
          new member focused on what they
          should do?
        </div>
        <nav class="tag-module" role="navigation">
          <div class="tag-module-header">
            <div class="title">
              Tags
            </div><!--
         --><div class="title-nav">
              <a href="#">
                <span class="icon icon-chevron-down" data-reactid=".9.1.0.0.0.0.0.0.2"></span>
              </a>
            </div>
          </div>
          <ul class="tag-module-core">
            <li>
              <a href="#">
                <span>#Design</span><!--
             --><span>30</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>#Frontend</span><!--
             --><span>23</span>
              </a>
            </li>
            <li>
              <a href="#">
                 <span>#Backend</span><!--
              --><span>12</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>#CSS</span><!--
             --><span>11</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>#Ruby</span><!--
             --><span>54</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>#December</span><!--
             --><span>11</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>#January</span><!--
             --><span>13</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="assets-module">
          <div class="assets-module-header">
            <div class="title">
              Assets
            </div><!--
            --><div class="title-nav">
            <a href="#">
              <span class="icon icon-chevron-down" data-reactid=".9.1.0.0.0.0.0.0.2"></span>
            </a>
          </div>
        </div>
          <ul class="assets-module-core">
            <li>
              <a href="#">
                <img src="http://placehold.it/200x180/dbdee3/aaa&text=250x180">
              </a>
            </li><!--
         --><li>
              <a href="#">
                <img src="http://placehold.it/200x180/dbdee3/aaa&text=250x180">
              </a>
            </li><!--
          --><li>
              <a href="#">
                <img src="http://placehold.it/200x180/dbdee3/aaa&text=250x180">
              </a>
            </li><!--
         --><li>
              <a href="#">
                <img src="http://placehold.it/200x180/dbdee3/aaa&text=250x180">
              </a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </section>

</main>

<%= render 'shared/footer' %>

<% content_for :javascript do %>
<script>

  (function($) {

    var $body = $('body'),
        $product = $body.find('.product'),
        $productHeader = $product.find('.product'),
        $productCore = $product.find('.product-core'),
        $productNavMobileButton = $productCore.find('.product-nav-mobile-button'),
        $productSideMobileButton = $productCore.find('.product-side-mobile-button'),
        $productNavigation = $productCore.find('.product-navigation'),
        $productSecondary = $productCore.find('.product-secondary');

    var clickHandler = ('ontouchstart' in document.documentElement ? "touchstart" : "click");

    // nav

    $productNavMobileButton.on(clickHandler, function(e){
      e.preventDefault();
      $(this).toggleClass('active');
      $productNavigation.toggleClass('drawer-open');
    });

    $productSideMobileButton.on(clickHandler, function(e){
      e.preventDefault();
      $(this).toggleClass('active');
      $productSecondary.toggleClass('drawer-open');
    });

    //
    $productNavigation.on(clickHandler, 'a', function(e){
      e.preventDefault();
      $productNavMobileButton.removeClass('active');
      $productNavigation.removeClass('drawer-open');
    });

    // -- on click, add active to button & drawer-open to coresponding drawer
      // -- on click of one, remove classes of the other
    // -- on resize, remove classes
    // -- on a click of anything else remove classes
    // on click of one, retract other

    // scroll

    // on scroll, when nav button is greater than 75px from the top or bottom of the window, remove class pos-abs-top/btm & add class - pos-fixed
    // when less than 75px from the top, remove pos-fixed, add pos-abs-top
    // when less than 75px from the bottom, remove pos-fixed, add pos-abs-btm
    // --
    // do the same thing to the nav windows

    // toggle column padding on .prduct-core-content on click to compensate for column kickout


  })(jQuery);


</script>
<% end %>
