<% title '<productTitle> - Tasks' %>
<% provide(:description, '<productDesc>') %>

<%= render 'shared/navbar' %>

<main role="main">

  <section class="product-header">

  </section>
  <section class="product-core">
    <aside class="secondary-column">
      <nav role="navigation">
        <ul class="primary-nav">
          <li>
            <a href="">lorem <span class="ping"></span></a>
          </li>
        </ul>
        <ul class="secondary-nav">
          <li>
            <a href="">lorem <span class="ping"></span></a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="primary-column">
      <div class="primary-column-header">
        <div class="filter-module">filter module</div>
      </div>
      <div class="primary-column-core">
        card
        <br><br>
        card
        <br><br>
        card
        <br><br>
        etc
      </div>
    </div>
    <aside class="tertiary-column">

        button
        <br><br>
        info card
      <nav class="tag-module" role="navigation">
        <div class="tag-module-header">
          <h4>Tags</h4>
          <a href="#">^</a>
        </div>
        <ul class="tag-module-core">
          <li>
            <href="#">#Backend</a>
          </li>
        </ul>
      </nav>
      <div class="assets-module">
        <div class="assets-module-header">
          <h4>Assets</h4>
          <a href="#">^</a>
        </div>
        <ul class="assets-module-core">
          <li>
            image
          </li>
          <li>
            image
          </li>
          <li>
            image
          </li>
        </ul>
      </div>
    </aside>
  </section>

</main>

<%= render 'shared/footer' %>

<% content_for :javascript do %>
<script>
  var $body = $(document.body);
</script>
<% end %>
