<% title 'Terms and Conditions' %>
<%= render 'shared/navbar' %>

<div class="py4 bg-white">
  <div class="container">
    <div class="row">
      <div class="sm-col-8 px2 mx-auto">

        <div class="page-header">
          <h2 class="page-header-title">Terms and Conditions</h2>
          <p>
            Last updated on Jun 2, 2014
            (<a class="small" href="https://github.com/assemblymade/meta/blob/master/app/views/pages/tos_content.markdown" rel="nofollow">Previous versions</a>)
          </p>
        </div>

        <%= markdown_content 'app/views/pages/tos_content' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
