<% title 'Terms and Conditions' %>
<%= render 'shared/navbar' %>

<div class="py4 bg-white">
  <div class="container">
    <div class="row">
      <div class="sm-col-8 px2 mx-auto">

        <div class="mt0 mb4 border-bottom">
          <h2 class="mt0 mb4 border-bottom-title">Terms and Conditions</h2>
          <p>
            Last updated on <%= markdown_mtime('app/views/pages/tos_content').to_date.to_s(:long) %>
            (<a class="small" href="https://github.com/assemblymade/legal" rel="nofollow">Previous versions</a>)
          </p>
        </div>

        <%= markdown_content 'app/views/pages/tos_content' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
