<% title 'Terms and Conditions' %>
<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">

        <div class="page-header">
          <h2 class="page-header-title">Terms and Conditions</h2>
          <p>
            Last updated on <%= markdown_mtime('app/views/pages/tos_content').to_date.to_s(:long) %>
            (<a class="small" href="https://github.com/assemblymade/legal" rel="nofollow">Previous versions</a>)
          </p>
        </div>

        <div class="copy">
          <p class="lead">
            Welcome to Assembly, a web site that lets Members submit App Ideas for feedback from and development by the Assembly community of users (the “Community”). The web site is first and foremost designed to facilitate the creation and evolution of viable software products.  However, selected App Ideas will further be developed by the Community and may ultimately be commercialized, produced and licensed or sold by Assembly. The assembly.com web site and its associated services (the “Services”) may be found at the domain and its related subdomains found at assembly.com (the “Site”).
          </p>
          <%= markdown_content 'app/views/pages/tos_content' %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
