<%= form_for @milestone.wip, url: product_project_images_path(@milestone.product, @milestone.wip) do |f| %>
  <div class="panel-body dropzone js-dropzone" data-view="milestone-upload">
    <div class="dropzone-inner js-dropzone-select">
      Drag &amp; drop file here or <a class="js-select-files" href="#">select it from your computer</a>.
    </div>
  </div>

  <input type="hidden" name="wip[milestone_images_attributes][][attachment_id]" class="js-attachment-id">
<% end %>
