@import 'deprecated/variables';

.card {
  background-color: $white;
  border: 1px solid $gray-light;
  box-shadow: 0 0 0 2px $body-bg;
  border-radius: $border-radius-large;
  overflow: hidden;
  text-align: center;
}
