@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)
@mixin hidpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (min-resolution: #{round($ratio*96)}dpi),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}

@mixin retina-image($filename, $background-size, $extension: png, $retina-filename: null, $retina-suffix: _2x, $asset-pipeline: false) {
  @if $asset-pipeline {
    background-image: image-url("#{$filename}.#{$extension}");
  }
  @else {
    background-image:       url("#{$filename}.#{$extension}");
  }

  @include hidpi {
    @if $asset-pipeline {
      @if $retina-filename {
        background-image: image-url("#{$retina-filename}.#{$extension}");
      }
      @else {
        background-image: image-url("#{$filename}#{$retina-suffix}.#{$extension}");
      }
    }

    @else {
      @if $retina-filename {
        background-image: url("#{$retina-filename}.#{$extension}");
      }
      @else {
        background-image: url("#{$filename}#{$retina-suffix}.#{$extension}");
      }
    }

    background-size: $background-size;

  }
}

@import 'bootstrap/glyphicons';

$carousel-control-color: #CCC;
$carousel-header-color: #d08770;
$carousel-caption-color: #9196a1;
$carousel-text-shadow: none;

$tiempos: "TiemposTextWeb";
$tiempos-family: $tiempos;

@import 'bootstrap/carousel';


.carousel-modal {
  @include size(960px, 450px);
  position: absolute;
  top: 42%;
  left: 50%;
  margin-left: - (960px / 2);
  margin-top: - (450px / 2);

  .item {
    min-height: 600px;
  }

  .carousel-caption {
    top: 20px;
    left: $carousel-control-width;
    right: $carousel-control-width;

    &.with-image {
      
      &:before {
        margin: 0 auto;
        margin-bottom: 40px;
        content: "";
        width: 200px;
        height: 200px;
        display: block;
      }
    }

    h3 {
      margin: 0;
      font-size: 38px;
      line-height: 1.2;
      color: $carousel-header-color;
      font-weight: 600;
    }

    h4 {
      font-family: $tiempos-family;
      color: $carousel-caption-color;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.5;
    }
  }
}

.carousel-control {
  &.left,
  &.right {
    background: transparent;
  }
}

#slide-one:before {
  @include retina-image(
    'welcome-tour/welcome-slide-1',
    200px 200px,
    'png',
    'welcome-tour/welcome-slide-1@2x',
    true
  );
}

#slide-two:before {
  @include retina-image(
    'welcome-tour/welcome-slide-2',
    200px 200px,
    'png',
    'welcome-tour/welcome-slide-2@2x',
    true
  );
}

#slide-three:before {
  @include retina-image(
    'welcome-tour/welcome-slide-3',
    200px 200px,
    'png',
    'welcome-tour/welcome-slide-3@2x',
    true
  );
}

#slide-four:before {
  @include retina-image(
    'welcome-tour/welcome-slide-4',
    200px 200px,
    'png',
    'welcome-tour/welcome-slide-4@2x',
    true
  );
}

#slide-five:before {
  @include retina-image(
    'welcome-tour/welcome-slide-5',
    200px 200px,
    'png',
    'welcome-tour/welcome-slide-5@2x',
    true
  );
}