[class^="icon-"], [class*=" icon-"] {
  font-family: 'assembly-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coin-event:before {
  content: "\e605";
}

.icon-upvote-promoted:before {
  content: "\e600";
}

.icon-upvote:before {
  content: "\e601";
}

.icon-upvote-arrow:before {
  content: "\e602";
}

.icon-app-coin:before,
.bounty:before {
  font-family: 'assembly-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e603";
  margin-right: .1em;
  vertical-align: baseline;
}

.icon-asm-logo:before {
  content: "\e604";
}
