<div class="timeline-item">
  <div class="media">
    <div class="pull-left">
      <div class="marker marker-purple">
        <span class="icon icon-chevron-down"></span>
      </div>
    </div>

    <div class="activity-body">
      <div class="activity-actions text-link-bold">
        Demoted by
        {{#actor}}
          <a href="{{url}}">{{username}}</a>
        {{/actor}}

        <ul class="list-inline pull-right omega">
          <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" id="dropdown-{{cid}}" data-toggle="dropdown">
                <i class="icon icon-ellipsis" style="font-size: 18px;"></i>
              </a>
              <ul class="dropdown-menu pull-right text-small" role="menu" aria-labelledby="dropdown-{{cid}}">

                {{#edit_url}}
                  <li>
                    <a href="{{edit_url}}">
                      <i class="icon-pencil dropdown-glyph"></i>
                      Edit comment
                    </a>
                  </li>
                {{/edit_url}}

                {{#anchor}}
                <li>
                  <a href="#{{anchor}}">
                    <i class="icon-link dropdown-glyph"></i>
                    Permalink
                  </a>
                </li>
                {{/anchor}}
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="activity-content markdown-normalized">{{{body_html}}}</div>
    </div>
  </div>
</div>
