<div class="dropdown right-align">
  <% if @milestone %>
    <a href="<%= product_project_path(@product, @milestone)%>"><%= @milestone.wip.title %></a>
  <% elsif can?(:edit, @wip) %>
    <a class="js-add link-hover-success" data-toggle="dropdown" href="#" data-placement="top" title="Add&nbsp;to&nbsp;Project">
      <i class="icon-folder" style="margin-right: 2px;"></i> Project
    </a>
    <% content_for :javascript do %>
      <script>$('.js-add').tooltip()</script>
    <% end %>

    <ul class="dropdown-menu">
      <li class="dropdown-header">Projects</li>
      <% @product.milestones.open.each do |milestone| %>
        <li>
          <a data-remote="true"
             data-method="patch"
             href="<%= product_project_add_path(@product, milestone, task_id: @wip.id) %>">
               <%= milestone.wip.title %>
            </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
