<!-- <%= form_for award, url: award_product_wip_path(@product, award) do |f| %>
  <%= f.hidden_field :id %>

  <button class="btn btn-default btn-small" data-confirm="Are you sure you want to award <%= award.user.username %>?"
      style="margin-top: 15px;">
    Award this to <%= award.user.username %>
  </button>
<% end %> -->
