<% title 'New Bounty', @bounty.product.name %>
<% activate_nav! :bounties %>

<div class="mt0 mb4 border-bottom sheet-header">
  <h2 class="mt0 mb4 border-bottom-title">Create a Bounty</h2>
</div>

<div data-react-class="CreateBounty" data-react-props="<%= {
  classes: 'btn btn-default btn-block',
  product: { name: @product.name },
  url: product_wips_path(@product),
  maxOffer: (6 * @product.average_bounty).round(-4),
  averageBounty: @product.average_bounty,
  coinsMinted: @product.coins_minted,
  profitLastMonth: @product.profit_last_month,
  steps: BountyGuidance::Valuations.suggestions(@product),
  createBountyShown: params['modal'] == 'true'
}.to_json %>"></div>

