<div class="modal modal-danger equator">
  <div class="equator-container">
    <div class="modal-dialog">
      <div class="modal-content text-center">

        <div class="modal-body">
          <a href="<%= root_url %>" title="Home">
            <%= image_tag '500.png', width: '100%' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
