<div class="modal equator">
  <div class="equator-container">
    <div class="modal-dialog">
      <div class="modal-content center">
        <div class="modal-body">
          <h3>Sorry, something went wrong with Assembly.</h3>
          <p>We've been notified and should have it fixed soon.</p>
          <a href="<%= root_url %>">Assembly Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
