<div class="modal modal-success equator">
  <div class="equator-container">
    <div class="modal-dialog">
      <div class="modal-content text-center">

        <div class="modal-body">
          <a href="<%= root_url %>" title="Assembly home">
            <%= image_tag '500.png', width: '50%' %>
          </a>

          <h3>Server Error</h3>
          <p>Sorry, something is wrong with Assembly. We've been notified and should have it fixed soon.</p>
          <a href="<%= root_url %>">Assembly home</a>
        </div>
      </div>
    </div>
  </div>
</div>
