<div class="sm-col-11 md-col-6 mx-auto mt3 bg-white rounded border border-darken-2 center p4">
  <h3 class="mt0 red">Sorry, Assembly had a problem.</h3>
  <p>We've been notified and should have it fixed soon.</p>
  <a href="<%= root_url %>" class="button button--default">Go back home</a>
</div>
