<% page_layout :error %>
<div class="container">
  <div class="big-logo">
    <img src="<%= image_path('logo-outline.svg') %>"/>
  </div>
  <h1>Assembly will be back shortly</h1>
  <p>
    We're busy rolling out new features just for you
  </p>
</div>
