<style>
  body {
    background: url(<%= image_path("404/#{@background}.jpg") %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<%= render 'shared/navbar' %>

<div class="sm-col-11 md-col-6 mx-auto mt4 center">
  <h3 class-"mt0" <% if [3,5].include?(@background) %>style="color:#eee;"<% end %>>We couldn't find that :(</h3>
  <form action="<%= discover_path %>">
    <div class="form-group has-feedback">
      <div class="input-group-search">
        <input type="search" name="search" value="<%= params[:search] %>" placeholder="Search" class="form-control" autocomplete="off">
      </div>
      <input type="hidden" name="type" value="">
    </div>
    <button type="submit" class="button button--default sr-only">Search</button>
  </form>
</div>
