<div class="modal equator">
  <div class="equator-container">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h3>We couldn't find what you were looking for.</h3>
          <a href="<%= root_url %>">Assembly Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
