$pageAsideCols: 2;

.l-idea {

  .poster-image {
    img {
      border-radius: $radius;
    }
  }

  .idea-body {
    margin-bottom: 60px;
  }

  .idea-body .description {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;

    img {
      max-width: 100%;
    }

    > .pitch {
      font-size: 39px;
      line-height: 1.5;
      margin-bottom: 24px;
    }
  }

  .feature-suggestions {
    margin-bottom: 60px;
  }
}
