.header-home {
  @include background(url('home/map-bg.png') 0 -200px repeat-x, linear-gradient(45deg, $home-gradient-from, $home-gradient-to));
  height: 510px;

  @include animation(orbit 140.0s linear infinite);

  .nav-section {
    @include padding-top-bottom(15px);
    margin-bottom: 70px;
    border-bottom: 1px solid rgba($white, 0.2);
  }

  nav {
    display: block;
    position: relative;

    .navbar-logo {
      @include inline-block();
      padding: 0;
      margin-top: 3px;
    }

    .btn-see-through {
      @include inline-block;
      float: right;
    }
  }

  h1 {
    @include padding-top-bottom(6px);
    font-size: 48px;
    font-weight: 200;
    line-height: 1.4;
    color: $white;
    background-color: rgba(#234d76, 0.5);
    display: inline;
    clear: both;
    margin-bottom: 50px;
  }

  h2 {
    @include make-column(4);
    font-family: $tiempos-family;
    color: $home-secondary;
    font-size: 24px;
    line-height: 1.6;
    padding: 0;
  }

  .email-signup .sign-up-submit {
    margin-top: 0;
  }

  .sign-up {
    margin-top: -15px;

    .sign-up-submit {
      .btn-default {
        border-color: $white;
      }
    }

    .input-group-control {
      margin-bottom: 20px;

      .form-control {
        border-color: $white;

        &:focus,
        &.focus {
          box-shadow: 0 0 5px 1px rgba(lighten($blue, 30%), 0.3) !important;
          z-index: 1;
          border-bottom-color: $gray-lighter;
        }
      }

      .form-control + .form-control {
        border-top: 1px solid $gray-lighter !important;
        border-bottom: 1px solid $gray-lighter !important;
      }
    }

    .signin-or {
      margin-top: 6px;
      margin-bottom: 6px + 2px;
    }

    .disclaimer {
      color: transparentize($white, .4);
      -webkit-font-smoothing: subpixel-antialiased;

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

.feature-list {
  @include margin-top-bottom(60px);

  .feature {
    margin-bottom: $default-margin * 2.5;

    h2 {
      color: $blue;
      font-size: 32px;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: $default-margin;
    }

    p {
      color: $home-copy;
      margin: 0;
    }
  }
}

.call-to-action {
  @include padding-top-bottom(30px);
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;

  h3 {
    font-size: 24px;
    line-height: 46px;
    color: $home-copy;
    margin: 0;
    vertical-align: middle;
  }
}

.email-block {
  @include margin-top-bottom(50px);
  font-size: 16px;
  color: $home-copy;
}
