.l-simple {
  @include container();
  width: grid-width(6);

  .bold-heading, .simple-heading {
    margin-top: 120px;
    margin-bottom: 60px;

    color: $gray-light;
    text-align: center;

    .icon + h1 {
      margin-top: 20px;
    }

    h1 {
      color: $gray-dark;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    h2 {
      font-weight: normal;
      padding-bottom: 10px;
    }
  }

  .bold-heading {
    h1 {
      font-size: 3rem;
      padding-bottom: 10px;
    }

    h2 {
      color: $gray-dark;
      font-size: 1.7rem;
    }
  }

  .simple-heading {
    margin-top: 120px;
    margin-bottom: 60px;

    color: $gray-light;
    text-align: center;

    .icon + h1 {
      margin-top: 20px;
    }

    h1 {
      color: $gray-dark;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
