<a href="<%= product_url(@product) %>"><%= @product.name %></a> was just submitted for approval.

<br>
<br>

<a href="<%= admin_pitch_week_applications_url %>">View all products awaiting approval</a>
