<%= f.hidden_field :type, value: User::BitcoinPaymentOption %>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-5">
      <%= form_group @payment_option, :bitcoin_address do %>
        <%= f.label :bitcoin_address %>
        <%= f.text_field :bitcoin_address, class: 'form-control' %>
        <p class="h6">Eg: 16yuWBDNR2qs9tihGMZSv4HkwCKQHow6kf</p>
      <% end %>
    </div>
  </div>
</div>
