// Cleanup in progress - some deprecated, redundant, & unorganized styles
// - TODO: http://goo.gl/XgoCGy

textarea {
  border: 1px solid $gray-5;
}

a:hover,
a:focus {
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.no-wrap {
  white-space: nowrap;
}

.img-rounded {
  border-radius: $border-radius-base;
}

// -- code ----------------------
code {
  color: $red;
}

mark, .mark {
  border-radius: $border-radius-small;
  color: darken($brand-warning, 33%);
  background-color: lighten($state-warning-bg, 5%);
}


// -- forms ---------------------
// input
input, select, textarea, fieldset {
  margin-bottom: 0;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: auto;
  padding: 6px 12px;
  line-height: $line-height-base;
  outline: none;
}

// -- lists ---------------------

.list-inline-media {
  display: inline-block;

  > li {
    padding-left: 1px;
    padding-right: 1px;

    &:first-of-type {
      padding-left: 6px;
    }
  }
}

// pill lists
.pill-hover {
  border-radius: 50px;
  //
  &:hover {
    color: #353941;
    background: #e7e9ec;
    border-radius: 50px;
    text-decoration: none;
  }
}

// -- CLEAN UP  -------------------

.text-large, .large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.text-stealth-link {
  &, &:hover {
    color: inherit
  }
}
