$hero-primary: desaturate(#b57f59, 20%);
$hero-secondary: #CBCBBC;
$text-copy: #353439;
$text-accent: #BC9454;

// $home-primary: desaturate(darken($text-accent, 30%), 15%);
// $home-primary: desaturate(darken($brand-primary, 35%), 20%);
$home-primary: darken(#3E90CA, 30%);
$home-secondary: #A8D7F9;

$product-helpful: #494d52;
$product-family-table: #77b8b4;
$product-buckets: #f9d233;
$product-really-good-emails: #ff6560;
$product-assembly-meta: darken(#2b8ec3, 2%);

$user-whale: #63a4ae;
$user-chexee: #98658e;
$user-davidkaneda: #848C24;

.hero {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, $hero-primary 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  color: $text-copy;

  h1 {
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: bold;
    color: $text-copy;

    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 2px;
      background-color: $hero-secondary;
      margin: 0 auto;
      margin-top: 28px;
      border-radius: 1px;
    }
  }

  h6 {
    font-size: 15px;
    letter-spacing: 0.8pt;
    margin: 0;
    margin-bottom: 5px;
    color: $text-accent;

    .icon {
      font-size: 32px;
      position: relative;
      bottom: -3px;
    }
  }

  .lead {
    color: inherit;
    padding: 0 50px;
  }
}

.lead-hero {
  @extend .lead;
  font-size: 23px;
  font-weight: normal;
  color: white;
}

.section,
.sidebar {
  color: $text-copy;
}

.section {
  font-size: $font-size-large;
  margin-bottom: 48px;

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: lighten($text-copy, 77%);
  }

  h2 {
    color: $black;
    font-weight: 200;
    margin-bottom: $line-height-computed * 2;
    font-size: 42px;
  }

  h3 {
    color: $black;
    font-weight: 200;
    margin-bottom: $line-height-computed * 1.5;
    font-size: 34px;

    span {
      color: $gray-light;
    }
  }


  h4 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: $line-height-computed;
    color: $text-accent;
  }
}

.section-ruled {
  border-bottom: 1px solid $brand-divider;
}

.section-padded {
  padding: 30px 0;
}

.deprecated-card-product {
  .summary-target {
    color: $text-color;
    font-weight: normal;
    margin-bottom: $line-height-computed / 2;
  }

  .summary-name {
    font-weight: bold;
    font-size: 15px;
  }
}

.deprecated-card-colored {
  margin-bottom: 0;
  background-color: $gray;
  box-shadow:
    0 1px 0 0 $brand-shadow;

  .deprecated-card-hero {
    box-shadow: none;
  }

  .deprecated-card-body {
    color: white;

    .summary,
    .summary-target {
      color: inherit;
    }

    .summary-target {
      min-height: 48px;
      margin-bottom: $line-height-computed * 0.75;
      font-size: $font-size-large;
    }

    p,
    .summary-name {
      letter-spacing: 0.2pt;
      line-height: 1;
      color: rgba(white, 0.75);
      font-size: 13px;
    }
  }

  .deprecated-card-footer {
    border: none;
    background: rgba(0,0,0,0.1);
    font-weight: bold;
    color: white;
    padding: 6px 20px;
  }
}

a.deprecated-card-colored:hover {
  box-shadow: inset 0 0 0 1px $brand-shadow,
              0 3px 3px 0 $brand-shadow;
}

.product-helpful {

  &.deprecated-card:not(.deprecated-card-colored) {
    .summary-name {
      color: $product-helpful;
    }
  }

  &.deprecated-card-colored {
    background-color: $product-helpful;

    .summary-name {
      color: lighten($product-helpful, 35%);
    }

    .deprecated-card-footer {
      background: darken($product-helpful, 4%);
    }
  }
}

.product-family-table {

  &.deprecated-card:not(.deprecated-card-colored) {
    .summary-name {
      color: $product-family-table;
    }
  }

  &.deprecated-card-colored {
    background-color: $product-family-table;

    .summary-name {
      color: lighten($product-family-table, 28%);
    }

    .deprecated-card-footer {
      background: darken($product-family-table, 9%);
    }
  }
}

.product-buckets {

  &.deprecated-card:not(.deprecated-card-colored) {
    .summary-name {
      color: $product-buckets;
    }
  }

  &.deprecated-card-colored {
    background-color: $product-buckets;

    .summary-name {
      color: lighten($product-buckets, 35%);
    }

    .deprecated-card-footer {
      background: darken($product-buckets, 12%);
    }
  }
}

.product-really-good-emails {

  &.deprecated-card:not(.deprecated-card-colored) {
    .summary-name {
      color: $product-really-good-emails;
    }
  }

  &.deprecated-card-colored {
    background-color: $product-really-good-emails;

    .summary-name {
      color: lighten($product-really-good-emails, 24%);
    }

    .deprecated-card-footer {
      background: desaturate(darken($product-really-good-emails, 6%), 15%);
    }
  }
}

.product-assembly-meta {

  &.deprecated-card:not(.deprecated-card-colored) {
    .summary-name {
      color: $product-assembly-meta;
    }
  }

  &.deprecated-card-colored {
    background-color: $product-assembly-meta;
  }
}

.user-whale {
  &.deprecated-card-colored {
    background-color: $user-whale;

    .deprecated-card-inner {
      background: url(image-path('users/whale.jpg')) no-repeat;
    }
  }
}

.user-chexee {
  &.deprecated-card-colored {
    background-color: $user-chexee;

    .deprecated-card-inner {
      background: url(image-path('users/chexee.jpeg')) no-repeat;
    }
  }
}

.user-davidkaneda {
  &.deprecated-card-colored {
    background-color: $user-davidkaneda;

    .deprecated-card-inner {
      background: url(image-path('users/davidkaneda.png')) no-repeat;
    }
  }
}

.getting-started {
  padding: 16px 0 36px 0;
  background: $hero-primary;
  border: none;
  margin-bottom: 60px;
}

figure,
.figure {
  font-size: $font-size-small;
  font-style: italic;
  color: $gray;
  border-top: 1px dotted $brand-divider;
  padding: 10px 0;
}

.figure-inverted {
  color: $home-secondary;
  border-top: 1px dotted rgba($home-secondary, 0.3);

  a {
    color: white;
  }
}

// .block {
//   background-color: white;
//   z-index: 1;
//   position: relative;
//   padding: 36px 0;
// }
//
// .block-inverted {
//   color: white;
//
//   h1, h2, h3, h4, h5, h6 {
//     color: inherit;
//
//     em {
//       border-bottom: 3px solid lighten($home-primary, 8%);
//     }
//   }
// }
//
// .block-colored {
//   background: $body-bg;
//   color: $gray-dark;
// }
//
// .block-bordered {
//   box-shadow:
//     inset 0 1px 0 0 rgba(0,0,0,0.04),
//     inset 0 -1px 0 0 rgba(0,0,0,0.04);
// }
//
// .block-image-bg {
//   background-position: top center;
//   background-size: cover;
//   padding: 48px 0;
// }
//
// .block-overlay {
//   background-color: rgba($black, 0.2);
// }
//
// .block > .block {
//   margin-top: 50px;
//   margin-bottom: -50px;
// }

.page-home {

  .block-image-bg {
    background: linear-gradient(140deg, rgba($home-primary, 0.92), rgba(desaturate(darken($home-primary, 15%), 10%), 0.92)), url(image-path('home/home.jpg'));
    background-size: cover;
    background-position: center;

    h1 {
      margin-top: $line-height-computed * 1.5;
      margin-bottom: $line-height-computed * 3;
      line-height: 1.15;
      font-weight: 200;
    }

    @media screen and (min-width: $screen-sm-min) {
      h1 {
        font-size: 82px;
      }
    }

    .lead {
      font-size: 32px;
      line-height: 1.4;
    }
  }

  h6 {
    font-size: 14px;
  }
}

.devbar:before {
  display: none;
}

.list-ruled {

  li {
    border-bottom: 1px dotted $brand-divider;
    padding: 8px 0;

    &:last-child {
      border: none;
    }
  }
}

.list-team {

  h6 {
    margin-top: $line-height-computed * 0.75;
    text-transform: none;
    letter-spacing: 0;

    span,
    span a {
      color: $gray;
      font-weight: normal;
      font-size: 92.5%;
    }
  }

  .team-person {

  }
}

// @media (max-width: $screen-xs-max) {
//   .seven-cols .col-md-1,
//   .seven-cols .col-sm-1,
//   .seven-cols .col-xs-1,
//   .seven-cols .col-lg-1  {
//     width: 100%;
//     *width: 100%;
//   }
// }
//
// @media (min-width: $screen-sm-min) {
//   .seven-cols .col-md-1,
//   .seven-cols .col-sm-1,
//   .seven-cols .col-xs-1,
//   .seven-cols .col-lg-1  {
//     width: 25%;
//     *width: 25%;
//   }
// }

// @media (min-width: $screen-md-min) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-xs-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
// }

// ported from application.scss - 1-3-15

.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

.img-shadow {
  display: block;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: $border-radius-base;
  }

  img {
    display: block;
  }
}

.sub-thingy {
  margin-top: -24px;
  padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid $brand-divider;
  margin-bottom: 24px;
}

.play-button {
  display: inline-block;
  margin-top: $line-height-computed * 2;
  margin-bottom: $line-height-computed * 2;
  padding: ($line-height-computed * 2) ($grid-gutter-width * 2);
  outline: none;
}

.play-button:hover {
  background-color: rgba(black, .2);
}

.play-button:focus {
  outline: none;
}

.masthead-gradient {
  @include gradient-vertical(rgb(34, 157, 171), rgb(16, 53, 97), 24%, 100%);

  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: .7;
}

.feature {
  padding-bottom: $padding-large-vertical;
  position: relative;

  > .glyphicon {
    display: block;
    font-size: $font-size-large;
    margin-left: -36px;
    position: absolute;
  }

  > .feature-title {
    line-height: 1.1;
    margin-top: 0;
  }
}

// TODO This was @chrislloyd's hack. To be replaced when more time is spent on the welcome banner.

.welcome-banner-left {
  background-image: url(image-path('asm-flatsidebars-left-2x.png'));
  background-repeat: none;
  background-size: 813px 166px;
  width: 813px;
  height: 166px;
  left: -813px - 48px;
  top: -0.5rem;
}

.welcome-banner-right {
  background-image: url(image-path('asm-flatsidebars-right-2x.png'));
  background-repeat: none;
  background-size: 813px 166px;
  width: 813px;
  height: 166px;
  right: -813px - 48px;
  top: -0.5rem;
}

