// :(

$hero-primary: desaturate(#b57f59, 20%);
$hero-secondary: #CBCBBC;
$text-copy: #353439;
$text-accent: #BC9454;

.hero {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, $hero-primary 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 60rem;
  padding-top: 6rem;
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.sub-thingy {
  margin-top: -24px;
  padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid $brand-divider;
  margin-bottom: 24px;
}

.play-button {
  display: inline-block;
  margin-top: $line-height-computed * 2;
  margin-bottom: $line-height-computed * 2;
  padding: ($line-height-computed * 2) ($grid-gutter-width * 2);

  &:hover {
    background-color: rgba(black, 0.2);
  }

  &:focus {
    outline: none;
  }
}

.masthead-gradient {
  @include gradient-vertical(rgb(34, 157, 171), rgb(16, 53, 97), 24%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
}

// TODO This was @chrislloyd's hack. To be replaced when more time is spent on the welcome banner.

.welcome-banner-left {
  background-image: url(image-path('asm-flatsidebars-left-2x.png'));
  background-repeat: none;
  background-size: 813px 166px;
  width: 813px;
  height: 166px;
  left: -813px - 48px;
  top: -0.5rem;
}

.welcome-banner-right {
  background-image: url(image-path('asm-flatsidebars-right-2x.png'));
  background-repeat: none;
  background-size: 813px 166px;
  width: 813px;
  height: 166px;
  right: -813px - 48px;
  top: -0.5rem;
}
