<tr>
  <td colspan="5" class="">
    <%= l withdrawal.created_at, format: :formal %> Withdrawal
    (#<%= withdrawal.reference.to_s.rjust(8, '0') %>) for
    <%= currency withdrawal.payable_amount %>
    <% if withdrawal.payment_sent_at.nil? %>
      <span class="gray-2">(pending)</span>
    <% end %>
    <% if withdrawal.amount_withheld > 0 %>
      <span class="gray-2">(<%= currency withdrawal.amount_withheld %> withheld in taxes)</span>
    <% end %>
  </td>
</tr>
