<% cache [asset] do %>
  <a class="deprecated-card" href="<%= asset.url %>">

    <div class="deprecated-card-hero" style="background-image:url(<%= firesize(asset.url, '426x284', 'g_center')%>)"></div>

    <div class="deprecated-card-body">

      <div class="summary">
        <div class="summary-target omega" style="font-size: 14px; min-height: 48px;">
          <%= asset.name %>
          <% if asset.room %>
            <span class="text-muted" style="margin-top: 8px;">#<%= asset.room.number %></span>
          <% end %>
        </div>
      </div>
    </div>
  </a>
<% end %>
