<% title 'Assets', @product.name %>
<%= track_engaged 'assets' %>
<% activate_nav! :assets %>

<% if @assets.empty? %>
  <div class="well well-lg mb0">
    <h3 class="mt0"><strong>Share Assets</strong></h3>
    <p class="gray-2 mb0">
      Upload images, zip files, PSDs with the rest of the team building <%= @product.name %>.
    </p>
  </div>
<% else %>
  <div class="clearfix mxn3">
    <% @assets.each do |asset| %>
      <div class="sm-col sm-col-6 md-col-3 px3">
        <%= render 'assets/asset', asset: asset %>
      </div>
    <% end %>
  </div>

  <%= paginate @assets, theme: 'twitter-bootstrap-3' %>
<% end %>
