<div class="activity">

  <div class="pull-left">
    <div class="marker blue border-blue">
      <span class="icon icon-document"></span>
    </div>
  </div>

  <div class="activity-body">
    <div class="activity-actions text-link-bold" style="margin-bottom: 8px;">
      {{#actor}}
        <a href="{{url}}">{{username}}</a>
      {{/actor}}
      added a design
      <a target="_blank" href="{{href}}">{{name}}</a>

      <ul class="list-inline pull-right mb0">
        <li>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdown-{{cid}}" data-toggle="dropdown">
              <i class="icon icon-ellipsis" style="font-size: 18px;"></i>
            </a>

            <ul class="dropdown-menu pull-right text-small">
              {{#award_url}}
                <li>
                  <a class="event-award" href="{{award_url}}?event_id={{id}}" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
                    <i class="glyphicon glyphicon-star-empty mr1"></i>
                    Award bounty to {{#actor}}@{{username}}{{/actor}}
                  </a>
                </li>

                <li>
                  <a class="event-award" href="{{award_url}}?event_id={{id}}&close=true" data-method="patch" data-confirm="Are you sure you want to award this task to {{#actor}}@{{username}}{{/actor}}?">
                    <i class="glyphicon glyphicon-star mr1"></i>
                    Award bounty to {{#actor}}@{{username}}{{/actor}} and close it
                  </a>
                </li>
              {{/award_url}}

            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="activity-content">
      {{#attachment}}
        <a href="{{href}}">
          <img class="gallery-thumb" src="{{firesize_url}}/300x225/g_center/{{href}}" />
        </a>
      {{/attachment}}
    </div>

  </div>
</div>
