<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="text-center">
        <h1>Thank you. Get ready!</h1>

        <p>We're really stoked to have you here in the Assembly community. Whithin 24 hours you'll hear back from Austin, who's our community manager on the Assembly team. There are several options for next steps. Take your pick!</p>
      </div>

      <div class="list-group">
        <a class="list-group-item" href="#">
          <h3 class="alpha omega text-primary">The Basics <small>See how Assembly works</small></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= faq_path %>">
          <h3 class="alpha text-primary">Answers Smart Question <small>Our version of a FAQ</small></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= discover_path %>">
          <h3 class="alpha text-primary">See The Products <small>View the 43 ongoing products</small></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= product_path('meta') %>">
          <h3 class="alpha text-primary">Jump into Meta <small>See How Assembly is being built</small></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

      </div><!-- .list-group -->

    </div>
  </div>
</div>
