/* >> Accordion Grid & Accordion Grid Unit Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*

## note - accordion-grid can be used independent of flip-grid-unit

-- HTML Pattern ----------------
<section class="accordion-grid-unit">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <ul class="accordion-grid">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.accordion-grid-unit {
  display:none;
  @import 'app/temp/style-guide-updates';  // < details: https://assembly.com/meta/bounties/1038
  //
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $gray-4;
  .footer { // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }
  > .header, > .main {
    margin-bottom: 2rem;
  }
  > .header, > .main, > .footer {
    position: relative;
    z-index: 5;
    text-align: center;
    @extend .text-2;
    //
    p {
      @extend .text-2;
    }
  }
}
