// $app-top-height: 70px;
//
// .app-top {
//   height: $app-top-height - 7; // sorry about the -7
// }

.app-main {
  min-height: 15rem
}

.app-logo {
  // margin-top: -$app-top-height;
  img {
    width: 60px;
    height: 60px;
    background-color: $white;
    border: solid 1px $gray-6;
  }
}

.app-info {
  padding-left: 70px;
}

.app-title {
  line-height: 1;
  font-size: 16px;
}

.app-pitch {
  line-height: 1.2;
  font-size: 16px;
}

.app-tags {
  line-height: 1.2;
}

.big-block-button {
  display: block;
  margin: 1rem auto;
  padding: 3rem 2rem;
  text-align: center;
  color:$gray-1;
  font-size: 1.5rem;
  background: $gray-5;

  &:hover {
    background: $gray-4;
  }
}

.pill-gray {
  background-color: $gray-3;
  border-radius:1rem;
  font-size:13px;
  line-height:2rem;
  padding: 0.2rem 1.5rem;
}
