.app {
  min-height: 12rem
}

.app-info {
  padding-left: 70px;
  padding-right: 10px;
}

.app-title {
  line-height: 22px;
}

.app-pitch {
  line-height: 14px;
  font-size: 13px;
  color: $gray-darker;
}
