.badge {
  border-radius: 999px;
}

.badge-navbar {
  background-color: #c2c7d0; // $gray-5
  color: white;
  font-size: 14px;
  height: 24px;
  line-height: 14px;
  padding: 5px 12px;
  vertical-align: middle;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;

  &:hover {
    color: white;
    background-color: #8B909A; // $gray-4
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }

  &.active {
    background-color: #EC3750;
  }

  &.active:hover {
    background-color: darken(#EC3750, 10%);
  }
}

.badge-notification {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
  font-size: 11px;
  background-color: $red;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  line-height: 20px;
}

.badge-subtle {
  background-color: #ccc;
}
