
button, .button {
  padding: 0;
}

.btn {
  @include button-size(0.5rem, 2rem, $font-size-base, $line-height-base, $border-radius-base);
  border: none;
}

.btn-sm {
  @include button-size(3px, 12px, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-default {
  &:hover,
  &:active {
    background-color: $btn-default-bg;
    border-color: darken($btn-default-border, 7%);
  }

  &.disabled {
    color: $btn-default-border;
  }

  /*
    Bootstrap's .disabled now attempts to render
    a button unclickable using pointer-events.
    When you want a button to appear faded out
    but to still be clickable, use .inactive instead.
  */
  &.inactive {
    color: $btn-default-border;
    box-shadow: none;
  }
}

.btn-primary {
  border: none;
}

.btn-xl {
  @include button-size(12px, 30px, 24px, 32px, 5px);
}

.btn-pill {
  @include button-variant($brand-primary, white, $brand-primary);
  @include button-size($padding-base-vertical, $padding-base-horizontal + ($line-height-computed / 2), $font-size-base, $line-height-base, ($line-height-computed / 2) + $padding-base-vertical + 1);

  font-weight: normal;

  &:hover {
    color: $link-hover-color;
  }

  &.btn-sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal + 6px, $font-size-small, $line-height-computed-small, ($line-height-computed-small / 2) + $padding-small-vertical + 1);
  }
}

.btn-twitter {
  @include button-variant($btn-twitter-color, $btn-twitter-bg, $btn-twitter-border);
}

.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.clickable {
  cursor: pointer;
}

.btn-label {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);

  color: $link-color;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// new component

._button {
  display: block;
  position:relative;
  padding:0.5rem 2.25rem;
  text-align:center;
  color: $black;
  font-size:13px;
  background:$gray-5;
  border: none;
  outline: none;
  //
  &:hover {
    color: inherit;
    background:$gray-3;
  }
  .main-text {
    display:inline;
  }
  .hover-text {
    display:none;
  }
  &.active {
    color: $gray-3;
    background:$gray-5;
    //
    &:hover {
      //
      .hover-text {
        display:inline;
      }
      .main-text {
        display:none;
      }
    }
  }
  // title
  .title {
    font-size:1.2rem;
    line-height:2rem;
  }
// border
  &.border {
    //
    &:before {
      content:'';
      display: block;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border:1px solid rgba(100,100,100,0.1);
      border-bottom:1px solid rgba(100,100,100,0.15);
      border-radius: 50px;
    }
  }
// type
  &.bevel {
   border-radius: .25rem;
   //
     &.border {
      //
      &:before {
        border-radius: .25rem;
      }
    }
  }
  &.pill {
    border-radius: 4rem;
    //
    &.border {
      //
      &:before {
        border-radius: 4rem;
      }
    }
  }
// themes
  &.theme-white {
    color: $blue;
    background: $white;
    //
    &:hover {
      color: #666d78;
      background: $white;
    }
    &.active {
      width:125px;
      color: #666d78;
      background:$white;
      //
      &:hover {
        //
        .title {
          padding-left:0;
          &:before {
            visibility: hidden;
          }
        }
      }
      .title {
        position:relative;
        padding-left:1rem;
        &:before {
          content:'';
          position:absolute;
          top:50%;
          left:-6px;
          margin-top:-5px;
          width:11px;
          height:11px;
          background-image: url(/assets/icon-success-check-green.png);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.theme-green {
    color: $white;
    background: $green;
    //
    &:hover {
      color: $white;
      background:$green-dark;
    }
    &:focus {
      color: $white;
    }
  }
// shadow
  &.shadow {
    box-shadow: 0px 1px 3px -1px rgba(50, 50, 50, 0.1);
  }
  &.shadow-dark {
    box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.6);
    &:hover {
      box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
    }
  }
  &.text-shadow {
    text-shadow: 0px 1px rgba(50, 50, 50, 0.2);
  }
// feature
  &.split {
    position:relative;
    //
    .split-icon {
      display:block;
      position:absolute;
      right:0;
      top:0;
      height:100%;
      width: 4.5rem;
      padding-top: 0.75rem;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border:1px solid rgba(100,100,100,0.15);
      border-left:1px solid rgba(100,100,100,0.125);
      //
    }
    &.open {
      //
      .split-icon {
        //
        &.theme-green {
          background:$green-dark;
        }
        .fa:before {
          display: block;
          -webkit-transform: translate3d(0,0,0) rotate(180deg);
                  transform: translate3d(0,0,0) rotate(180deg);
        }
      }
    }
  }
}

// TODO: below deprecated, consolidate into above

.pill-button {
// default
  display: block;
  position:relative;
  padding:0.5rem 2.25rem;
  text-align:center;
  border-radius: 50px;
  color: $black;
  font-size:13px;
  background:$gray-5;
  border: none;
  outline: none;
  //
  &:hover {
    color: inherit;
    background:$gray-3;
  }
  .mainText {
    display:inline;
  }
  .hoverText {
    display:none;
  }
  &.active {
    color: $gray-3;
    background:$gray-5;
    //
    &:hover {
      //
      .hoverText {
        display:inline;
      }
      .mainText {
        display:none;
      }
    }
  }
}
// general
.pill-button-shadow {
  box-shadow: 0px 1px 3px -1px rgba(50, 50, 50, 0.1);
}
.pill-button-shadow-dark {
  box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.6);
  &:hover {
    box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
  }
}
.pill-button-text-shadow {
  text-shadow: 0px 1px rgba(50, 50, 50, 0.2);
}
.pill-button-border {
  //
  &:before {
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:1px solid rgba(100,100,100,0.1);
    border-bottom:1px solid rgba(100,100,100,0.15);
    border-radius: 50px;
  }
}
// themes
.pill-button-theme-white {
  color: $blue;
  background: $white;
  //
  &:hover {
    color: #666d78;
    background: $white;
  }
  &.active {
    width:125px;
    color: #666d78;
    background:$white;
    //
    &:hover {
      //
      .title {
        padding-left:0;
        &:before {
          visibility: hidden;
        }
      }
    }
    .title {
      position:relative;
      padding-left:1rem;
      &:before {
        content:'';
        position:absolute;
        top:50%;
        left:-6px;
        margin-top:-5px;
        width:11px;
        height:11px;
        background-image: url(/assets/icon-success-check-green.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}
.pill-button-theme-green {
  color: $white;
  background: $green;
  //
  &:hover {
    color: $white;
    background:$green-dark;
  }
  &:focus {
    color: $white;
  }
}
.pill-button-split {
  position:relative;
  //
  .pill-button-split-icon {
    display:block;
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width: 4.5rem;
    padding-top: 0.75rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid rgba(100,100,100,0.15);
    border-left:1px solid rgba(100,100,100,0.125);
  }
  &.open {
    //
    .pill-button-split-icon {
      //
      &.pill-button-theme-green {
        background:$green-dark;
      }
      .fa:before {
        display: block;
        -webkit-transform: translate3d(0,0,0) rotate(180deg);
                transform: translate3d(0,0,0) rotate(180deg);
      }
    }
  }
}
