.card {
  border: 1px solid $brand-border;
  border-radius: $border-radius-base;
  margin-bottom: $line-height-computed;
  background-color: white;

  > :first-child {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  > :last-child {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}

.card-body {
  padding: 24px;
}

.card-footer {
  padding: 15px 13px;
  background-color: $brand-bg;
}
