.chat-timeline {
  margin-bottom: 0;
}

.chat-actions {
  padding-top: $padding-base-vertical + 2px;
  padding-left: $grid-gutter-width * 1.5;
  padding-right: $grid-gutter-width * 1.5;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;

  border-top: 1px solid $brand-divider;

  &.is-fixed {
    position: fixed;
    bottom: 0;
  }
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: .5;
  text-align: center;
  display: inline-block;
}

.indicator-default {
  background-color: $gray-5;
}

.indicator-info {
  background-color: $blue;
}

.indicator-success {
  background-color: $green;
}

.indicator-danger {
  background-color: $red;
}

.chat .markdown img {
  max-width: 50%;
  width: 50%;
}

.chat .markdown .emoji {
  width: inherit;
}

.chat .markdown .modal {
  text-align: center;

  img {
    max-width: 70%;
    width: inherit;
  }
}

.chat .activity-content {
  color: #333;
}
