.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: .5;
  text-align: center;
  display: inline-block;
}

.indicator-success {
  background-color: $green;
}

.chat .markdown img {
  max-width: 100%;
}

.chat .markdown .emoji {
  width: inherit;
}

.chat .markdown .modal {
  text-align: center;

  img {
    max-width: 70%;
    width: inherit;
  }
}

.chat .activity-content {
  color: #333;
}
