.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: .5;
  text-align: center;
  display: inline-block;
}

.chat .markdown .emoji {
  width: inherit;
}

.chat .activity-content {
  color: #333;
}
