/* >> Dashboard Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="dashboard">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.dashboard {
  @import 'app/temp/style-guide-updates';  // < details: https://assembly.com/meta/bounties/1038
  //
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $gray-6;
  //
  .footer { // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }
  > .header, > .main, > .footer {
    position: relative;
    z-index: 5;
    text-align: center;
    @extend .text-2;
    p {
      @extend .text-2;
    }
  }
}
.dashboard.circle-stats {
  padding-top: 4rem;
  padding-bottom: 5rem;
  text-align: center;
  color: #3f434a;
  @media screen and (min-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5.5rem;
  }
  //
  .chart {
    position: relative;
    display: block;
    margin-bottom: 1.25rem;
    //
    canvas {
      display: block;
      margin: 0 auto;
    }
  }
  h3.data {
    margin-top: 0.1rem;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
