.deprecated-card {
  display: block;
  position: relative;
  color: $text-color;
  box-shadow: inset 0 0 0 1px $brand-border,
              0 1px 0 0 $brand-shadow;
  border-radius: $border-radius-base;
  background-color: white;
  overflow: hidden;
  margin-bottom: $line-height-computed;
  @include transition-property(box-shadow, translate);
  @include transition-duration($transition-out-duration);
  @include transition-timing-function($transition-function);

  &:hover,
  &.card-active {
    color: $text-color;
    text-decoration: none;

    .card-inner {
      @include transition-duration($transition-in-duration);
      opacity: 0.05;
    }
  }
}

.deprecated-card-inner {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  opacity: 1;
  @include transition-property(opacity);
  @include transition-duration($transition-out-duration);
  @include transition-timing-function($transition-function);
}

a.deprecated-card:hover {
  @include translate(0, -3px);
  @include transition-duration($transition-in-duration);
  box-shadow: inset 0 0 0 1px $brand-border,
              0 3px 3px 0 $brand-shadow;
}

.deprecated-card-hero {
  background-color: $body-bg;
  width: 100%;
  height: 0;
  padding-bottom: percentage(2/3);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1px rgba(black, 0.15);
}

.deprecated-card-body {
  padding: 20px;
}

.deprecated-card-footer {
  @include clearfix;
  padding: ($line-height-computed / 4) 20px;
  // border-top: 1px solid $brand-divider;
  background-color: $brand-bg;
  font-size: $font-size-small;
  color: $brand-muted;
}

.deprecated-card-sm {
  border-radius: $border-radius-base;

  .deprecated-card-body {
    padding: 15px 20px;
  }
}

.deprecated-card-lg {
  border-radius: $border-radius-large;
}
