.devbar:before {
  display: block;
  content: '';
  background: url(image-path('devbar.png')) repeat-x;
  height: 4px;
  width: 100%;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  /* Retina-specific stuff here */

  .devbar:before {
    background-size: 18px 6px;
  }
}
