/**
 * ReactCSSTransition `drawer`
 * Notes: `opacity` is initialized at 0.01 and not 0
 *        so that React can listen to the `transitionend` event.
 */

.drawer-enter {
  max-height: 0px;
  opacity: 0.01;

  &.drawer-enter-active {
    max-height: 500px;
    opacity: 1;
    transition:  max-height 1.2s ease, opacity 1.2s ease;
  }
}

.drawer-leave {
  max-height: 500px;
  opacity: 1;

  &.drawer-leave-active {
    max-height: 0px;
    opacity: 0.01;
    transition: max-height 0.8s ease, opacity 0.8s ease;
  }
}
