$dropdown-border-color: rgba(100, 100, 100, .2);
$dropdown-shadow-color: rgba(100, 100, 100, .1);

.new-dropdown-menu {
  position: absolute;

  top: 100%;
  z-index: 99;

  float: left;
  min-width: 12rem;

  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;

  margin-top: .5rem;

  list-style: none;
  background-color: white;
  border-radius: $border-radius;
  background-clip: padding-box;

  text-align: left;

  box-shadow: 0 0 0 1px $dropdown-border-color,
              0 .25rem .5rem 0 $dropdown-shadow-color;

  &:before {
    top: -.5rem;
    border-width: 0 .5rem .5rem .5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent darken($dropdown-border-color, 20%) transparent;
    position: absolute;
    content: "";
  }

  &:after {
    top: calc(-.5rem + 1px);
    border-width: 0 .5rem .5rem .5rem;
    border-color: transparent transparent $white transparent;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.new-dropdown-menu--left {
  left: 0;

  &:before,
  &:after {
    left: 1rem;
  }
}

.new-dropdown-menu--right {
  right: 0;

  &:before,
  &:after {
    right: 1rem;
  }
}

.new-dropdown-menu-item {

  > a {
    display: block;
    font-size: 13px;
    line-height: 2rem;
    color: $gray-2;
    padding: .5rem 1rem;

    &:hover {
      color: $black;
      background-color: $gray-6;
    }
  }
}

.new-dropdown-menu-divider {
  background-color: $dropdown-border-color;
  height: 1px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
