.dropdown-menu {
  border:none;
  padding:0;
  margin:0.5rem 0 0 0;
  min-width:0;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.1);
  //
  &:before {
    content:'';
    z-index:5;
    pointer-events: none;
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:1px solid rgba(100,100,100,0.2);
    border-radius: 5px;
  }
  li {
    a {
      position:relative;
      z-index:1;
      padding:0.5rem 1.5rem;
      font-size: 1.1rem;
      color:#8B909A;
      // color:$gray-2;
      // There is a specificity issue in our _colors.scss file that conflicts with legacy code. We can't use
      // variables here until it gets resolved.
      //
      &:hover {
        box-shadow: inset 0px -1px 0 rgba(100,100,100,0.05), inset 0px 1px 0 rgba(100,100,100,0.05);
        border-radius: 0;
        color:$black;
      }
    }
    &:first-child {
      a {
        padding-top:1rem;
        &:hover {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    &:last-child {
      a {
        padding-bottom:1rem;
        &:hover {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
