.dropzone {
  padding: 0;

  &.dz-drag-hover {
    background-color: $component-active-bg;
    border-color: $input-border-focus;

    > .dropzone-inner {
      border-color: rgba($input-border-focus, .3);
    }
  }
}

.dz-preview,
.dz-default {
  display: none;
}

.dropzone-standalone {
  border: 1px solid $gray-6;
  border-radius: $border-radius-base;

  .dz-preview {
    display: block;

    .dz-details {
      padding: $padding-large-horizontal;
    }

    img {
      border: 1px solid $gray-6;
      border-radius: $border-radius-base;
    }

    .dz-filename, .dz-size {
      font-size: $font-size-small;
    }
  }
  .dz-success-mark, .dz-error-mark {
    display: none;
  }

  &.dz-drag-hover {
    background-color: $component-active-bg;
    border-color: $input-border-focus;

    > .dropzone-inner {
      border-color: rgba($input-border-focus, .3);
    }
  }
}

.dropzone-inner {
  cursor: pointer;

  border: 1px dashed $brand-divider;
  border-radius: $border-radius-small;
  margin: $padding-base-horizontal;
  padding: $padding-large-horizontal;

  font-size: $font-size-small;
  text-align: center;
  color: $text-muted;
}
