.flair.active {
  outline: solid 2px #14A2B7;
}

.flair.panel-header {
  padding: 0.3rem 4rem;
}

.flair.panel-body {
  padding: 0rem 4rem 4rem;
}

textarea.flair {
  background-color: #ECEDEF !important;
}
