/* >> Full Slider Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="full-slider full-slider-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.full-slider {
  @import 'app/temp/style-guide-updates';  // < details: https://cove.assembly.com/meta/bounties/1038
  width: 100%;
  background: $gray-4;
  //
  .carousel {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .owl-theme .owl-controls {
    display:none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(53,57,65,0.25);
    @media screen and (min-width: 480px) {
      display:block !important;
    }
  }
  .owl-theme .owl-controls .item-link {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    outline: none;
  }
  .owl-theme .owl-controls .owl-page {
    vertical-align: bottom;
    //
    span {
      @extend .item-link;
      background: $black;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
      opacity: 1;
    }
    &.active, &:hover {
      background: $black;
      //
      span {
        opacity: 0.25;
      }
    }
  }
  .owl-pagination{
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
  }
}

// -- Delta's ------------
//
// http://assembly.com/about

.full-slider-about {
  // background-color: $gray-4;
}