/* >> Hero Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="hero hero-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
._hero {
  @import 'app/temp/style-guide-updates';  // < details: https://cove.assembly.com/meta/bounties/1038
  //
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $gray-4;
  background-image: url(http://placehold.it/1440x450/8B909A/91969f&text=background+img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url(http://placehold.it/2560x900/8B909A/91969f&text=background+img);
  }

  > .container  {
    @extend .text-2;
    text-align: center;
    //
    > .header, > .main {
      margin-bottom: 2rem;
    }
  }
  .footer {
    // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }

  /* for the about page */
  > .header, > .main {
    margin-bottom: 2rem;
  }
  > .header, > .main, > .footer {
    position: relative;
    z-index: 5;
    @extend .text-2;
    text-align: center;
  }
  > .dark-gradient {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(53,57,65,0.7) 0%, rgba(53,57,65,0.7) 35%, rgba(53,57,65,0.95) 75%, rgba(53,57,65,0.95) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,57,65,0.7)), color-stop(35%,rgba(53,57,65,0.7)), color-stop(75%,rgba(53,57,65,0.95)), color-stop(100%,rgba(53,57,65,0.95))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(53,57,65,0.7) 0%,rgba(53,57,65,0.7) 35%,rgba(53,57,65,0.95) 75%,rgba(53,57,65,0.95) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(53,57,65,0.7) 0%,rgba(53,57,65,0.7) 35%,rgba(53,57,65,0.95) 75%,rgba(53,57,65,0.95) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(53,57,65,0.7) 0%,rgba(53,57,65,0.7) 35%,rgba(53,57,65,0.95) 75%,rgba(53,57,65,0.95) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(53,57,65,0.7) 0%,rgba(53,57,65,0.7) 35%,rgba(53,57,65,0.95) 75%,rgba(53,57,65,0.95) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3353941', endColorstr='#f2353941',GradientType=0 ); /* IE6-9 */
  }
  /* ^^^^^^^ about page */
}

// -- Delta's ------------
//
// http://assembly.com/ideas
.hero-ideas {
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: $white;
  background-image: url(../assets/ideas/ideas-header-bg.jpg);
  background-position: top center;
  @media screen and (min-width: 768px) {
    background-image: url(../assets/ideas/ideas-header-bg-lg.jpg);
  }
  > .container  {
    @extend .text-2;
    text-align: center;
    //
    > .main {
      margin-bottom: 2.75rem;
    }
  }
  h1 {
    color: $white;
    margin-top:0;
    margin-bottom: 3rem;
  }
  a {
    color: $white;
    text-decoration:underline;
  }
  ._button {
    margin:0 auto;
    padding-left:3.25rem;
    padding-right:3.25rem;
    .title {
      font-size:1.5rem;
      line-height:2.75rem;
    }
  }
}

// For the about page
.hero-about-top {
  padding-top: 6rem;
  padding-bottom: 5rem;
  color: $white;
  background: none;
  background-color: $black;
  @media screen and (min-width: 768px){
    padding-top: 11.5rem;
    padding-bottom: 9.75rem;
  }
  //
  &:after {
    content: '';
    opacity: .75;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../assets/hero-grid-bg-dark.jpg);
    background-position: bottom center;
    background-size: auto;
    background-repeat: repeat;
    @media screen and (min-width: 768px){
      background-image: url(../assets/hero-grid-bg-dark-lg.jpg);
    }
  }
  > .main {
    margin-bottom: 0;
  }
  h1 {
    color: $white;
    margin-top:0;
    margin-bottom: 4rem;
    text-shadow: 0 0 75px rgba(53, 57, 65, 0.85);
    @media screen and (min-width: 768px){
      margin-bottom: 6rem;
    }
    //
    .line2 {
      display: block;
      margin-top: 2rem;
      //
      @media screen and (min-width: 992px){
        margin-top: 0;
      }
    }
  }
  a {
    outline: none;
  }
  .svg-icon-play-btn {
    width: 6rem;
    //
    &:hover {
      //
      circle {
        opacity: 0.65;
      }
    }
  }
}
.hero-about-bottom {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: $white;
  background: none;
  background-color: $black;
  @media screen and (min-width: 768px){
    padding-top: 13.25rem;
    padding-bottom: 8.75rem;
  }
  //
  &:after {
    content: '';
    opacity: .75;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../assets/hero-office-bg-dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px){
      background-image: url(../assets/hero-office-bg-dark-lg.jpg);
    }
  }
  > .main {
    margin-bottom: 0;

  }
  h1 {
    color: $white;
    margin-top:0;
    margin-bottom: 3rem;
    text-shadow: 0 0 75px rgba(53, 57, 65, 0.85);
    @media screen and (min-width: 480px){
      margin-bottom: 2rem;
    }
  }
  p {
    display: none;
    @media screen and (min-width: 480px){
      display: block;
      margin-bottom: 4rem;
      font-size: 1.7rem !important;
      line-height: 2.25rem !important;
    }
    @media screen and (min-width: 768px){
      margin-bottom: 6rem;
    }
  }
  .social-row {
    ul {
      margin: 0;
      padding: 0;
      //
      li {
        display: inline-block;
        margin: 0 1.5rem;
        padding: 0;
        list-style-type: none;
        //
        img {
          width: 60px;
        }
      }
      a {
        //
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
