/* >> Hero Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="hero hero-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
._hero {
  @import 'app/temp/style-guide-updates';  // < details: https://assembly.com/meta/bounties/1038
  //
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $gray-4;
  background-image: url(http://placehold.it/1440x450/8B909A/91969f&text=background+img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url(http://placehold.it/2560x900/8B909A/91969f&text=background+img);
  }
  > .container  {
    @extend .text-2;
    text-align: center;
    //
    > .header, > .main {
      margin-bottom: 2rem;
    }
    > .footer {
      // bootstrap overwrite
      margin:0;
      padding:0;
      border: none;
    }
  }
}

// -- Delta's ------------
//
// http://assembly.com/ideas
.hero-ideas {
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: $white;
  background-image: url(../assets/ideas/ideas-header-bg.jpg);
  background-position: top center;
  @media screen and (min-width: 768px) {
    background-image: url(../assets/ideas/ideas-header-bg-lg.jpg);
  }
  > .container  {
    @extend .text-2;
    text-align: center;
    //
    > .main {
      margin-bottom: 2.75rem;
    }
  }
  h1 {
    color: $white;
    margin-top:0;
    margin-bottom: 3rem;
  }
  a {
    color: $white;
    text-decoration:underline;
  }
  ._button {
    margin:0 auto;
    padding-left:3.25rem;
    padding-right:3.25rem;
    .title {
      font-size:1.5rem;
      line-height:2.75rem;
    }
  }
}