.jumbotron {
  background-color: $gray-5;
  background-image: url(image-path('ideas/ideas-header-bg.jpg'));
  background-size: cover;
  background-repeat: none;
  background-position: 50%;
//  background: white;
}
