.pill-list {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image:none;

  li {
    list-style-type: none;
    display: inline;
    padding-right: 10px;

    .interest-close {
      position: relative;
      right: 0px;
      color: $gray-1;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .interest-choice {
    background-image: none;
    padding: 3px 5px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
  }

  input[type="text"] {
    height: auto;
    padding: 5px 0;
    border: none;
    line-height: 1.428571429;
    vertical-align: middle;

    &:focus {
      outline: none;
    }
  }
}

.list-grid-tight li {
  padding: 2px;
}

.list-steps {
  height: 0;
  margin-top: 100px;
  padding-left: 0;
  border: 1px dashed $gray-6;
  position: relative;
  z-index: 2;

  > li {
    float: left;
    height: 50px;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 20%;

    > .step {
      background-color: white;
      border-radius: 18px;
      border: 2px solid $gray-6;
      color: $gray-5;
      height: 36px;
      font-weight: bold;
      line-height: 32px;
      margin: -18px auto 0 auto;
      position: relative;
      text-align: center;
      width: 36px;
      z-index: 3;

      &.active {
        border: 2px solid $green;
        background-color: $green;
        color: white;
      }
    }

    > .body {
      margin-top: -75px;
      width: 100%

      strong {
        font-size: $font-size-large;
      }
    }
  }

  > .overlay {
    background-color: white;
    position: absolute;
    margin-top: -2px;
    width: 10%;
    z-index: 1;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.list-inline {
  > .alpha {
    padding-left: 0;
  }

  > .omega {
    padding-right: 0;
  }
}
