.markdown {
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  p, dl, ul, ol {
    font-size: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $black;
  }

  blockquote {
    border-left: 4px solid #53CBDD;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: calc(2rem - 4px);
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Markdown Normalizer class overrides multiple heading types
.markdown--normalized {
  h1 {
    @extend .h4;
    margin-top: 3rem;
    font-weight: bold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .h5;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.markdown--lead {
  p:first-child {
    font-size: 18px;
    line-height: 24px;
  }
}

// hack to shrink images in bounties but not the lightbox
.shrink-images {
  img { max-width: 50%;}

  .modal-content {
    img { max-width: 100%; }
  }
}
