.markdown {
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  p, dl, ul, ol {
    font-size: inherit;
    color: inherit;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Markdown Normalizer class overrides multiple heading types
.markdown-normalized {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .h4;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

// hack to shrink images in bounties but not the lightbox
.shrink-images {
  img { max-width: 50%;}

  .modal-content {
    img { max-width: 100%; }
  }
}
