.modal-content {
  // box-shadow: none;
  overflow: hidden;
}

.modal-header {
  background-color: $modal-header-bg;
}

.modal-footer {
  padding: $modal-footer-padding;
  background-color: $modal-footer-bg;
}

.modal {
  // Adds a slight vignette to the modal background
  @include gradient-radial(rgba(black, 0) 60%, $brand-shadow);
}

.modal-backdrop {
  background-color: $black;
}

.modal-backdrop.fade {
  opacity: 0.5;
}
