.navbar-default {
  box-shadow: 0px 1px 0px $brand-shadow;
  border-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color:#8B909A;
}

// --

.navbar-form {
  padding: 8px 11px 8px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand > .logo {
  margin-top: -3px;

}

a[data-label="brand"] {
  margin-right:1.5rem;
  opacity:1;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity:0.75;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
  }
}

.navbar-icon {
  font-size: 22px;
  line-height: 24px;
}

.navbar-toggle {
  margin-right:12px;
}

.navbar-nav {
  > li {
    font-size:13px;
    > a {
      padding-left:12px;
      padding-right:12px;
    }
    > a:hover {
      box-shadow: inset 0 -3px 0 $nav-tabs-link-hover-border-color;
    }
    &.active a,
    &.active a:hover {
      box-shadow: inset 0 -3px 0 $blue;
    }
  }
}

.navbar-item-muted {
  &.open, &:hover {
    .navbar-icon {
      color: $gray-1;
    }
  }
  .navbar-icon {
    color: #ccc;
  }
  &.open {
    .badge  {
      background: #8B909A;
    }
  }
}

.navbar {
  .avatar {
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 0.75;
      -webkit-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out;
    }
  }
}

.navbar-product {
  border-bottom: 1px solid $brand-divider;
  padding-top: ($navbar-height - 36px) / 2;
  padding-bottom: ($navbar-height - 36px) / 2;
}

.navbar-dashboard {
  border-bottom: 1px solid $brand-divider;
  margin-bottom: 0;
}

@include keyframes(pulse) {
  0% { transform: scale3d(1, 1, 1); }
  25% { transform: scale3d(1.4, 1.4, 1.4); }
  50% { transform: scale3d(1, 1, 1); }
  75% { transform: scale3d(1.4, 1.4, 1.4); }
  100% { transform: scale3d(1, 1, 1); }
}

.pulse {
  @include animation('pulse 0.3s');
}
