.page {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed * 2;
}

.page-flat {
  background-color: white;
  padding-top: $line-height-computed * 2;
}

.page-alert {
  margin-top: - $line-height-computed * 2;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: $line-height-computed * 2;
}
