.page-header {
  margin-top: 0;
  margin-bottom: $line-height-computed * 2;
  border-bottom: 1px solid $brand-divider;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 0;
  }
}

// TODO Think about moving in with .summary
.page-header-meta {
  margin-top: $line-height-computed / 4;
  font-size: $font-size-small;
  color: $brand-muted;

  > ul {
    margin-bottom: 0;
  }
}
