/* >> Quote Slider Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="quote-slider quote-slider-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.quote-slider {
  @import 'app/temp/style-guide-updates';  // < details: https://assembly.com/meta/bounties/1038
  //
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $white;
  @extend .text-2;
  //
  p {
    @extend .text-2;
  }
  .carousel {
    position: relative;
    text-align: center;
  }
  .item {
    padding: 0;
    @media screen and (min-width: 1024px) {
      padding: 0 14rem;
    }
  }
  .header {
    color: $gray-3;
    margin: 0 0 1.5rem 0;
    //
    a {
      color: $gray-2;
      //
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        color: $gray-3;
      }
    }
  }
  .quote-avatar {
    display: inline-block;
    margin: 0 0 1rem 0;
    //
    img {
      width: 8rem;
      -webkit-border-radius: 4rem;
         -moz-border-radius: 4rem;
              border-radius: 4rem;
    }
  }
  h3, p  {
    margin: 0;
  }
  .main {
    margin: 0 0 3.5rem 0;
  }
  .owl-theme .owl-controls .owl-page {
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    //
    &.active {
      width: 4rem;
      height: 4rem;
    }
  }
  .owl-theme .owl-controls .owl-page span {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
    background: $gray-3;
  }
  .owl-theme .owl-controls .owl-page.active span {
    width: 100%;
    height: 100%;
    background: transparent url('/assets/quote-slider-nav-active.png') no-repeat;
    background-size: cover;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    opacity: 1;
  }
}

// -- Delta's ------------
//
// http://assembly.com/about

.quote-slider-about {
  // background-color: $gray-4;
}