.slider {
  background-color: $gray-6;
  border-radius: 7px;
  height: 14px;
  margin-top: 30px;
  margin-bottom: $line-height-computed;
  position: relative;
}

.slider-bar {
  background-color: $yellow;
  border-radius: 6px;
  float: left;
  height: 100%;
  width: 0%;
}

.slider-cursor {
  border-radius: 50%;
  border: 4px solid $yellow;
  height: 26px;
  width: 26px;
  background-color: white;
  position: absolute;
  margin: (-13px + 14px/2) 0 0 -13px;
  cursor: pointer;

  &:before {
    background-color: darken($gray-6, 20%);
    border-radius: 50%;
    content: '';
    height: 6px;
    width: 6px;
    display: block;
    margin: 6px 0 0 6px;
  }
}

.slider-steps {
  margin-top: -30px;
  position: absolute;
  width: 100%;

  > li {
    background-color: transparent;
    color: $yellow;
    float: left;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    text-align: center;

    &.selected {
      font-size: 15px;
    }

    &:before {
      bottom: -6px;
      color: $gray-5;
      content: '|';
      font-size: 6px;
      left: 50%;
      position: absolute;
    }
  }
}
