.spinner {
  display: block;
}

.spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: spinner 400ms linear infinite;
          animation: spinner 400ms linear infinite;
}

@-webkit-keyframes spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* http://tobiasahlin.com/spinkit/ */

.spinner-rects {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;

  .rect1 {
    background-color: rgba(17, 161, 183, 1);
  }

  .rect2 {
    background-color: rgba(239, 84, 68, 1);
  }

  .rect3 {
    background-color: rgba(146, 186, 59, 1);
  }

  .rect4 {
    background-color: rgba(68, 72, 81, 1);
  }

  .rect5 {
    background-color: rgba(249, 201, 50, 1);
  }
}

.spinner-rects > div {
  border-radius: 8px;
  height: 100%;
  width: 6px;
  margin: 1px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner-rects .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-rects .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-rects .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-rects .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
