.stat-group {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: $line-height-computed;

  > .stat {
    display: table-cell;
    border-left: 1px solid $brand-divider;

    &:first-child {
      border-left: none;
    }
  }
}

.stat {
  text-align: center;
}

.stat-title {
  color: $gray-2;
}

// Deprecated, just use a <h2>
.stat-value {
  font-size: $font-size-h2;
  font-weight: bold;
}
