.tag {
  background-color: white;
  border: 1px solid $gray-4;
  border-radius: 2px;
  color: $gray-2;
  font-size: 14px;
  padding: 2px 7px;

  &:hover,
  &.hover {
    border: 1px solid darken($gray-4, 10%);
    color: darken($gray-2, 10%);

    .remove {
      display: inline;
    }
  }

  .remove {
    display: none;
    font-size: 10px;
    margin-left: 7px;
    padding: 0;
    cursor: pointer
  }
}
