/* >> Team Grid Unit Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

// -- Base Components ------------
.team-grid-unit {
  @import 'app/temp/style-guide-updates';  // < details: https://cove.assembly.com/meta/bounties/1038
  //
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .footer { // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }
  > .header, > .main, > .footer {
    position: relative;
    z-index: 5;
    @extend .text-2;
    p {
      @extend .text-2;
    }
  }
  > .header {
    //
    p {
      margin-bottom: 2rem;
    }
  }
}

.team-grid {
  > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    @media screen and (min-width: 768px){
      text-align: left;
    }
    //
    > li {
      display: inline-block;
      margin: 0 0 3rem 0;
      padding: 0 2.25rem 0 0;
      list-style-type: none;
      @media screen and (min-width: 768px){
        width:33.33333%
      }
      @media screen and (min-width: 992px){
        width: auto;
      }
      //
      > a {
        //
        &:first-child {
          display: block;
          margin-bottom: 0.5rem;
          //
          &:hover {
            background-color: $black;
          }
        }
        > img {
          width: 100%;
          @media screen and (min-width: 992px){
            width: 200px;
          }
          //
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    a.nametag {
      display: block;
      margin-bottom: 0.75rem;
      font-weight: bold;
      color:$black;
      //
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul.social-row {
    margin: 0;
    padding: 0;
    //
    li {
      display: inline-block;
      margin: 0 0.5rem 0 0;
      padding: 0;
      list-style-type: none;
    }
    a {
      display: block;
      width: 1.5rem;
      //
      svg {
        fill: $gray-3
      }
      //
      &:hover {
        svg {
          fill: $gray-2
        }
      }
    }
  }
}

// -- Delta's ------------
//
// http://assembly.com/about
