/* >> Tile Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="tile tile-size tile-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <p>Section Main Content</p>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.tile {
  //@import 'app/temp/style-guide-updates';  // < details: https://assembly.com/meta/bounties/1038
  //
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  background-color: $white;
  // @extend .text-2;
  color: $gray-1;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 1px 0px $brand-shadow-light;
  //
  .footer {
    // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }
  h1 {
    display: none; // temp, you'll want to kill these from the data pull
  }
  h2, h4 {
    margin-top: 0;
  }
  h4, .xh4 {
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.action-icon.red {
  .svg-icon-heart .path1, .svg-icon-heart .path2 {
    fill: $red;
  }
}

.svg-icon-heart {
  width: 1.6rem;
  //
  .path1 {
    fill:transparent;
  }
  .path2 {
    fill:$gray-3;
  }
}

.svg-icon-huge-heart {
  width: 4.0rem;
}

.svg-icon-share {
  width: 1.9rem;
  fill:$gray-3;
}

// -- Size Variations ------------

.tile-small {
  min-height: 30.5rem;
  margin-bottom: 0; // let the grid/container create margins
  //
  > .main {
    height: 17rem;
    overflow: hidden;
  }
  > .main a .content {
    color: $gray-1;
  }
  .action-bar{
    margin-top: -1rem;
  }
}
