/* >> Tile Grid Component >>>>>>>>>>>>>>>>>>>>
=========================================== */

/*
-- HTML Pattern ----------------
<section class="tile-grid tile-grid-delta">
  <div class="header">
    <p>Section Header Content</p>
  </div>
  <div class="main">
    <div class="item">
      <div class="tile small">
        Tile
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Section Footer Content</p>
  </div>
</section>
*/

// -- Base Component ------------
.tile-grid {

  .footer {
    // bootstrap overwrite
    margin:0;
    padding:0;
    border: none;
  }
  .tile-grid-nav {
    display:table;
    table-layout:fixed;
    width:100%;
    margin-bottom:0;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
    //
    > .item {
      display:inline-block;
      @media screen and (min-width: 768px) {
        display:table-cell;
        vertical-align: middle;
      }
      &:last-child {
        display: block;
        width:24.5rem;
        margin: 0 auto;
        @media screen and (min-width: 640px) {
          width:45rem;
        }
        @media screen and (min-width: 768px) {
          display:table-cell;
          width:24.5rem;
          margin: 0;
          text-align: right;
        }
      }
    }
    .nav {
      margin-left: -1rem;
      > li {
        &:nth-child(1), &:nth-child(4) {
          display: none;
          @media screen and (min-width: 990px) {
            display:inline-block;
          }
        }
        &:nth-child(3) {
          display: none;
          @media screen and (min-width: 768px) {
            display:inline-block;
          }
        }
        &:nth-child(6) {
          display: none;
          @media screen and (min-width: 640px) {
            display:inline-block;
          }
        }
        &:last-child {
          position: relative;
          //
          &:before {
            content: '';
            position: absolute;
            top:25%;
            left:0;
            width: 1px;
            height: 50%;
            background-color: $gray-3;
          }
        }
        > a {
          position:relative;
          color: $gray-1;
          //
          &:hover, &:active, &:focus  {
            color: $black;
            background: none;
            //
            &:after {
              //
              content:"";
              position: absolute;
              left:10%;
              bottom: 0;
              width: 80%;
              height:4px;
              background-color: $blue;
            }
          }
        }
      }
    }
  }
  .grid {
    overflow:hidden;
  }
  // type
  .fixed-small {
    margin-right: -2rem;
    margin-left: -2rem;
    //
    > .item {
      display: inline-block;
      margin:1rem;
      vertical-align: top;
      width: 24.5rem;
      // background: $gray-3;
    }
  }
  .float-row {
    float:left;
    width:100%;
  }
  .float-item {
    display:block;
    width: 24.5rem;
    margin: 1rem auto;
    padding: 3rem 2rem;
    text-align: center;
    color:$gray-1;
    font-size: 1.5rem;
    background: $gray-5;
    @media screen and (min-width: 600px) {
      display:inline-block;
      margin: 1rem;
    }
    @media screen and (min-width: 990px) {
      display:inline-block;
      width: 38rem;
    }
    &:hover {
      background: $gray-4;
    }
  }
  .float-item:last-child {
    display:none;
    @media screen and (min-width: 600px) {
      display:inline-block;
    }
  }
  .navbar-form {
    width: 100%;
    padding-right:0;
    margin:0;
    //
    .form-group, .form-control {
      width:100%;
    }
    input {
      border: 0;
      box-shadow: 0px 1px 1px 0px $brand-shadow-light;
    }
  }
}
