.timeline {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: (30px - 4px) / 2;
    width: 4px;
    background-color: $gray-6;
    z-index: 0;
  }
}

.timeline-item {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-insert {
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;

  .timestamp {
    font-size: 11px;
    color: darken($gray-5, 10%);
    background-color: white;
    border: 2px solid $brand-divider;
    padding: 2px 10px;
    border-radius: $line-height-computed;

    display: inline-block;
  }
}
