<% title 'Proposals' %>
<% activate_nav! :people %>
<% activate_nav! :people_governance %>

<%= render 'people/nav' %>

<div id="discussion-el"></div>
<% content_for :javascript do %>
<script>

  var ProposalElement = React.createElement(Proposal)

  // var discussionElement = React.createElement(Discussion, {
  //   target: ProposalElement,
  //   newsFeedItem: <%= (NewsFeedItemSerializer.new(@proposal.news_feed_item) if @proposal.news_feed_item).to_json.html_safe %>,
  // })
  //
  // React.render(discussionElement, document.getElementById('discussion-el'))
</script>
<% end %>
