<div class="discussion-item discussion-item-event discussion-item-event-closed">

  <div class="timeline-entry-symbol">
    <div class="discussion-item-event-symbol"></div>
  </div>

  <div class="timeline-entry-content">
    <div class="discussion-item-meta">
      {{#actor}}
        Closed by <a href="{{url}}">{{username}}</a>
      {{/actor}}
    </div>

    <div class="markdown-content">
      {{{body_html}}}
    </div>
  </div>

</div>
