<div class="timeline-item">
  <div class="media">
    <div class="pull-left">
      <div class="marker marker-gray">
        <span class="icon icon-disc"></span>
      </div>
    </div>

    <div class="media-body">
      <div class="media-heading omega">
        Closed by

        {{#actor}}
          <a href="{{url}}">{{username}}</a>
        {{/actor}}
      </div>

      <div class="markdown-normalized">{{{body_html}}}</div>
    </div>
  </div>
</div>
