<% unless @stream_events.last_page? %>

<div class="activity-group more-button">
  <div class="activity-group-gutter"></div>
  <div class="activity-group-content">
    <div style="margin: 30px; text-align: center">
      <%= link_to 'Load more', product_dashboard_path(@product, page: @stream_events.next_page), remote: true, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<% end %>
