// current rem is base 12
//
// 0.5rem = 6px,
// 1rem = 12px,
// 1.5rem = 18px, etc

/////////////////////////

// ### general

.none {display:none !important}
.overflow-hidden {overflow:hidden;}
.overflow-x-hidden {overflow-x:hidden;}
.bg-size-cover {background-size: cover}
.bg-repeat-none {background-repeat: no-repeat}
.bg-position-center {background-position: center}

// ### layout

// height
.ht100p  { height:100%; }
.ht75p   { height:75%; }
.ht66p   { height:66.6666%; }
.ht50p   { height:50%; }
.ht33p   { height:33.3333%; }
.ht25p   { height:25%; }

.ht1   { height: 0.5rem; }
.ht2   { height: 1rem; }
.ht3   { height: 1.5rem; }
.ht4   { height: 2rem; }
.ht5   { height: 2.5rem; }
.ht6   { height: 3rem; }
.ht7   { height: 3.5rem; }
.ht8   { height: 4rem; }
.ht9   { height: 4.5rem; }
.ht10  { height: 5rem; }
.ht11  { height: 5.5rem; }
.ht12  { height: 6rem; }
.ht13  { height: 6.5rem; }
.ht14  { height: 7rem; }
.ht15  { height: 7.5rem; }
.ht16  { height: 8rem; }
.ht17  { height: 8.5rem; }
.ht18  { height: 9rem; }
.ht19  { height: 9.5rem; }
.ht20  { height: 10rem; }
.ht21  { height: 10.5rem; }
.ht22  { height: 11rem; }
.ht23  { height: 11.5rem; }
.ht24  { height: 12rem; }
.ht25  { height: 12.5rem; }
.ht26  { height: 13rem; }
.ht27  { height: 13.5rem; }
.ht28  { height: 14rem; }
.ht29  { height: 14.5rem; }
.ht30  { height: 15rem; }
.ht31  { height: 15.5rem; }
.ht32  { height: 16rem; }
.ht33  { height: 16.5rem; }
.ht34  { height: 17rem; }
.ht35  { height: 17.5rem; }
.ht36  { height: 18rem; }
.ht37  { height: 18.5rem; }
.ht38  { height: 19rem; }
.ht39  { height: 19.5rem; }
.ht40  { height: 20rem; }
.ht41  { height: 20.5rem; }
.ht42  { height: 21rem; }
.ht43  { height: 21.5rem; }
.ht44  { height: 22rem; }
.ht45  { height: 22.5rem; }
.ht46  { height: 23rem; }
.ht47  { height: 23.5rem; }
.ht48  { height: 24rem; }
.ht49  { height: 24.5rem; }
.ht50  { height: 25rem; }
.ht51  { height: 25.5rem; } // 300px

// width
.w100p  { width:100%; }
.w75p   { width:75%; }
.w66p   { width:66.6666%; }
.w50p   { width:50%; }
.w33p   { width:33.3333%; }
.w25p   { width:25%; }

.w1   { width: 0.5rem; }
.w2   { width: 1rem; }
.w3   { width: 1.5rem; }
.w4   { width: 2rem; }
.w5   { width: 2.5rem; }
.w6   { width: 3rem; }
.w7   { width: 3.5rem; }
.w8   { width: 4rem; }
.w9   { width: 4.5rem; }
.w10  { width: 5rem; }
.w11  { width: 5.5rem; }
.w12  { width: 6rem; }
.w13  { width: 6.5rem; }
.w14  { width: 7rem; }
.w15  { width: 7.5rem; }
.w16  { width: 8rem; }
.w17  { width: 8.5rem; }
.w18  { width: 9rem; }
.w19  { width: 9.5rem; }
.w20  { width: 10rem; }
.w21  { width: 10.5rem; }
.w22  { width: 11rem; }
.w23  { width: 11.5rem; }
.w24  { width: 12rem; }
.w25  { width: 12.5rem; }
.w26  { width: 13rem; }
.w27  { width: 13.5rem; }
.w28  { width: 14rem; }
.w29  { width: 14.5rem; }
.w30  { width: 15rem; }
.w31  { width: 15.5rem; }
.w32  { width: 16rem; }
.w33  { width: 16.5rem; }
.w34  { width: 17rem; }
.w35  { width: 17.5rem; }
.w36  { width: 18rem; }
.w37  { width: 18.5rem; }
.w38  { width: 19rem; }
.w39  { width: 19.5rem; }
.w40  { width: 20rem; }
.w41  { width: 20.5rem; }
.w42  { width: 21rem; }
.w43  { width: 21.5rem; }
.w44  { width: 22rem; }
.w45  { width: 22.5rem; }
.w46  { width: 23rem; }
.w47  { width: 23.5rem; }
.w48  { width: 24rem; }
.w49  { width: 24.5rem; }
.w50  { width: 25rem; }
.w51  { width: 25.5rem; } // 300px

.mw-site { max-width: 88.5rem; } // 1062px

// padding
.p0   { padding: 0 }
.px0  { padding-left: 0; padding-right: 0; }
.py0  { padding-top: 0; padding-bottom: 0; }

.pt0  { padding-top: 0; }
.pt1  { padding-top: 0.5rem; }
.pt2  { padding-top: 1rem; }
.pt3  { padding-top: 1.5rem; }
.pt4  { padding-top: 2rem; }
.pt5  { padding-top: 2.5rem; }
.pt6  { padding-top: 3rem; }
.pt7  { padding-top: 3.5rem; }
.pt8  { padding-top: 4rem; }
.pt9  { padding-top: 4.5rem; }
.pt10  { padding-top: 5rem; }
.pt11  { padding-top: 5.5rem; }

.pr0  { padding-right: 0; }
.pr1  { padding-right: 0.5rem; }
.pr2  { padding-right: 1rem; }
.pr3  { padding-right: 1.5rem; }
.pr4  { padding-right: 2rem; }
.pr5  { padding-right: 2.5rem; }
.pr6  { padding-right: 3rem; }
.pr7  { padding-right: 3.5rem; }
.pr8  { padding-right: 4rem; }
.pr9  { padding-right: 4.5rem; }
.pr10  { padding-right: 5rem; }
.pr11  { padding-right: 5.5rem; }

.pb0  { padding-bottom: 0; }
.pb1  { padding-bottom: 0.5rem; }
.pb2  { padding-bottom: 1rem; }
.pb3  { padding-bottom: 1.5rem; }
.pb4  { padding-bottom: 2rem; }
.pb5  { padding-bottom: 2.5rem; }
.pb6  { padding-bottom: 3rem; }
.pb7  { padding-bottom: 3.5rem; }
.pb8  { padding-bottom: 4rem; }
.pb9  { padding-bottom: 4.5rem; }
.pb10  { padding-bottom: 5rem; }
.pb11  { padding-bottom: 5.5rem; }
//
.pb100p  { padding-bottom:100%; }
.pb75p   { padding-bottom:75%; }
.pb66p   { padding-bottom:66.6666%; }
.pb50p   { padding-bottom:50%; }
.pb33p   { padding-bottom:33.3333%; }
.pb25p   { padding-bottom:25%; }

.pl0  { padding-left: 0; }
.pl1  { padding-left: 0.5rem; }
.pl2  { padding-left: 1rem; }
.pl3  { padding-left: 1.5rem; }
.pl4  { padding-left: 2rem; }
.pl5  { padding-left: 2.5rem; }
.pl6  { padding-left: 3rem; }
.pl7  { padding-left: 3.5rem; }
.pl8  { padding-left: 4rem; }
.pl9  { padding-left: 4.5rem; }
.pl10  { padding-left: 5rem; }
.pl11  { padding-left: 5.5rem; }


// margin

.mn1 { margin:-0.5rem }
.mn2 { margin:-1rem }
.mn3 { margin:-1.5rem }
.mn4 { margin:-2rem }
.mn5 { margin:-2.5rem }
.mn6 { margin:-3rem }
.mn7 { margin:-3.5rem }
.mn8 { margin:-4rem }
.mn9 { margin:-4.5rem }
.mn10 { margin:-5rem }
.mn11 { margin:-5.5rem }

.mtn1 { margin-top:-0.5rem }
.mtn2 { margin-top:-1rem }

.mb1_5 { margin-bottom:1.5rem }

// ### table

.table-fixed  { table-layout:fixed }
.table-row    { display:table-row }
.valign-top   { vertical-align:top }
.valign-mid   { vertical-align:middle }
.valign-btm   { vertical-align:bottom }

// ### typography

.fs1  { font-size:0.9rem; }
.fs2  { font-size:1rem; }
.fs3  { font-size:1.1rem; }
.fs4  { font-size:1.2rem; }
.fs5  { font-size:1.3rem; }

.fw-500 { font-weight:500; }
.fw_600 { font-weight:600; }

.lh0    { line-height:0 }
.lh0_9  { line-height:0.9rem }

// ### misc

.pointer { cursor: pointer; }


// ### transitions

.tranx_fx {
  -webkit-transition-duration: $transition-duration;
  -webkit-transition-timing-function: $transition-function;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-function;
}

.tranx_m {
  -webkit-transition-property: margin;
  transition-property: margin;
  @extend .tranx_fx;
}

.tranx_p {
  -webkit-transition-property: padding;
  transition-property: padding;
  @extend .tranx_fx;
}

// ### responsive
// natively basscss has "sm, med, lg" prefixes for this, but we need more granular options
// I propose the folowing standard .r###_selector
@media screen and (min-width: 480px) {
  .r480_w50p {
    width:50% !important;
  }
}

@media screen and (min-width: 600px) {
  .r600_width-auto {
    width:auto !important;
  }
  .r600_float-right {
    float:right !important;
  }
  .r600_right-align {
    text-align:right !important;
  }
  .r600_block {
    display:block !important;
  }
  .r600_m0 {
    margin:0 !important;
  }
  .r600_mx0 {
    margin-left:0 !important;
    margin-right:0 !important;
  }
  .r600_mr1 {
    margin-right: .5rem !important;
  }
  .r600_mb6 {
    margin-bottom: 3rem !important;
  }
  .r600_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r600_table-cell {
    display:table-cell !important;
  }
  .r600_left-align {
    text-align: left !important;
  }
}
@media screen and (min-width: 768px) {
  .r768_w100p {
    width:100% !important;
  }
  .r768_w50p {
    width:50% !important;
  }
  .r768_w25p {
    width:25% !important;
  }
  .r768_m0 {
    margin: 0 !important;
  }
  .r768_ml0 {
    margin-left:0 !important;
  }
  .r768_pr0 {
    padding-right:0 !important;
  }
  .r768_pr4 {
    padding-right:2rem !important;
  }
  .r768_pl1 {
    padding-left:1rem !important;
  }
  .r768_pr1 {
    padding-right:1rem !important;
  }
  .r768_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r768_table-cell {
    display:table-cell !important;
  }
  .r768_left-align {
    text-align: left !important;
  }
  .r768_right-align {
    text-align: right !important;
  }
  .r768_float-right {
    float:right !important;
  }
}

@media screen and (min-width: 1024px) {
  .r1024_block {
    display: block !important;
  }
  .r1024_w50p {
    width:50% !important;
  }
}
