// current rem is base 12
//
// 0.5rem = 6px,
// 1rem = 12px,
// 1.5rem = 18px, etc

/////////////////////////

// ### general

.none {display:none !important}

// ### layout

.w100p  { width:100%; }
.w75p   { width:75%; }
.w50p   { width:50%; }
.w25p   { width:25%; }

.w0_5 { width: 0.5rem; }
.w1   { width: 1rem; }
.w1_5 { width: 1.5rem; }
.w2   { width: 2rem; }
.w2_5 { width: 2.5rem; }
.w3   { width: 3rem; }
.w3_5 { width: 3.5rem; }
.w4   { width: 4rem; }
.w4_5 { width: 4.5rem; }
.w5   { width: 5rem; }
.w5_5 { width: 5.5rem; }
.w6   { width: 6rem; }
.w6_5 { width: 6.5rem; }
.w7   { width: 7rem; }
.w7_5 { width: 7.5rem; }
.w8   { width: 8rem; }
.w8_5 { width: 8.5rem; }
.w9   { width: 9rem; }
.w9_5 { width: 9.5rem; }
.w10   { width: 10rem; }
.w10_5 { width: 10.5rem; }
.w11   { width: 11rem; }
.w11_5 { width: 11.5rem; }
.w12   { width: 12rem; }
.w12_5 { width: 12.5rem; }
.w13   { width: 13rem; }
.w13_5 { width: 13.5rem; }
.w14   { width: 14rem; }
.w14_5 { width: 14.5rem; }
.w15   { width: 15rem; }
.w15_5 { width: 15.5rem; }
//
.w25 { width:25rem; } // 300px

.mw-site { max-width: 88.5rem; } // 1062px

.p0  { padding: 0 }
.px0  { padding-left: 0; padding-right: 0; }
.py0  { padding-top: 0; padding-bottom: 0; }

.pt1  { padding-top: 0.5rem; }
.pt2  { padding-top: 1rem; }
.pt3  { padding-top: 2rem; }
.pt4  { padding-top: 4rem;}

.pr1  { padding-right: 0.5rem; }
.pr2  { padding-right: 1rem; }
.pr2_5  { padding-right: 1.5rem; }
.pr3  { padding-right: 2rem; }
.pr4  { padding-right: 4rem; }

.pl1  { padding-left: .5rem }
.pl2  { padding-left: 1rem }
.pl2_5  { padding-left: 1.5rem }
.pl3  { padding-left: 2rem }
.pl4  { padding-left: 4rem }

.mtn1 { margin-top:-0.5rem }

// ### table

.table-fixed { table-layout:fixed }
.table-row { display:table-row }
.valign-top { vertical-align:top }
.valign-mid { vertical-align:middle }
.valign-btm { vertical-align:bottom }

// ### typography

.fs0_9 { font-size:0.9rem; }
.fs1   { font-size:1rem; }
.fs1_1 { font-size:1.1rem; }
.fs1_2 { font-size:1.2rem; }
.fs1_3 { font-size:1.3rem; }

.fw-500 { font-weight:500; }
.fw_600 { font-weight:600; }

// ### misc

.pointer { cursor: pointer; }


// ### transitions

.tranx_fx {
  -webkit-transition-duration: $transition-duration;
  -webkit-transition-timing-function: $transition-function;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-function;
}

.tranx_m {
  -webkit-transition-property: margin;
  transition-property: margin;
  @extend .tranx_fx;
}

.tranx_p {
  -webkit-transition-property: padding;
  transition-property: padding;
  @extend .tranx_fx;
}

// ### responsive
// natively basscss has "sm, med, lg" prefixes for this, but we need more granular options
// I propose the folowing standard .r###_selector

@media screen and (min-width: 600px) {
  .r600_width-auto {
    width:auto !important;
  }
  .r600_float-right {
    float:right !important;
  }
  .r600_right-align {
    text-align:right !important;
  }
  .r600_block {
    display:block !important;
  }
  .r600_m0 {
    margin:0 !important;
  }
  .r600_mx0 {
    margin-left:0 !important;
    margin-right:0 !important;
  }
  .r600_mr1 {
    margin-right: .5rem !important;
  }
  .r600_mb4 {
    margin-bottom: 4rem !important;
  }
  .r600_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r600_table-cell {
    display:table-cell !important;
  }
  .r600_left-align {
    text-align: left !important;
  }
}
@media screen and (min-width: 768px) {
  .r768_m0 {
    margin: 0 !important;
  }
  .r768_ml0 {
    margin-left:0 !important;
  }
  .r768_pr3 {
    padding-right:2rem;
  }
  .r768_pl1 {
    padding-left:1rem;
  }
  .r768_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r768_table-cell {
    display:table-cell !important;
  }
  .r768_left-align {
    text-align: left !important;
  }
  .r768_right-align {
    text-align: right !important;
  }
  .r768_float-right {
    float:right !important;
  }
}

@media screen and (min-width: 1024px) {
  .r1024_block {
    display: block !important;
  }
}
