$border-color: $brand-border;

// Borders

.no-border { border: none }
.border { border: 1px solid $brand-border }
.border-top { border-top: 1px solid $brand-border }
.border-right { border-top: 1px solid $brand-border }
.border-bottom { border-bottom: 1px solid $brand-border }
.border-left { border-top: 1px solid $brand-border }

// Border Radii

.not-rounded { border-radius: 0 }
.rounded { border-radius: 3px }
.rounded-top {
  border-radius-top-left: 3px;
  border-radius-top-right: 3px;
}
.rounded-right {
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
}
.rounded-bottom {
  border-radius-top-left: 3px;
  border-radius-top-right: 3px;
}
.rounded-left {
  border-radius-top-left: 3px;
  border-radius-top-right: 3px;
}

.circle  { border-radius: 50% }
