$asmcss-navy:   #235B66;
$asmcss-teal:   #10A3B8;
$asmcss-green:  #94BB2B;
$asmcss-yellow: #FBCA32;
$asmcss-red:    #F35443;
$asmcss-black:  #111;
$asmcss-gray:   #AAA;
$asmcss-silver: #DDD;
$asmcss-white:  #FFF;

.navy { color: $asmcss-navy }
.teal { color: $asmcss-teal }
.green { color: $asmcss-green }
.yellow { color: $asmcss-yellow }
.red { color: $asmcss-red }
.black { color: $asmcss-black }
.gray { color: $asmcss-gray }
.silver { color: $asmcss-silver }
.white { color: $asmcss-white }
