$navy:   #235B66;
$teal:   #10A3B8;
$green:  #94BB2B;
$yellow: #FBCA32;
$red:    #F35443;
$black:  #111;
$gray:   #AAA;
$silver: #DDD;
$white:  #FFF;

.navy { color: $navy }
.teal { color: $teal }
.green { color: $green }
.yellow { color: $yellow }
.red { color: $red }
.black { color: $black }
.gray { color: $gray }
.silver { color: $silver }
.white { color: $white }
