$white:  #FFF;
$black:  #353941;

$gray-6: #F4F4F5;
$gray-5: #ECEDEF;
$gray-4: #DBDEE3;
$gray-3: #C2C7D0;
$gray-2: #8B909A;
$gray-1: #666D78;

$gray-lighter: $gray-6;
$gray-light:   $gray-5;
$gray:         $gray-3;
$gray-dark:    $gray-2;
$gray-darker:  $gray-1;

$gray-green:   #678b92;

$green:        #33D6A6;
$blue:         #338EDA;
$red:          #EC3750;
$yellow:       #F2D930;

$colors: (
  "white": $white,
  "black": $black,

  "gray-6": $gray-6,
  "gray-5": $gray-5,
  "gray-4": $gray-4,
  "gray-3": $gray-3,
  "gray-2": $gray-2,
  "gray-1": $gray-1,

  "gray-lighter": $gray-lighter,
  "gray-light": $gray-light,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "gray-darker": $gray-darker,

  "green": $green,
  "blue":  $blue,
  "red":   $red,
  "yellow": $yellow
);

@each $name, $value in $colors {
  .#{$name}        { color: $value }
  .bg-#{$name}     { background-color: $value }
  .border-#{$name} { border-color: $value }
  .fill-#{$name}   { fill: $value }
  .stroke-#{$name} { stroke: $value }

  .#{$name}-hover:hover        { color: $value }
  .bg-#{$name}-hover:hover     { background-color: $value }
  .border-#{$name}-hover:hover { border-color: $value }
  .fill-#{$name}-hover:hover   { fill: $value }
  .stroke-#{$name}-hover:hover { stroke: $value }
}
