$space-1: 6px;
$space-2: 12px;
$space-3: 24px;
$space-4: 48px;


.bold { font-weight: bold }
.regular { font-weight: regular }
.italic { font-style: italic }
.caps {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.align-left { text-align: left }
.align-center { text-align: center }
.align-right { text-align: right }
.justify { text-align: justify }

.inline { display: inline }
.block { display: block }
.inline-block { display: inline-block }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.half-width { width: 50% }
.full-width { width: 100% }

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }


// Margins

.m0 { margin: 0 }
.mt0 { margin-top: 0 }
.mr0 { margin-right: 0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left: 0 }
.mx0 { margin-left: 0; margin-right: 0 }
.my0 { margin-top: 0; margin-bottom: 0 }

.m1  { margin:        $space-1 }
.mt1 { margin-top:    $space-1 }
.mr1 { margin-right:  $space-1 }
.mb1 { margin-bottom: $space-1 }
.ml1 { margin-left:   $space-1 }

.m2  { margin:        $space-2 }
.mt2 { margin-top:    $space-2 }
.mr2 { margin-right:  $space-2 }
.mb2 { margin-bottom: $space-2 }
.ml2 { margin-left:   $space-2 }

.m3  { margin:        $space-3 }
.mt3 { margin-top:    $space-3 }
.mr3 { margin-right:  $space-3 }
.mb3 { margin-bottom: $space-3 }
.ml3 { margin-left:   $space-3 }

.m4  { margin:        $space-4 }
.mt4 { margin-top:    $space-4 }
.mr4 { margin-right:  $space-4 }
.mb4 { margin-bottom: $space-4 }
.ml4 { margin-left:   $space-4 }

.mxn1 { margin-left: -$space-1; margin-right: -$space-1; }
.mxn2 { margin-left: -$space-2; margin-right: -$space-2; }
.mxn3 { margin-left: -$space-3; margin-right: -$space-3; }
.mxn4 { margin-left: -$space-4; margin-right: -$space-4; }

.mx-auto { margin-left: auto; margin-right: auto; }

// Padding

.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right: 0 }
.py0 { padding-top: 0; padding-bottom: 0 }

.p1  { padding:       $space-1 }
.py1 { padding-top:   $space-1; padding-bottom: $space-1 }
.px1 { padding-left:  $space-1; padding-right:  $space-1 }

.p2  { padding:       $space-2 }
.py2 { padding-top:   $space-2; padding-bottom: $space-2 }
.px2 { padding-left:  $space-2; padding-right:  $space-2 }

.p3  { padding:       $space-3 }
.py3 { padding-top:   $space-3; padding-bottom: $space-3 }
.px3 { padding-left:  $space-3; padding-right:  $space-3 }

.p4  { padding:       $space-4 }
.py4 { padding-top:   $space-4; padding-bottom: $space-4 }
.px4 { padding-left:  $space-4; padding-right:  $space-4 }
