<% title 'Posts', @product.name %>
<%= track_engaged 'posts' %>
<% activate_nav! :posts %>

<div class="sheet-body">
  <div class="row">

    <div class="col-md-12 col-xs-12">
      <%= react_component('PostsIndex') %>
    </div>
  </div>
</div>
