<% title @post.title, @post.product.name %>
<% activate_nav! :posts %>

<div id="discussion-el"></div>
<% content_for :javascript do %>
  <script>
      var updateElement = React.createElement(Update, <%= {
        productSlug: @post.product.slug,
        update: PostSerializer.new(@post),
        newsFeedItem: NewsFeedItemSerializer.new(@post.news_feed_item)
      }.to_json.html_safe
    %>)

    var discussionElement = React.createElement(Discussion, {
      target: updateElement,
      newsFeedItem: <%= NewsFeedItemSerializer.new(@post.news_feed_item).to_json.html_safe %>,
    })

    React.render(discussionElement, document.getElementById('discussion-el'))
  </script>
<% end %>
