<% title @post.title, @post.product.name %>
<% activate_nav! :posts %>

<% nfi = NewsFeedItemSerializer.new(@post.news_feed_item) %>
<div data-react-class="NewsFeedItem" data-react-props="<%= nfi.as_json.merge({
  commentable: true,
  enableModal: false,
  productPage: true,
  rows: 2,
  showAllComments: true
}).to_json %>"></div>
