.list--inline {
  margin-left: -.5rem;

  > li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.list--piped {
  @include clearfix;
  margin-left: -.5rem;
  margin-right: -.5rem;

  > li {
    float: left;
    border-left: 1px solid $gray-5;
    padding-left: .5rem;
    padding-right: .5rem;

    &:first-child {
      border-left: none;
    }
  }
}
