.activity {
  @include clearfix;
  padding-left: 60px;

  > .pull-left {
    margin-left: -60px;
  }
}

.activity-chat {
  margin: 10px 0;
}

.activity-body {

  &:hover {
    .activity-actions,
    .activity-actions a:not(.chat-actor) {
      color: $gray;

      .js-tips a {
        color: $brand-coins;
      }

      &.event-award {
        color: $brand-success;
      }
    }
  }
}

.activity-content {
  padding-bottom: 10px;
  position: relative;
}

.activity-actions {
  font-size: $font-size-small;
  color: $gray-light;

  a {
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .chat-actor {
    font-size: 15px;
    color: $text-color;
  }

  // FIXME: This is hacky as shit
  .glyphicon {
    top: 2px;
    font-size: $font-size-small;
  }
}
