.activity {
  @include clearfix;
  padding-left: 60px;

  > .pull-left {
    margin-left: -60px;
  }
}

.activity-body {
  background-color: white;
  border-radius: $border-radius-base;
  // overflow: hidden;
  // box-shadow: 0 0 0 1px $brand-divider;

  &:hover {
    .activity-actions,
    .activity-actions a {
      color: $gray;

      &.event-award {
        color: $brand-success;
      }
    }
  }
}

.activity-content {
  // padding: 10px 15px;
  padding: 10px 0;
  position: relative;
  background-color: white;
}

.activity-actions {
  @include clearfix;
  // background-color: rgba($body-bg, 0.3);
  border-bottom: 1px dotted $brand-divider;
  padding-bottom: 4px;
  font-size: $font-size-small;
  color: $gray-light;

  .js-tips:hover a {
    color: $brand-coins;
  }

  // FIXME: This is hacky as shit
  .glyphicon {
    top: 2px;
    font-size: 12px;
  }

  a.dropdown-toggle:hover {
    color: $blue;
  }
}
