.badge {
  border-radius: 999px;
}

.badge-navbar {
  background-color: $gray-lighter;
  color: #648990;
  font-size: 14px;
  height: 24px;
  line-height: 14px;
  padding: 5px 12px;
  vertical-align: middle;

  &:hover {
    background-color: darken($gray-lighter, 10%);
  }

  &.active {
    background-color: #ff4f38;
    color: white;

    &:hover {
      background-color: darken(#ff4f38, 10%);
    }
  }
}

.badge-notification {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
  font-size: 11px;
  background-color: $red;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  line-height: 20px;
}

.badge-subtle {
  background-color: #ccc;
}
