.badge-notification {
  position: absolute;
  top: 8px;
  right: 6px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: $red;
  border: 2px solid $navbar-inverse-bg;
  border-radius: 50%;
}

.badge-subtle {
  background-color: #ccc;
}