.badge {
  border-radius: 999px;
}

.badge-navbar {
  background-color: $gray-lighter;
  color: #648990;
  font-size: 14px;
  padding: 6px 12px 3px;

  &.active {
    background-color: #ff4f38;
    color: white;
  }
}

.badge-notification {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
  font-size: 11px;
  background-color: $red;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  line-height: 20px;
}

.badge-subtle {
  background-color: #ccc;
}
