.badge-notification {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0;
  font-size: 11px;
  background-color: $red;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  line-height: 20px;
}
