.badge {
  // The extra top padding is to push Solitaire to its baseline.
  padding: 3px 5px 2px 5px;
}

.badge-notification {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: $yellow;
  border: 2px solid $navbar-inverse-bg;
  border-radius: 50%;
}
