// Catchall baseclass

.brand {
  font-weight: 800;
  letter-spacing: 1.5pt;
  text-transform: uppercase;
  line-height: inherit;

  > .icon {
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}
