.breadcrumb {
  font-size: $font-size-small;
  font-weight: bold;

  > li {
    + li:before {
      font-family: "Assembly Icons";
      color: $gray-light;
      font-size: 85%;
      padding-left: 2px;
      padding-right: 5px;
      content: "\e604";
    }
  }
}
