.breadcrumb {
  font-size: $font-size-small;
  font-weight: bold;

  > li {
    + li:before {
      @extend .icon;
      @extend .icon-chevron-right;

      color: $gray-light;
      padding-left: 2px;
      padding-right: 5px;
    }
  }
}
