.btn-default {
  &:hover,
  &:active {
    background-color: $btn-default-bg;
    border-color: darken($btn-default-border, 7%);
  }

  &.disabled {
    color: $btn-default-border;
  }

  /*
    Bootstrap's .disabled now attempts to render
    a button unclickable using pointer-events.
    When you want a button to appear faded out
    but to still be clickable, use .inactive instead.
  */
  &.inactive {
    color: $btn-default-border;
    box-shadow: none;
  }
}

.btn-xl {
  @include button-size(12px, 30px, 24px, 32px, 5px);
}

.btn-twitter {
  @include button-variant($btn-twitter-color, $btn-twitter-bg, $btn-twitter-border);
}

.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.clickable {
  cursor: pointer;
}

.btn-label {
  color: $link-color;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
