.btn {
  @include button-size(6px, 18px, $font-size-base, $line-height-base, $border-radius-base);
}

.btn-sm {
  @include button-size(3px, 12px, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-default {
  &:hover,
  &:active {
    background-color: $btn-default-bg;
    border-color: darken($btn-default-border, 7%);
  }

  &.disabled {
    color: $btn-default-border;
  }

  /*
    Bootstrap's .disabled now attempts to render
    a button unclickable using pointer-events.
    When you want a button to appear faded out
    but to still be clickable, use .inactive instead.
  */
  &.inactive {
    color: $btn-default-border;
    box-shadow: none;
  }
}

.btn-primary {
  border: none;
}

.btn-xl {
  @include button-size(12px, 30px, 24px, 32px, 5px);
}

.btn-pill {
  @include button-variant($brand-primary, white, $brand-primary);
  @include button-size($padding-base-vertical, $padding-base-horizontal + ($line-height-computed / 2), $font-size-base, $line-height-base, ($line-height-computed / 2) + $padding-base-vertical + 1);

  font-weight: normal;

  &:hover {
    color: $link-hover-color;
  }

  &.btn-sm {
    @include button-size($padding-small-vertical, $padding-small-horizontal + 6px, $font-size-small, $line-height-computed-small, ($line-height-computed-small / 2) + $padding-small-vertical + 1);
  }
}

.btn-twitter {
  @include button-variant($btn-twitter-color, $btn-twitter-bg, $btn-twitter-border);
}

.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.clickable {
  cursor: pointer;
}

.btn-label {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);

  color: $link-color;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
