.btn {
  box-shadow: 0 1px 0 0 $brand-shadow;
}

.btn-default {
  &:hover,
  &:active {
    background-color: $btn-default-bg;
    border-color: darken($btn-default-border, 7%);
  }

  &.disabled {
    color: $btn-default-border;
  }
  
  // Bootstrap's .disabled now attempts to render
  // a button unclickable using pointer-events.
  // When you want a button to appear faded out
  // but to still be clickable, use .inactive instead.
  &.inactive {
    color: $btn-default-border;
    opacity: 0.65;
    box-shadow: none;
  }
}
