.btn {
  box-shadow: 0 1px 0 0 $brand-shadow;
}

.btn-default {
  &:hover,
  &:active {
    background-color: $btn-default-bg;
    border-color: darken($btn-default-border, 7%);
  }

  &.disabled {
    color: $btn-default-border;
  }
}
