.callout {
  color: $green;
  padding: 30px;
  border-radius: $border-radius-large;
  margin-bottom: $line-height-computed;
  background-image: url(image-path('geometry.png'));
  background-size: 200px 200px;
}
