.card {
  border: 1px solid $brand-border;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 2px 0 $brand-shadow;
}

.card-body {
  padding: 20px;
}

.card-footer {
  padding: 10px 20px;
  background-color: $brand-bg;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}
