.card { border: 1px solid $brand-border;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 2px 0 $brand-shadow;
  margin-bottom: $line-height-computed;
  background-color: white;

  > :first-child {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  > :last-child {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}

.card-heading {
  padding: 20px;
  border-bottom: 1px solid $brand-divider;
}

.card-body {
  padding: 20px;
}

.card-footer {
  padding: 20px;
  background-color: $brand-bg;
}
