.chat-wrapper {
  background-color: white;
}

.chat {
  margin-top: 2 * $navbar-height;
  background-color: white;
  position: relative;
}

.chat-timeline {
  margin-bottom: 0;
}

.chat-actions {
  background-color: white;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;

  border-top: 1px solid $brand-divider;
  box-shadow: 0 -1px 0 0 rgba(black, 0.01);

  &.is-fixed {
    position: fixed;
    bottom: 0;
  }
}

.indicator {
  width: 0.5em;
  border-radius: 50%;
  line-height: .5;
  text-align: center;
  display: inline-block;
}

.indicator-default {
  background-color: $gray-light;
}

.indicator-success {
  background-color: $green;
}
