.chat-wrapper  {
  .page {
    padding-bottom: 0;
  }

  .sheet {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .sheet-body {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
  }
}

.chat {
  position: relative;
  padding-right: $grid-gutter-width * 1.5;
}

.chat-timeline {
  margin-bottom: 0;
}

.chat-actions {
  padding-top: $padding-base-vertical + 2px;
  padding-bottom: $padding-base-vertical + 2px;
  margin-left: -($grid-gutter-width * 1.5);
  // margin-right: -($grid-gutter-width * 1.5);
  padding-left: $grid-gutter-width * 1.5;
  padding-right: $grid-gutter-width * 1.5;

  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;

  border-top: 1px solid $brand-divider;
  box-shadow:
    0 -1px 0 0 rgba(black, 0.01),
    inset 1px 0 0 0 $brand-divider,
    inset -1px 0 0 0 $brand-divider;

  &.is-fixed {
    position: fixed;
    bottom: 0;
  }
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  line-height: .5;
  text-align: center;
  display: inline-block;
}

.indicator-default {
  background-color: $gray-light;
}

.indicator-success {
  background-color: $green;
}
