.comments-header {
  //
  .comments-filter {
    a {
      color:$black;
      opacity:0.5;
      //
      &:hover, &.active {
        opacity:1;
      }
    }
  }
}
.comments-footer {
  //
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -3.25rem;
    width: 50px;
    height: 80%;
    background: #fff;
  }
  ::-webkit-input-placeholder { color:#777; }
  ::-moz-placeholder { color:#777; opacity: 1; }
  :-ms-input-placeholder { color:#777; }
  input:-moz-placeholder { color:#777; opacity: 1; }
}
