$copy-line-height-base: 1.82;
$copy-line-height-computed: $font-size-base * $copy-line-height-base;

.copy {
  p:not(.lead),
  ul,
  ol {
    font-family: $font-family-serif;
    line-height: $copy-line-height-base;
    margin-bottom: $copy-line-height-base * 1.556;
  }

  ul:not(.list-unstyled),
  ol:not(.list-unstyled) {
    > li {
      margin-bottom: 4px;
    }
  }

  .lead {
    margin-bottom: $copy-line-height-computed;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
  }

  h2,
  .h2 {
    border-bottom: 2px solid $brand-divider;
    padding-bottom: $copy-line-height-computed * .236;
    margin-top: $copy-line-height-computed * 1.82;
    margin-bottom: $copy-line-height-computed;
  }

  h3,
  .h3 {
    margin-top: $copy-line-height-computed * 1.556;
    font-size: 21.82px;
  }

  h4,
  .h4 {
    margin-top: $copy-line-height-computed;
    margin-bottom: $copy-line-height-computed * .594;
  }
}
