.cue {
  margin: 0 auto;
  color: white;
  font-size: $font-size-small;

  .icon {
    font-size: 24px;
    margin: 0 6px;
  }
}

.cue-container {
  z-index: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
}
