.dropzone,
.js-dropzone {
  padding: 0;

  &.dz-drag-hover {
    background-color: $component-active-bg;
    border-color: $input-border-focus;

    > .dropzone-inner {
      border-color: rgba($input-border-focus, .3);
    }
  }

  > .dz-preview,
  > .dz-default {
    display: none;
  }
}

.dropzone-inner {
  cursor: pointer;

  border: 1px dashed $brand-divider;
  border-radius: $border-radius-small;
  margin: $padding-base-horizontal;
  padding: $padding-large-horizontal;

  font-size: $font-size-small;
  text-align: center;
  color: $text-muted;
}
