.form-actions {
  padding-top: $line-height-computed;
  border-top: 1px dotted $brand-divider;
  text-align: right;
}

.help-block {
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
}

input[type=radio], input[type=checkbox] {
  margin-top: 6px;
}

.form-control {
  &:focus {
    @include placeholder {
      color: #cccccc;
    }
  }
}

.markdown-editor-control {
  position: relative;

  .form-control {
    padding-bottom: 72px;
  }

  &.dz-drag-hover {
    .form-control {
      @extend .form-control:focus;
      background-color: $component-active-bg;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                  0 0 6px lighten($input-border-focus, 20%);

    }
  }

  > .dropzone-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.input-group-search {
  > .control-label {
    background-color: #e7e7e7;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    color: $gray-dark;
    font-size: 15px;
    font-weight: normal;
    left: 0;
    margin: 1px 0 1px 1px;
    padding: 6px 20px;
    position: absolute;
    width: 125px;
    z-index: 3;

    & + .form-control {
      padding-left: 145px;
    }
  }

  > .form-control {
    background-color: #f5f5f5;
    border: 1px solid white;
    border-radius: 18px !important;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;

    &:focus {
      border: 1px solid $blue;
    }

    & + .form-control-feedback {
      color: #648990;
    }

    &:focus + .form-control-feedback {
      color: $blue;
    }
  }

  > .form-control-feedback {
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    z-index: 2;
  }
}
