.form-group {
  margin-bottom: $line-height-computed * 1.5;
}

.form-actions {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  border-top: 1px solid $brand-divider;
  text-align: right;
}

.help-block {
  margin-top: 10px;
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
}
