.form-actions {
  padding-top: $line-height-computed;
  border-top: 1px dotted $brand-divider;
  text-align: right;
}

.help-block {
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
}

.markdown-editor-control {
  position: relative;

  .form-control {
    padding-bottom: 72px;
  }

  &.dz-drag-hover {
    .form-control {
      @extend .form-control:focus;
      background-color: $component-active-bg;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                  0 0 6px lighten($input-border-focus, 20%);

    }
  }

  > .dropzone-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
