.form-actions {
  padding-top: $line-height-computed;
  border-top: 1px dotted $brand-divider;
  text-align: right;
}

.help-block {
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
}

input[type=radio], input[type=checkbox] {
  margin-top: 6px;
}

.form-control {
  &:focus {
    @include placeholder {
      color: #cccccc;
    }
  }
}

.markdown-editor-control {
  position: relative;

  .form-control {
    padding-bottom: 72px;
  }

  &.dz-drag-hover {
    .form-control {
      @extend .form-control:focus;
      background-color: $component-active-bg;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                  0 0 6px lighten($input-border-focus, 20%);

    }
  }

  > .dropzone-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.input-group-search {
  > .control-label {
    background-color: #ECEDEF; // gray-5
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    color: $gray-dark;
    font-size: 15px;
    font-weight: normal;
    left: 0;
    padding: .5rem 1rem .5rem 2rem;
    position: absolute;
    width: 122px;
    z-index: 3;

    & + .form-control {
      padding-left: 122px + 12px;
    }
  }

  > .form-control {
    background-color: #F4F4F5; // gray-6
    border: 1px solid white;
    border: none;
    border-radius: 2rem !important;
    box-shadow: none;
    padding-left: 2rem;
    padding-right: 1rem;

    &:focus {
      box-shadow: 0 0 0 1px $blue;
    }

    & + .form-control-feedback {
      color: #C2C7D0; // gray-3
    }

    &:focus + .form-control-feedback {
      color: $blue;
    }
  }

  > .form-control-feedback {
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0 !important; // needs to be here for responsive styling
    right: 1rem !important;
    z-index: 2;
  }
}
