.form-actions {
  padding-top: $line-height-computed;
  border-top: 1px dotted $brand-divider;
  text-align: right;
}

.help-block {
  font-size: $font-size-small;
}

textarea {
  resize: vertical;
}

input[type=radio], input[type=checkbox] {
  margin-top: 6px;
}

.form-control {
  &:focus {
    @include placeholder {
      color: #cccccc;
    }
  }
}

.markdown-editor-control {
  position: relative;

  .form-control {
    padding-bottom: 72px;
  }

  &.dz-drag-hover {
    .form-control {
      @extend .form-control:focus;
      background-color: $component-active-bg;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                  0 0 6px lighten($input-border-focus, 20%);

    }
  }

  > .dropzone-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.input-group-search {
  > .control-label {
    background-color: #dbdee3; // gray-5
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    color: $gray-dark;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    left: 0;
    padding: 7px 1rem 6px 18px;
    position: absolute;
    width: 110px;
    z-index: 3;
    -webkit-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
    & + .form-control {
      padding-left: 129px;
      height: 32px;
      font-size: 13px;
      line-height: 21px;
      color:#8b909a;
      width: 320px;
      -webkit-transition:all 0.15s ease-in-out;
      transition:all 0.15s ease-in-out;
    }
  }

  > .form-control {
    background-color: #F4F4F5; // gray-6
    border: 1px solid white;
    border: none;
    border-radius: 2rem !important;
    box-shadow: none;
    padding-left: 18px;
    padding-right: 1rem;
    height: 32px;
    font-size: 13px;
    line-height: 21px;
    -webkit-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 1px $blue;
      -webkit-transition:all 0.15s ease-in-out;
      transition:all 0.15s ease-in-out;
    }

    & + .form-control-feedback {
      color: #688c93; // gray-3
    }

    &:focus + .form-control-feedback {
      color: $blue;
      -webkit-transition:all 0.15s ease-in-out;
      transition:all 0.15s ease-in-out;
    }
  }

  > .form-control-feedback {
    line-height: 2.7rem;
    height: 32px;
    width: 3rem;
    position: absolute;
    top: 0 !important; // needs to be here for responsive styling
    right: 2px !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    z-index: 2;
  }
}

@-moz-document url-prefix() {
  .input-group-search {
    > .control-label {
      padding-top: 6px;
    }
  }
}
