.form-control-tagged {
  input {
    margin: 0;
    padding: 2px 7px !important;
    border: none;
    font-size: 14px;
    line-height: 14px;

    &:focus {
      outline: none;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}
