@font-face {
  font-family: "assembly-icons";
  src: // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
       url(asset-path('assembly-icons.woff')) format('woff'),
       // Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5
       url(asset-path('assembly-icons.ttf')) format('truetype');
}

.icon {
	font-family: 'assembly-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e601";
}
.icon-logo-filled:before {
	content: "\e61a";
}
.icon-field-guide:before {
	content: "\e61b";
}
.icon-ellipsis:before {
	content: "\e61c";
}
.icon-app-coin:before {
	content: "\e600";
  padding-right: 0.075em;
}
.icon-github:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-star:before {
	content: "\e605";
}
.icon-document:before {
	content: "\e606";
}
.icon-circle:before {
	content: "\e607";
}
.icon-disc:before {
	content: "\e608";
}
.icon-glasses:before {
	content: "\e609";
}
.icon-speach-bubble:before {
	content: "\e60a";
}
.icon-repository:before {
	content: "\e60b";
}
.icon-pull-request:before {
	content: "\e60c";
}
.icon-pencil:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e60e";
}
.icon-arrow-up:before {
	content: "\e612";
}
.icon-arrow-right:before {
	content: "\e611";
}
.icon-arrow-down:before {
	content: "\e610";
}
.icon-arrow-left:before {
	content: "\e60f";
}
.icon-chevron-up:before {
	content: "\e616";
}
.icon-chevron-right:before {
	content: "\e615";
}
.icon-chevron-down:before {
	content: "\e614";
}
.icon-chevron-left:before {
	content: "\e613";
}
.icon-double-chevron-up:before {
	content: "\e618";
}
.icon-double-chevron-down:before {
	content: "\e617";
}
.icon-plus:before {
	content: "\e619";
}
