.label {
  padding: .3em .5em;
}

.label-urgent {
  background-color: $red;
}

.label-now {
  background-color: $green;
}

.label-soon {
  background-color: $gray;
}

.label-later {
  background-color: $gray-lighter;
}
