.label {
  padding: .3em .5em;
}


.label-urgent,
.label-today,
.label-next,
.label-someday {
  min-width: 49px;
  display: inline-block;
}


.label-urgent {
  background-color: $red;
}

.label-today {
  background-color: $green;
}

.label-next {
  background-color: $gray;
}

.label-someday {
  background-color: $gray-lighter;
}
