.label-urgent {
  background-color: $green;
}

.label-now {
  background-color: $green;
}

.label-someday {
  background-color: $yellow;
}

.label-outlined {
  background: transparent;
  box-shadow: inset 0 0 0 1px $brand-border;
  color: $gray;
}
