.label {
  // padding: .3em .5em;
}

.label-urgent {
  background-color: $red;
}

.label-now {
  background-color: $green;
}

.label-next {
  background-color: $gray;
}

.label-someday {
  background-color: $gray-lighter;
}

.label-outlined {
  background: white;
  // border: 1px solid $brand-border;
  box-shadow: inset 0 0 0 1px $brand-border;
  color: $gray;
}
