.lightbox {
  display: none;

  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: $zindex-modal;

  img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 2%;
  }
}

.lightbox-dialog {
  position: relative;
}

.lightbox-content {
  border-radius: $border-radius-base;
  margin-top: 2%;
}
