.list-group-padded {
  > .list-group-item {
    padding: 20px 0;
  }
}

.list-group-breakout {
  > .list-group-item {
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.list-group-padded.list-group-breakout {
  > .list-group-item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.list-group-item-highlight {
  background-color: $body-bg;
}