.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  color: white;
  text-align: center;
  font-size: 16px;

  > .glyphicon,
  > .icon {
    line-height: 30px;
  }
}

.marker-default { background-color: $gray; }

.marker-black { background-color: $gray-darker; }
.marker-blue { background-color: $blue; }
.marker-purple { background-color: $purple; }
.marker-green { background-color: $green; }
.marker-yellow { background: $yellow; }
.marker-red { background-color: $red; }
