.masthead {
  background-color: $black;
  background-size: cover;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  position: relative;
  margin-bottom: $line-height-computed * 2;

  > .masthead-navbar {
    font-weight: bold;

    .navbar-nav > li > a,
    .navbar-brand {
      color: white;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }

    .navbar-nav > li > a:hover {
      background-color: rgba(black, .2);
    }
  }

  > * {
    position: relative;
  }
}

.masthead-title {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
