.media {
  overflow: visible;

  > .pull-left {
    margin-right: $grid-gutter-width;
  }
  > .pull-right {
    margin-left: $grid-gutter-width;
  }
}

// TODO: Line-height is fixed
.media-heading {
  @include clearfix;
  padding-top: (22px - 20px) / 2;
  padding-bottom: (22px - 20px) / 2;
  margin-bottom: $padding-base-vertical;
  color: $text-muted;
  font-size: $font-size-xs;
  line-height: 22px;

  a {
    color: inherit;
    font-weight: bold;
  }

  .event-award:hover {
    color: $brand-success;
  }
}

.media-footer {
  margin-top: $padding-xl-vertical;
  border-top: 1px solid $brand-divider;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;

  color: $text-muted;
}
