.media {
  > .pull-left {
    margin-right: $grid-gutter-width;
  }
  > .pull-right {
    margin-left: $grid-gutter-width;
  }
}

// TODO: Line-height is fixed
.media-heading {
  @include clearfix;
  padding-top: (30px - 20px) / 2;
  padding-bottom: (30px - 20px) / 2;
  margin-bottom: $padding-base-vertical;
  color: $text-muted;
  font-size: $font-size-small;
  line-height: 20px;
  @extend .text-link-bold;
}

.media-body {
  .comment-image-border {
    overflow: hidden;
    border-radius: $border-radius-base;
    position: relative;
    display: inline-block;

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
      border-radius: $border-radius-base;
    }

    > img {
      max-width: 100%;
      height: auto;
    }
  }
}

.media-footer {
  // FIXME: Make
  margin-top: $padding-xl-vertical;
  border-top: 1px solid $brand-divider;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;

  color: $text-muted;
}
