.navbar-brand > .icon {
  font-size: $line-height-computed;
}

.navbar-icon {
  font-size: 22px;
}

.navbar-form .form-control {
  box-shadow: none;
}

.navbar-item-muted.open .navbar-icon {
  color: #fff;
}

.navbar-item-muted .navbar-icon {
  color: $brand-muted;

  &.glyphicon-highlight {
    color: #fff;
  }
}

.navbar-product {
  border-bottom: 1px solid $brand-divider;
  padding-top: ($navbar-height - 36px) / 2;
  padding-bottom: ($navbar-height - 36px) / 2;
}
