.navbar-default {
  box-shadow: 0px 1px 0px $brand-shadow;
  border-bottom: 0;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-brand > .icon {
  font-size: $line-height-computed;
}

.navbar-icon {
  font-size: 22px;
  line-height: 24px;
}

.navbar-item-muted {
  &.open, &:hover {
    .navbar-icon {
      color: $gray-darker;
    }
  }
  .navbar-icon {
    color: #ccc;
  }
}

.navbar {
  .avatar {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.navbar-product {
  border-bottom: 1px solid $brand-divider;
  padding-top: ($navbar-height - 36px) / 2;
  padding-bottom: ($navbar-height - 36px) / 2;
}

.navbar-dashboard {
  border-bottom: 1px solid $brand-divider;
  margin-bottom: 0;
}
