.navbar {
  font-size: 15px;
}

.navbar > .container-fluid .navbar-brand {
  padding: 10px 15px;
  margin-left: -10px;
}

.navbar-nav {
  > li > a {
    font-weight: bold;
  }
}

.navbar-lifted {
  box-shadow: 0 1px 0 0 $brand-shadow;
}

.navbar .form-control {
  font-size: 15px;
  height: 34px;
  margin-top: 2px;
}

.navbar-inverse {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $navbar-inverse-search-placeholder-color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $navbar-inverse-search-placeholder-color;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $navbar-inverse-search-placeholder-color;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $navbar-inverse-search-placeholder-color;
  }

  .form-control {
    border-color: $navbar-inverse-search-border;
    background-color: $navbar-inverse-search-bg;
    color: $navbar-inverse-search-color;

    &:focus {
      border-color: $navbar-inverse-search-border-focus;
      background-color: $navbar-inverse-search-bg-focus;
      box-shadow: none;
    }
  }
}

.glyphicon-highlight {
  color: #fff;
}

.navbar-notifications {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }

  .badge {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 2px 3px;
    font-size: 12px;
    background-color: $yellow;
    border: 2px solid $navbar-inverse-bg;
  }

  .dropdown-menu {
    min-width: 180px;
  }

  > li > a {
    padding-top: 14px;
    padding-bottom: 8px;
  }
}
