.navbar > .container-fluid .navbar-brand {
  padding: 15px;
  margin-left: -5px;
}

.navbar-nav {
  > li > a {
    font-weight: bold;
  }
}

.navbar-header {
  // border-right: 1px solid $navbar-default-border;
  // margin-right: 60px;
}

.navbar-lifted {
  box-shadow: 0 1px 0 0 $brand-shadow;
}
