.navbar-default {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
  border-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand > .icon {
  font-size: $line-height-computed;
}

.navbar-icon {
  font-size: 22px;
}

.navbar-item-muted {
  &.open, &:hover {
    .navbar-icon {
      color: $gray-darker;
    }
  }
  .navbar-icon {
    color: #ccc;
  }
}

.navbar-product {
  border-bottom: 1px solid $brand-divider;
  padding-top: ($navbar-height - 36px) / 2;
  padding-bottom: ($navbar-height - 36px) / 2;
}

.navbar-dashboard {
  border-bottom: 1px solid $brand-divider;
  margin-bottom: 0;
}
