.nav {
  > .active {
    font-weight: 500;
  }
}

.nav-pills {
  > li + li {
    margin-left: 0;
  }

  > .active > a > .badge {
    background-color: $blue;
    color: white;
  }
}

.nav-pills-centered {
  text-align: center;
  display: inline-block;

  > li {
    display: inline;
  }

  > li > a {
    float: left;
  }
}

.nav-tabs {
  > li {
    > a {
      border: none;
    }
  }
}

.nav-tabs {
  // border-bottom-width: 0;

  > li {
    margin-bottom: 0;

    > a {
      border: none;
      margin-right: 0;

      &:hover,
      &:focus {
        border-width: 0;
        border-bottom-width: 0px;
        border-bottom-color: $nav-tabs-link-hover-border-color;
        color: inherit;
        box-shadow: inset 0 -3px 0 0 $nav-tabs-link-hover-border-color;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border-width: 0;
      border-bottom-width: 0px;
      border-bottom-color: $nav-tabs-active-link-hover-border-color;
      color: inherit;
      box-shadow: inset 0 -3px 0 0 $nav-tabs-active-link-hover-border-color;
    }
  }
}

.nav-stacked > li + li {
  margin-top: 0;
}

.nav-stacked > li:last-child > a {
  border-radius: 0 0 $border-radius-base $border-radius-base;
}


.nav-sidebar {
  margin-bottom: $line-height-computed;
  font-size: $font-size-small;

  > li {
    border-top: none;
  }

  > li > a {
    padding: $padding-small-vertical $padding-small-horizontal;
    color: $gray-dark;
  }

  > li {
    &:not(.active) a:hover {
      background-color: rgba($gray-light, .3);
      border-radius: $border-radius-base;
    }
  }

  > .active {
    background-color: white;
    font-weight: bold;
    box-shadow: 0 1px 0 0 $brand-divider;
    border-radius: $border-radius-base;

    > a {
      color: $brand-primary;
    }
  }
}
