.nav {
  > .active {
    font-weight: 500;
  }
}

.nav-pills {
  > li + li {
    margin-left: 0;
  }

  > .active > a > .badge {
    background-color: $blue;
    color: white;
  }
}

.nav-tabs {
  > li {
    > a {
      border: none;
    }
  }
}

.nav-tabs {
  > li {
    margin-bottom: 0;

    > a {
      border: none;
      margin-right: 0;

      &:hover,
      &:focus {
        border-width: 0;
        border-bottom-width: 0px;
        border-bottom-color: $nav-tabs-link-hover-border-color;
        color: inherit;
        box-shadow: inset 0 -3px 0 0 $nav-tabs-link-hover-border-color;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border-width: 0;
      border-bottom-width: 0px;
      border-bottom-color: $nav-tabs-active-link-hover-border-color;
      color: inherit;
      box-shadow: inset 0 -3px 0 0 $nav-tabs-active-link-hover-border-color;
    }
  }
}

.nav-sidebar {
  margin-bottom: $line-height-computed;

  > li > a {
    color: $gray-light;
  }

  > :not(.active) > a:hover {
    background-color: $brand-bg;
  }

  > .active > a {
    color: $link-color;
    font-weight: bold;
    background-color: $component-active-bg;
  }
}
