.page-header {
  margin-top: 0;
  margin-bottom: $line-height-computed * 2;
  color: $brand-muted;
  font-size: $font-size-large;
  box-shadow: 0 1px 0 0 rgba($black, 0.02);
  border-bottom: 1px solid $gray-lighter
}

.page-footer {
  font-size: $font-size-large;
  box-shadow: 0 -1px 0 0 rgba($black, 0.02);
  border-top: 1px solid $gray-lighter
}

.breadcrumb + .page-heading-title {
  margin-top: 12px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $text-color;
}

.page-header-title {
  margin-top: 0;
  margin-bottom: 0;
}

// TODO Think about moving in with .summary
.page-header-meta {
  margin-top: $line-height-computed / 2;
  font-size: $font-size-small;
  color: $brand-muted;

  > ul {
    margin-bottom: 0;
  }
}
