.product-header {
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  //
  h1 {
    @media screen and (min-width: 768px) {
      margin-top: -3px;
      margin-left: -1px;
    }
  }
  h4 {
    @media screen and (min-width: 768px) {
      margin: -7px 0 5px;
    }
  }
  .app-icon {
    max-width:82px;
    @media screen and (min-width: 768px) {
      max-width:100%;
    }
  }

  .primary {
    li{
      a {
        font-size:13px;
        color:#666D78;
        //
        &:hover {
          color: #1e66a3;
        }
      }
    }
  }
}
