html, body {
  overflow-x:hidden;
}

.temp-closed {
  padding: 24px;
  display: inline-block;
  width:100%;
  vertical-align: middle;
  text-align:center;
  color:#ccc;
  background-color: #fff;
  border-bottom:1px solid #ecedef;
  transition: padding 0.15s ease-in-out;
  @media screen and (min-width: 768px) {
    padding:12px 0;
    transition: padding 0.15s ease-in-out;
  }
  //
  div {
    display: none;
  }
}

.product {
  //
  a {
    transition: color 0.15s ease-in-out;
    //
    &:hover {
      transition: color 0.15s ease-in-out;
    }
    &:focus {
      text-decoration:none;
    }
  }
}

// product header

.product-header {
  position:relative;
  background:#fff;
  padding:24px 0;
  margin: 0 0 36px 0;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
  box-shadow: 0px 0px 1px 0px rgba(100, 100, 100, 0.2);
  //
  .inner-wrap {
    width:100%;
    max-width:1060px;
    margin:0 auto;
    padding:0 24px;
    @media screen and (min-width: 768px) {
      display: table;
      table-layout:fixed;
    }
    //
    .primary {
      text-align: center;
      @media screen and (min-width: 768px) {
        display:table-cell;
        text-align: left;
      }
    }
    .secondary {
      text-align: center;
      @media screen and (min-width: 768px) {
        display:table-cell;
        width:150px;
        text-align: right;
        vertical-align:middle;
      }
    }
    .follow-button {
      //
      cursor:pointer;
      position:relative;
      display: inline-block;
      &:before {
        content:'';
        display: block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:1px solid rgba(100,100,100,0.15);
        border-radius: 50px;
        transition: background 0.15s ease-in-out;
      }
      &:hover {
        //
        &:before {
          background: rgba(51,142,218,0.25);
          transition: background 0.15s ease-in-out;
        }
      }
      button {
        padding:10px 30px 11px;
        border-radius: 50px;
        width:100%;
        color: #338EDA;
        font-size:13px;
        background:#fff;
        box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
      }
      .count {
        display:none;
        padding:0 2px 0 0;
        &.active {
          display:inline-block;
        }
      }
      .title {
        display:inline-block;
      }
    }
  }
}

.product-header-icon {
  text-align: center;
  margin: 0 0 5px 0;
  @media screen and (min-width: 768px) {
    display:table-cell;
    padding:0 20px 0 0;
    vertical-align: top;
  }
  //
  a {
    position:relative;
    display:inline-block;
    max-width:95px;
    &:before {
      content:'';
      display: block;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border:1px solid rgba(100,100,100,0.1);
      border-radius: 5px;
      transition: background 0.15s ease-in-out;
    }
    &:hover {
      //
      &:before {
        background: rgba(51,142,218,0.25);
        transition: background 0.15s ease-in-out;
      }
    }
    img {
      padding:10px;
      border-radius: 5px;
      max-width:82px;
      min-width:64px;
      @media screen and (min-width: 768px) {
        max-width:100%;
      }
    }
  }
}

.product-header-content {
  @media screen and (min-width: 768px) {
    display:table-cell;
    vertical-align:top;
  }
  //
  h1 {
    font-size:30px;
    padding:0;
    margin:0;
    line-height:3.55rem;
    //
    a {
      color: $black;
      //
      &:hover {
        color: #1e66a3;
      }
    }
  }
  .subhead {
    margin: -6px 0 5px;
    font-size:18px;
    // line-height:24px;
    color:#666D78;
    @media screen and (min-width: 768px) {
      margin: -6px 0 10px;
    }
  }
  .product-header-links {
    margin:0 0 5px 0;
    padding:0;
    @media screen and (min-width: 768px) {
      margin:0;
    }
    //
    li {
      display:inline-block;
      list-style:none;
      margin:0 15px 0 0;
      padding:0;
    }
    a {
      font-size:13px;
      color:#666D78;
      //
      &:hover {
        color: #1e66a3;
      }
    }
  }
}

.product-nav-mobile-button, .product-side-mobile-button {
  cursor:pointer;
  z-index:5;
  position:absolute;
  bottom:-78px;
  padding: 15px 20px;
  color: #353941;
  background:#fff;
  transform: translate3d(0px, 0, 0);
  transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
  //
  &:hover {
    background-color: #dbdee3;
    transition: background 0.15s ease-in-out;
  }
  span {
    display: block;
    width:20px;
    height:4px;
    margin:2px 0 0 0;
    background-color: #7f7f7f;
  }
}

.product-nav-mobile-button {
  left:0px;
  @media screen and (min-width: 900px) {
    transition: transform 0.15s ease-in-out;
    transform: translate3d(-75px, 0, 0);
  }
}

.product-side-mobile-button {
  right:0px;
  @media screen and (min-width: 768px) {
    transition: transform 0.15s ease-in-out;
    transform: translate3d(75px, 0, 0);
  }
}


// product core

.product-core {
  display: table;
  table-layout:fixed;
  width:100%;
  max-width:1060px;
  margin:0 auto;
  padding:0 24px;
  transform: translate3d(-60px, 0, 0);
  transition: width 0.15s ease-in-out, transform 0.15s ease-in-out;
  @media screen and (min-width: 768px) {
    width:108%;
    transform: translate3d(-60px, 0, 0);
    transition: width 0.15s ease-in-out, transform 0.15s ease-in-out;
  }
  @media screen and (min-width: 900px) {
    width:100%;
    transform: translate3d(0px, 0, 0);
    transition: width 0.15s ease-in-out, transform 0.15s ease-in-out;
  }
  //
  .primary {
    display:table-cell;
    vertical-align: top;
  }
  .secondary {
    display:table-cell;
    width:0;
    padding-left:40px;
    vertical-align: top;
    transform: translate3d(250px, 0, 0);
    transition: width 0.15s ease-in-out, transform 0.15s ease-in-out;
    @media screen and (min-width: 768px) {
      width:250px;
      transform: translate3d(0, 0, 0);
      transition: width 0.15s ease-in-out, transform 0.15s ease-in-out;
    }
    @media screen and (min-width: 1024px) {
      width:300px;
      transition: width 0.15s ease-in-out;
    }
  }
}

.product-navigation {
  // position: relative;
  display:table-cell;
  padding:0 24px 0 0;
  vertical-align: top;
  min-width: 122px;
  transform: translate3d(-150px, 0, 0);
  transition: transform 0.15s ease-in-out;
  @media screen and (min-width: 900px) {
    // width:100%;
    transform: translate3d(0px, 0, 0);
    transition: transform 0.15s ease-in-out;
  }
  //
  ul {
    margin:0 0 6px 0;
    padding:0;
  }
  li {
    list-style:none;
    margin:0;
    padding:0;
    //
    a {
      display:block;
      line-height: 30px;
      padding:3px 12px 4px;
      font-size:15px;
      color:#666D78;
      transition: background 0.15s ease-in-out;
      //
      &:hover {
        background:#dbdee3;
        border-radius:3px;
        transition: background 0.15s ease-in-out;
      }
    }
    &.active {
      //
      a {
        color: #353941;
        font-weight:bold;
        border-radius:3px;
        background:#dbdee3;
      }
    }
  }
  .nav-two {
    padding-top:10px;
    border-top: 1px solid #dbdee3;
    //
    a {
      line-height:25px;
      font-size:13px;
    }
  }
}

.product-core-content {
  display:table-cell;
  width:84%;
}

.product-filter {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin:0 0 12px 0;
  font-size:13px;
  //
  .pf-primary {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    box-shadow: 0px 1px 2px 1px rgba(125, 125, 125, 0.1);
  }
  .pf-secondary {
    display: table-cell;
    vertical-align: top;
    width: 130px;
    padding: 0 0 0 24px;
    vertical-align: middle;
  }
  .pf-drop {
    display:table-cell;
    padding:8px 12px 8px 18px;
    border-right:1px solid #ecedef;
  }
  .pf-input {
    display:table-cell;
    padding:8px 18px;
    color:#8b909a;
  }
  a {
    &:hover, &:active {
      text-decoration:none;
    }
  }
}

.product-data {
  //
  .temp-card {
    vertical-align:middle;
    padding:96px 24px;
    margin:0 0 12px 0;
    text-align:center;
    color:#ccc;
    border:none;
    box-shadow: 0px 1px 2px 1px rgba(125, 125, 125, 0.1);
  }
}

.create-task {
  width:100%;
  text-align:center;
  margin:0 0 12px 0;
  //
  a {
    position:relative;
    display: block;
    color: #fff;
    font-size:15px;
    font-weight: bold;
    padding:7px 30px;
    border-radius: 50px;
    background:#33D6A6;
    box-shadow: 0px 0px 1px 0px rgba(100, 100, 100, 0.2);
    transition: background 0.15s ease-in-out;
    //
    &:before {
      content:'';
      display: block;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border:1px solid rgba(100,100,100,0.15);
      border-radius: 50px;
    }
    &:hover {
      background:#25ca92;
      transition: background 0.15s ease-in-out;
    }
    &:hover, &:active {
      text-decoration:none;
    }
  }
}

.info-card {
  vertical-align:middle;
  padding: 20px 24px;
  margin:0 0 12px 0;
  text-align:center;
  color:#353941;
  font-size:13px;
  border:none;
  box-shadow: 0px 1px 2px 1px rgba(125, 125, 125, 0.1);
}

.info-card-title {
  font-weight:bold;
  font-size:15px;
}

.tag-module {
  margin:0 0 12px 0;
  padding:0;
}

.tag-module-header, .assests-module-header {
  padding:0 5px;
  margin:0 0 5px 0;
  transition: padding 0.15s ease-in-out;
  @media screen and (min-width: 1024px) {
    padding:0 18px;
    transition: padding 0.15s ease-in-out;
  }
  //
  .title {
    display:inline-block;
    font-weight:bold;
    width:50%;
  }
  .title-nav {
    display:inline-block;
    width:50%;
    text-align:right;
  }
}

.tag-module-core {
    margin:0;
    padding:0;
  //
  li {
    margin:0;
    padding:0;
    line-height: 11px;
    list-style:none;
    //
    a {
      display:block;
      padding: 5px;
      text-transform:uppercase;
      font-size:11px;
      font-weight:bold;
      transition: padding 0.15s ease-in-out;
      @media screen and (min-width: 1024px) {
        padding: 5px 18px;
        transition: padding 0.15s ease-in-out;
      }
      //
      &:hover {
        color:#353941;
        background: #e7e9ec;
        border-radius:50px;
      }
    }
    span {
      display:inline-block;
      width:50%;
      // color:#353941;
      //
      &:nth-child(2) {
        text-align:right;
        color:#353941;
      }
    }
  }
}

.assests-module-header {
  margin:0 0 10px 0;
}

.assets-module-core {
  margin: -6px;
  padding:0;
  //
  li {
    display:inline-block;
    height:25%;
    width:50%;
    margin:0;
    padding:6px;
    list-style:none
  }
}
