.foo {
  border-bottom: 1px solid $brand-border;
  box-shadow: 0 1px 0 0 $brand-shadow;
  margin-bottom: $line-height-computed;
  padding: $line-height-computed * .5  0;

  h3 {
    color: black;
    line-height: 36px;
  }
}
