.stat-group {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: $line-height-computed;

  > .stat {
    display: table-cell;
    border-left: 1px solid $brand-divider;

    &:first-child {
      border-left: none;
    }
  }
}

.stat {
  text-align: center;
}

.stat-title {
  @extend .upper-spaced;
  font-size: $font-size-h6;
  color: $text-muted;
  font-weight: bold;
}

.stat-value {
  font-size: $font-size-h2;
}
