.summary {
  color: $brand-muted;
  font-size: $font-size-small;
}

.summary-target {
  display: block;
  font-size: $font-size-base;
  font-weight: 600;
  color: $link-color;
  margin-bottom: 8px;
  line-height: $line-height-computed;

  &:visited:hover {
    color: $link-hover-color;
  }
}
