.timeline {
  border-left: 2px solid $gray-lighter;
  margin-left: 15px;

  .timeline-item {
    margin-left: -15px;
  }

  .timeline-item:last-child {
    margin-bottom: 0;
  }
}

.timeline-item {
  margin-bottom: $padding-large-vertical;
}

.timeline-highlight {
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.timeline-marker {
  padding-left: 15px;

  border-top: 1px dotted $brand-divider;
  text-align: center;
  position: relative;

  > time {
    font-size: $font-size-small;
    line-height: $line-height-base * $font-size-small;
    color: $text-muted;
    position: relative;
    top: - (($line-height-base * $font-size-small) / 2 + 2px);
    background-color: white;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
  }
}

// .timeline-entry-content {
//   margin-left: 60px + 15px;
//   margin-bottom: 15px;
// }
//
// .timeline-entry-actions {
//   display: none;
//   position: absolute;
//   top: 0px;
//   left: -7px;
//   width: 65px;
// }
//
// .timeline-entry-avatar {
//   .timeline-entry-actions {
//     top: 55px;
//   }
// }
//
// .timeline-entry:hover .timeline-entry-actions{
//   display: block;
// }
//
// .timeline-entry-meta {
//   padding-top: 6px;
//   padding-bottom: 6px;
//   margin-left: 75px;
//   border-top: 1px dotted $gray-lighter;
//   // border-bottom: 1px solid $gray-lighter;
//   font-size: 14px;
// }
//
// .timeline-entry-symbol {
//   float: left;
//   width: 46px;
//
//   // FIXME Hack
//   .avatar {
//     width: 46px;
//     height: 46px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
//
// .discussion-item-meta {
//   color: $gray;
//   font-size: 16px;
//   line-height: 46px;
//
//   &,
//   a {
//     color: $gray;
//   }
//
//   a {
//     font-weight: bold;
//   }
//
//   .pull-right {
//     font-size: 14px;
//
//     .timestamp {
//       margin-left: 6px;
//     }
//
//     .edit:hover {
//       color: $yellow;
//     }
//   }
// }
//
// .discussion-item-comment {
//   .discussion-item-meta {
//     line-height: 46px;
//   }
// }
//
// .discussion-item-event {
//   .discussion-item-meta {
//     line-height: 26px;
//   }
// }
//
// .discussion-item-event-symbol {
//   width: 26px;
//   height: 26px;
//   background-color: $gray;
//   border-radius: 50%;
//
//   background-position: 0 0;
//
//   margin-left: auto;
//   margin-right: auto;
// }
//
//
// // ---
//
// .discussion-item-event-promoted {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-promoted',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-promoted@2x',
//     //   true
//     // );
//     background-color: $purple;
//   }
// }
//
// .discussion-item-event-demoted {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-demoted',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-demoted@2x',
//     //   true
//     // );
//     background-color: rgba($purple, 0.5);
//   }
// }
//
// .discussion-item-event-edited {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-edited',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-edited@2x',
//     //   true
//     // );
//     background-color: $yellow;
//   }
// }
//
// .discussion-item-event-review {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-review',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-review@2x',
//     //   true
//     // );
//     background-color: $gray;
//   }
// }
//
// .discussion-item-event-awarded {
//   .discussion-item-meta,
//   .discussion-item-meta a, {
//     color: $green;
//   }
//
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-awarded',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-awarded@2x',
//     //   true
//     // );
//     background-color: $green;
//   }
// }
//
// .discussion-item-event-closed {
//
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-closed',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-closed@2x',
//     //   true
//     // );
//     background-color: $black;
//   }
// }
//
// .discussion-item-event-reference {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-reference',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-reference@2x',
//     //   true
//     // );
//     background-color: $blue;
//   }
// }
//
// .discussion-item-event-reopened {
//   .discussion-item-event-symbol {
//     // @include retina-image(
//     //   'discussion-item/event-reopened',
//     //   26px 26px,
//     //   'png',
//     //   'discussion-item/event-reopened@2x',
//     //   true
//     // );
//     background-color: $green;
//   }
// }
