.timeline {
  position: relative;
  padding-bottom: $line-height-computed;
  margin-bottom: $line-height-computed;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: (30px - 2px) / 2;
    width: 2px;
    background-color: $brand-divider;
    z-index: 0;
  }
}

.timeline-item {
  position: relative;
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-insert {
  position: relative;

  > time {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.618pt;
    line-height: $line-height-computed;

    color: $gray;
    background-color: white;
    border: 1px solid $brand-divider;
    padding: 0 10px;
    border-radius: $line-height-computed;

    display: inline-block;
  }
}
