.toggler {
  display: inline-table;

  border: 1px solid $brand-divider;
  border-radius: $border-radius-base;
  background-color: $brand-bg;

  cursor: pointer;

  &:hover {
    border-color: $brand-border;
  }

  > :first-child {
    border-radius: $border-radius-base 0 0 $border-radius-base;
  }

  > :last-child {
    border-radius: 0 $border-radius-base $border-radius-base 0;
  }

  > .toggler-badge:first-child {
    border-right: none;
  }

  > :last-child.toggler-badge {
    border-left: none;
  }

}

.toggler-btn,
.toggler-badge {
  display: table-cell;
  padding: (3px - 1px) 10px;
}

.toggler-btn {
  color: $brand-border;
  font-weight: bold;

  &:hover {
    color: $brand-border;
  }
}

.toggler-badge {
  color: white;
  background-color: $brand-divider;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.toggler-primary {
  @include toggler-variant($brand-primary, lighten($brand-primary, 40%), lighten($brand-primary, 20%));
}
