.toggler {
  display: table;
  border-radius: $border-radius-base;
  background-color: $brand-bg;

  border: none;
  outline: none;

  color: $brand-border;
  font-weight: 600;
  line-height: $line-height-computed;

  &:hover {
    border-color: $brand-border;
  }

  > :first-child {
    border-radius-top-left: $border-radius-base;
    border-radius-bottom-left: $border-radius-base;
  }

  > :last-child {
    border-radius: 0 $border-radius-base $border-radius-base 0;
  }
}

.toggler-label {
  display: table-cell;
  padding: .5rem 2rem;
  width: 100%;
}

.toggler-badge {
  display: table-cell;

  padding: .5rem 1rem;

  color: white;
  background-color: $brand-divider;
  font-weight: 600;
}

.toggler-primary {
  @include toggler-variant($brand-primary, lighten($brand-primary, 40%), lighten($brand-primary, 20%));
}
