.toggler {
  // display: inline-table;

  border: 1px solid $brand-divider;
  border-radius: $border-radius-base;
  background-color: $brand-bg;

  outline: none;
  
    color: $brand-border;
    font-weight: bold;

    padding: 0;

    padding: (3px - 1px) 10px;

  // cursor: pointer;

  &:hover {
    border-color: $brand-border;
  }

  > :first-child {
    border-radius: $border-radius-base 0 0 $border-radius-base;
  }

  > :last-child {
    border-radius: 0 $border-radius-base $border-radius-base 0;
  }

  // > .toggler-badge:first-child {
  //   border-right: none;
  // }

  > :last-child.toggler-badge {
    border-left: none;
  }

}

.toggler-btn,
.toggler-badge {
  // display: table-cell;

  display: inline-block;
  padding: (3px - 1px) 10px;
  margin-left: 10px;
  margin-right: -10px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.toggler-btn {

  &:hover {
    color: $brand-border;
  }
}

.toggler-badge {
  color: white;
  background-color: $brand-divider;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.toggler-primary {
  @include toggler-variant($brand-primary, lighten($brand-primary, 40%), lighten($brand-primary, 20%));
}
