<h4>Top 200 users by activity count</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th><%= link_to 'Total Activity Count', admin_leaderboard_index_path %></th>
      <th><%= link_to 'Daily Avg', admin_leaderboard_index_path(sort: 'daily_avg') %></th>
      <th><%= link_to 'Account Age', admin_leaderboard_index_path(sort: 'joined_at') %></th>
      <th><%= Karma %></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each_with_index do |d, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to d["user"].username, d["user"] %></td>
        <td><%= d["activity_count"] %></td>
        <td><%= d["daily_avg"] %></td>
        <td><%= time_ago_in_words(d["joined_at"]) %></td>
        <td><%= d["karma_total"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
