<% title 'Product Rankings' %>

<section class="js-rankings"></section>

<% content_for :javascript do %>
  <script>
    React.renderComponent(
      ProductRankings(<%== {
        page: params[:page],
        sortCol: params[:sort],
        sortAsc: params[:direction] == 'asc',
        showRanked: params[:showranked] == 'true',
        totalPages: @products.total_pages
      }.to_json %>),
      document.getElementsByClassName('js-rankings')[0]
    )
  </script>
<% end %>