@import 'basscss';
@import 'asmcss/basspluss';
@import 'asmcss/utility';
@import 'asmcss/colors';

html {
  font-size: 12px;
}

body {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  line-height: $headings-line-height;
}

p, dl, ol, ul {
  font-size: 1.25rem;
}

p.lead,
.lead p {
  font-size: 2rem !important;
}

strong,
.bold {
  font-weight: 600;
}

.caps {
  letter-spacing: .05em;
}

a {
  color: $link-color;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  &:hover, &:focus {
    text-decoration: none;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
}

pre, code, samp {
  font-family: $font-family-monospace;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600 }

h1, .h1 {
  font-size: $font-size-h1; // 30px
  line-height: 4rem; // 48px
}
h2, .h2 {
  font-size: $font-size-h2; // 30px
  line-height: 3rem; // 36px
}
h3, .h3 {
  font-size: $font-size-h3; // 24px
  line-height: 2.5rem; // 30px
}
h4, .h4 {
  font-size: $font-size-h4;
  line-height: 2rem;
} // 18px/24px
h5, .h5 {
  font-size: $font-size-h5;
  line-height: 2rem;
} // 16px/24px
h6, .h6 {
  font-size: $font-size-h6;
  line-height: 1.5rem;
} // 14px/18px

.shadow {
  box-shadow: 0px 1px 2px 0px $brand-shadow;
}
.shadow-light {
  box-shadow: 0px 0px 1px 0px $brand-shadow;
}

input,
select,
textarea,
fieldset {
  margin-bottom: 0;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: auto;
  padding: 6px 12px;
  line-height: $line-height-base;
  outline: none;
}

// --

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, .button {
  padding: 0;
}

.pill-button {
// default
  display: block;
  position:relative;
  padding:0.5rem 2.5rem;
  text-align:center;
  border-radius: 50px;
  color: $black;
  font-size:13px;
  background:$gray-5;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  //
  &:hover {
    color: inherit;
    background:$gray-3;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &.active {
    color: $gray-3;
    background:$gray-5;
  }
}
// general
.pill-button-shadow {
  box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
  //
  &:hover {
    box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.15);
  }
}
.pill-button-shadow-dark {
  box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.6);
  &:hover {
    box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
  }
}
.pill-button-text-shadow {
  text-shadow: 0px 1px rgba(50, 50, 50, 0.2);
}
.pill-button-border {
  //
  &:before {
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:1px solid rgba(100,100,100,0.15);
    border-radius: 50px;
  }
}
// themes
.pill-button-theme-white-blue {
  color: $blue;
  background: $white;
  //
  &:hover {
    color: $blue;
    background: rgba(51,142,218,0.25);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &.active {
    color: #666d78;
    background:$white;
    box-shadow: none;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &.pill-button-success {
    //
    .title {
      position:relative;
      padding-left:1rem;
      &:before {
        content:'';
        position:absolute;
        top:50%;
        left:-6px;
        margin-top:-5px;
        width:11px;
        height:11px;
        background-image: url(/assets/icon-success-check-green.png);
        background-size: cover;
      }
    }
  }
}
.pill-button-theme-green {
  color: $white;
  background: $green;
  //
  &:hover {
    color: $white;
    background:#2ec095;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &:focus {
    color: $white;
  }
}

.pill-button-split {
  position:relative;
  //
  .pill-button-split-icon {
    display:block;
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width: 4.5rem;
    padding-top: 0.75rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid rgba(100,100,100,0.15);
    border-left:1px solid rgba(100,100,100,0.125);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    //
    .fa:before {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.15s ease-in-out;
    }
  }
  &.open {
    //
    .pill-button-split-icon {
      //
      &.pill-button-theme-green {
        background:#2ec095;
      }
      .fa:before {
        display: block;
        -webkit-transform: translate3d(0,0,0) rotate(180deg);
                transform: translate3d(0,0,0) rotate(180deg);
        -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
      }
    }
  }
}

.pill-hover {
  border-radius: 50px;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  //
  &:hover {
    color: #353941;
    background: #e7e9ec;
    border-radius: 50px;
    text-decoration: none;
    -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }
}
