@import 'basscss';
@import 'asmcss/basspluss';
@import 'asmcss/colors';

html {
  font-size: 12px;
}

body {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  line-height: $headings-line-height;
}

p, dl, ol, ul {
  font-size: 1.25rem;
}

p.lead,
.lead p {
  font-size: 2rem !important;
}

strong,
.bold {
  font-weight: 600;
}

.caps {
  letter-spacing: .05em;
}

a {
  color: $link-color;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  &:hover {
    text-decoration: none;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
}

pre, code, samp {
  font-family: $font-family-monospace;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600 }

h1, .h1 {
  font-size: $font-size-h1; // 30px
  line-height: 4rem; // 48px
}
h2, .h2 {
  font-size: $font-size-h2; // 30px
  line-height: 3rem; // 36px
}
h3, .h3 {
  font-size: $font-size-h3; // 24px
  line-height: 2.5rem; // 30px
}
h4, .h4 {
  font-size: $font-size-h4;
  line-height: 2rem;
} // 18px/24px
h5, .h5 {
  font-size: $font-size-h5;
  line-height: 2rem;
} // 16px/24px
h6, .h6 {
  font-size: $font-size-h6;
  line-height: 1.5rem;
} // 14px/18px

.border { border-color: $gray-lighter }
.border-top { border-color: $gray-lighter }
.border-right { border-color: $gray-lighter }
.border-bottom { border-color: $gray-lighter }
.border-left { border-color: $gray-lighter }

.rounded { border-radius: 4px }
.rounded-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.rounded-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-right {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.shadow {
  box-shadow: 0px 1px 2px 0px $brand-shadow;
}
.shadow-light {
  box-shadow: 0px 0px 1px 0px $brand-shadow;
}

input,
select,
textarea,
fieldset {
  margin-bottom: 0;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: auto;
  padding: 6px 12px;
  line-height: $line-height-base;
  outline: none;
}

.blue { color: $blue }
.bg-blue { background-color: $blue }

.green { color: $green }
.bg-green { background-color: $green }

// --

.no-border { border: none }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

button, .button {
  padding: 0;
}

.pill-button {
  position:relative;
  display: inline-block;
  padding:7px 30px;
  border-radius: 50px;
  color: $blue;
  font-size:13px;
  background:$white;
  box-shadow: 0px 3px 5px -4px rgba(50, 50, 50, 0.3);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  //
  &:before {
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:1px solid rgba(100,100,100,0.15);
    border-radius: 50px;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
  }
  &:hover {
    //
    &:before {
      background: rgba(51,142,218,0.25);
      -webkit-transition: background 0.15s ease-in-out;
      transition: background 0.15s ease-in-out;
    }
  }
  &.lesser {
    color: $gray-3;
    background:$gray-light;
    box-shadow: none;
    //
    &:before {
      border:none;
    }
    &:hover {
      //
      &:before {
        background:none;
      }
    }
  }
}

.flip-v {
  display: block;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.flip-h {

}
