@import 'variables',
        'bootstrap',
        'base/*',
        'components/*';

.container {
  width: 970px !important;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;

  .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.fixed-bottom-right {
  right: 30px;
}

.fixed-top {
  position: fixed;
  top: 0;
}


.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0;
}

.omega {
  margin-bottom: 0;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

