@import 'variables',
        'bootstrap',
        'mixins/*',
        'base/*',
        'components/*',
        'slop';


.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

.img-shadow {
  display: block;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: $border-radius-base;
  }

  img {
    display: block;
  }
}
