@import 'variables',
        'bootstrap',
        'mixins/*',
        'base/*',
        'components/*',
        'slop';


.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

.img-shadow {
  display: block;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: $border-radius-base;
  }

  img {
    display: block;
  }
}

.sub-thingy {
  margin-top: -24px;
  padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid $brand-divider;
  margin-bottom: 24px;
}

.masthead {
  background-color: $black;
  background-size: cover;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  position: relative;
  margin-bottom: $line-height-computed * 2;

  > .masthead-navbar {
    .navbar-nav > li > a,
    .navbar-brand {
      color: white;
    }

    .navbar-nav > li > a:hover {
      background-color: rgba(black, .2);
    }
  }

  > * {
    position: relative;
  }
}

.masthead-title {
  color: white;
}

.play-button {
  display: block;
  margin-top: $line-height-computed * 4;
  margin-bottom: $line-height-computed * 4;
  outline: none;
}

.play-button:focus {
  outline: none;
}

.masthead-gradient {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($red, 0.6);
}
