@charset "utf-8";

// ==== Variables =======================================================

@import "vars/base";              // Base global variables (bootstrap-sass, etc)

// ==== Framework =======================================================

@import 'bootstrap';              // Ruby gem

// ==== App =============================================================

@import 'app/mixins/*';
@import "vars/app";               // App specific variables (Bootstrap post-render overwrites, etc) // use rarely
// core
@import "app/main";               // Main: structure & content styles, etc - h1, p, tables, lists, forms
@import "base/*";
@import "app/components/*";
@import "app/slop";               // plz kill...  ‎‎(ﾉಥ益ಥ）ﾉ﻿ ┻━┻

// - TODO: http://goo.gl/NnNg3g
