@charset "utf-8";

// ==== Config ==========================================================

// -- Vars -------------------------
@import 'config/vars/general';
@import 'config/vars/typography';   // Fonts: Typography Variables, Font Stacks, Font-Face, etc
@import 'config/vars/colors';

// -- Libs -------------------------
@import 'bootstrap';

// -- Mixins -------------------------
@import 'config/mixins/*';

// ==== App =============================================================

@import "app/base";                 // Base: Universal styles & helper classes (eg html, body, clearfix, etc)
@import "app/structure";            // Structure: Default framework structure styles
@import "app/content";              // Content: Default styles for all content - h1, p, tables, lists, etc
@import "app/components/*";
@import "app/slop";                 // plz kill...  ‎‎(ﾉಥ益ಥ）ﾉ﻿ ┻━┻

@import 'asmcss';                   // to be phased out. work around no longer needed. All styles worth preserving
                                    // should be integrated back into the main scss partials above.