@import 'variables',
        'bootstrap',
        'mixins/*',
        'base/*',
        'components/*',
        'slop';


.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

.img-shadow {
  display: block;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: $border-radius-base;
  }

  img {
    display: block;
  }
}

.sub-thingy {
  margin-top: -24px;
  padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid $brand-divider;
  margin-bottom: 24px;
}

.play-button {
  display: inline-block;
  margin-top: $line-height-computed * 2;
  margin-bottom: $line-height-computed * 2;
  padding: ($line-height-computed * 2) ($grid-gutter-width * 2);
  outline: none;
}

.play-button:hover {
  background-color: rgba(black, .2);
}

.play-button:focus {
  outline: none;
}

.masthead-gradient {
  @include gradient-vertical(rgb(34, 157, 171), rgb(16, 53, 97), 24%, 100%);
  
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: .7;
}

.feature {
  padding-bottom: $padding-large-vertical;
  position: relative;

  > .glyphicon {
    display: block;
    font-size: $font-size-large;
    margin-left: -36px;
    position: absolute;
  }

  > .feature-title {
    line-height: 1.1;
    margin-top: 0;
  }
}
