@import 'variables',
        'bootstrap',
        'base/*',
        'components/*',
        'slop';

a {
  cursor: pointer;
}

.fixed-bottom {
  z-index: 9999;
  position: fixed;
  bottom: 0;

  .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.fixed-bottom-right {
  right: 30px;
}

.fixed-top {
  position: fixed;
  top: 0;
}


.hide-long-links {
  .long-link { display: none; }
  .stream-event-attachment { display: none; }
  .commit-message { display: none; }
  .text-muted { color: $link-color; }
}

.alpha {
  margin-top: 0 !important;
}

.omega {
  margin-bottom: 0 !important;
}

.neuter-paragraphs > p:last-child {
  @extend .omega;
}

.fb-like {
  top: -7px;
}

.img-shadow {
  display: block;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: $border-radius-base;
  }

  img {
    display: block;
  }
}
