@import "vars/base";
@import 'ink';

$headings-font-weight: bold;

$font-size-h1: 24px;
$font-size-h2: 24px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-base;
$font-size-h6: 13px;

$screen-sm-min: 600px;
$grid-float-breakpoint: 600px;

$component-offset-horizontal: 180px !default;
$dl-horizontal-offset:        $component-offset-horizontal !default;


@import 'bootstrap/mixins';
@import 'bootstrap/type';

a {
  color: $link-color !important;
}

a:hover,
a:active,
a:visited {
  color: $link-hover-color !important;
}

table.button {
  a {
    color: white !important;
  }

  & td { background: $brand-primary !important; }
  &.secondary td { background: $brand-muted !important; }
  &.alert td { background: $brand-danger !important; }
  &.success td { background: $brand-success !important; }

  &.secondary a {
    color: $text-color !important;
  }
}

body,
table.body,
p,
td {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

pre {
  max-width: 100%;
  font-size: $font-size-small;
}

.panel {
  padding: 60px !important;
  border: none;
  border-radius: $border-radius-base;

  img {
    margin-bottom: 10px;
  }

  .center center {
    min-width: 460px !important;
  }
}

.panel-default {
  background-color: white;
}

.panel-success,
.panel-warning,
.panel-danger {
  td, p, h1, h2, h3, h4, h5, h6, ul, ol, pre {
    color: white;
  }

  a {
    color: white !important;
    font-weight: bold;
  }
}

.panel-success {
  background-color: $brand-success;

  td, p, ul, ol, pre {
    color: lighten($brand-success, 30%);
  }
}

.panel-warning {
  background-color: $brand-warning;
}

.panel-danger {
  background-color: $brand-danger;
}

.primary {
  background-color: $brand-primary !important;
}

.success {
  background-color: $brand-success !important;
}

.info {
  background-color: $brand-info !important;
}

.warning {
  background-color: $brand-warning !important;
}

.header {
  margin-top: 10px;
}

.text-muted {
  color: $brand-muted;
}

.text-serif {
  &, td, p {
    font-family: $font-family-serif;
  }
}

.header-date {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: 0.618pt;
}

.footer {
  p,
  td {
    color: $gray-5;
    font-size: 12px;
  }

  a {
    color: $gray-2 !important;
  }
}

.text-right {
  text-align: right;
}

.img-circle {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .panel {
    padding: 10px !important;
  }

  .text-right {
    text-align: left !important;
  }
}
