$hero-primary: desaturate(#b57f59, 20%);
$hero-secondary: #CBCBBC;
$text-copy: #353439;
$text-accent: #BC9454;

$home-primary: desaturate(darken($text-accent, 30%), 15%);
$home-primary: desaturate(darken($brand-primary, 30%), 35%);

$product-helpful: lighten(#494d52, 7%);
$product-family-table: darken(#83B4AD, 5%);
$product-buckets: darken(#f9d233, 12%);
$product-really-good-emails: darken(desaturate(#f75853, 12%), 3%);

$user-whale: #63a4ae;
$user-chexee: #98658e;
$user-davidkaneda: #848C24;

.hero {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, $hero-primary 100%), url(image-path('getting-started/hero.jpg')) no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  color: $text-copy;

  h1 {
    @extend .text-serif;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: bold;
    color: $text-copy;

    &:after {
      content: '';
      display: block;
      width: 20%;
      height: 2px;
      background-color: $hero-secondary;
      margin: 0 auto;
      margin-top: 28px;
      border-radius: 1px;
    }
  }

  h6 {
    font-size: 15px;
    letter-spacing: 0.8pt;
    margin: 0;
    margin-bottom: 5px;
    color: $text-accent;

    .icon {
      font-size: 32px;
      position: relative;
      bottom: -3px;
    }
  }

  .lead {
    color: inherit;
    padding: 0 50px;
  }
}

.lead-hero {
  @extend .lead;
  font-size: 23px;
  font-weight: normal;
  color: white;
}

.section,
.sidebar {
  // @extend .text-serif;
  line-height: 1.618;
  color: $text-copy;
}

.section {
  @extend .text-serif;
  line-height: 1.618;
  margin-bottom: 48px;

  .lead {
    @extend .text-sans;
  }

  .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: lighten($text-copy, 77%);
  }

  .table {
    @extend .text-sans;
  }

  figure {
    font-size: 14px;
    font-style: italic;
    color: $gray;
    border-top: 1px dotted $brand-divider;
    padding: 10px 0;
  }

  h2 {
    @extend .text-sans;
    color: $black;
    font-weight: 200;
    margin-bottom: $line-height-computed * 2;
    font-size: 42px;
  }

  h3 {
    @extend .text-sans;
    color: $black;
    font-weight: 200;
    margin-bottom: $line-height-computed * 1.5;
    font-size: 34px;

    span {
      color: $gray-light;
    }
  }


  h4 {
    @extend .text-sans;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: $line-height-computed;
    color: $text-accent;
  }
}

.section-ruled {
  border-bottom: 1px solid $brand-divider;
}

.section-padded {
  padding: 30px 0;
}

.card-product {
  .summary-target {
    color: $text-color;
    font-weight: normal;
    margin-bottom: $line-height-computed / 2;
  }

  .summary-name {
    font-weight: bold;
    font-size: 15px;
  }
}

.card-colored {
  @extend .text-sans;
  margin-bottom: 0;
  background-color: $gray;
  box-shadow:
    0 1px 0 0 $brand-shadow;

  .card-hero {
    box-shadow: none;
  }

  .card-body {
    color: white;

    .summary,
    .summary-target {
      color: inherit;
    }

    .summary-target {
      min-height: 72px;
    }

    p {
      @extend .text-sans;
      text-transform: uppercase;
      line-height: 1;
      font-weight: bold;
      color: white;
    }
  }
}

a.card-colored:hover {
  box-shadow: inset 0 0 0 1px $brand-shadow,
              0 3px 3px 0 $brand-shadow;
}

.product-helpful {

  &.card:not(.card-colored) {
    .summary-name {
      color: $product-helpful;
    }
  }

  &.card-colored {
    background-color: $product-helpful;
  }
}

.product-family-table {

  &.card:not(.card-colored) {
    .summary-name {
      color: $product-family-table;
    }
  }

  &.card-colored {
    background-color: $product-family-table;
  }
}

.product-buckets {

  &.card:not(.card-colored) {
    .summary-name {
      color: $product-buckets;
    }
  }

  &.card-colored {
    background-color: $product-buckets;
  }
}

.product-really-good-emails {

  &.card:not(.card-colored) {
    .summary-name {
      color: $product-really-good-emails;
    }
  }

  &.card-colored {
    background-color: $product-really-good-emails;
  }
}

.user-whale {
  &.card-colored {
    background-color: $user-whale;

    .card-inner {
      background: url(image-path('users/whale.jpg')) no-repeat;
    }
  }
}

.user-chexee {
  &.card-colored {
    background-color: $user-chexee;

    .card-inner {
      background: url(image-path('users/chexee.jpeg')) no-repeat;
    }
  }
}

.user-davidkaneda {
  &.card-colored {
    background-color: $user-davidkaneda;

    .card-inner {
      background: url(image-path('users/davidkaneda.png')) no-repeat;
    }
  }
}

.sidebar {
  font-size: 14px;
  border-left: 1px solid $brand-divider;
  padding-left: 30px;

  h5 {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8pt;
    color: $hero-secondary;
  }
}

.getting-started {
  padding: 16px 0 36px 0;
  background: $hero-primary;
  border: none;
  margin-bottom: 60px;
}

.block {
  background-color: white;
  z-index: 1;
  position: relative;
  padding: 48px 0;
}

.block-inverted {
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;

    em {
      border-bottom: 3px solid lighten($home-primary, 8%);
    }
  }
}

.block-colored {
  background: $body-bg;
  color: $gray-dark;
}

.block-bordered {
  box-shadow:
    inset 0 1px 0 0 rgba(0,0,0,0.04),
    inset 0 -1px 0 0 rgba(0,0,0,0.04);
}

.block-image-bg {
  background-position: top center;
  background-size: cover;
  padding: 48px 0;
}

.block-overlay {
  background-color: rgba($black, 0.2);
}

.block > .block {
  margin-top: 50px;
  margin-bottom: -50px;
}

.page-home {

  .block-image-bg {
    background: linear-gradient(140deg, rgba($home-primary, 0.92), rgba(desaturate(darken($home-primary, 15%), 10%), 0.92)), url(image-path('home/home.jpg'));
    min-height: 500px;
    background-size: cover;
    margin-bottom: $line-height-computed * 1.5;
    position: relative;

    h1 {
      margin-top: $line-height-computed * 2;
      margin-bottom: $line-height-computed * 2;
      font-size: 68px;
      line-height: 1.25;
      font-weight: 200;
    }

    .lead {
      font-size: 26px;
      font-weight: 400;
    }
  }

  h6 {
    font-size: 14px;
  }
}

.devbar:before {
  display: none;
}

.list-ruled {

  li {
    border-bottom: 1px dotted $brand-divider;
    padding: 8px 0;

    &:last-child {
      border: none;
    }
  }
}
