<table class="row header hide-for-small">
  <tr>
    <td class="wrapper">
      <table class="six columns">
        <tr>
          <td class="left-text-pad">
            <a href="<%= root_url %>" target="_blank" title="Assembly">
              <img alt="Assembly Logo" src="<%= image_url('logo-wordmark-dark@2x.png') %>" width="36" height="32" />
            </a>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper last">
      <table class="six columns hide-for-small">
        <tr>
          <td class="text-right right-text-pad header-date">
            <%# TODO Remove when everything is BaseMailer %>
            <% @date ||= Date.today %>
            <span class="header-date-day">
              <%= @date.strftime('%A').upcase %>
            </span>
            <span class="text-muted">
              <%= @date.strftime('%B %-d, %Y').upcase %>
            </span>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
