<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">

                <h1 class="text-center">
                  Nice job!
                </h1>

                <p>
                  <a href="<%= product_url(@product) %>"><%= @product.name %></a> had <%= @number %> new followers on Assembly in the past 24-hours.
                </p>

                <p>
                  Keep up the good work!
                  <br/>
                  The Assembly team
                </p>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
