<% title 'Introduction', '@'+@membership.user.username %>

<div class="px2">
  <%= react_component 'NewsFeedItem',
        NewsFeedItemSerializer.new(@news_feed_item).as_json.merge(
          commentable: true,
          enableModal: false,
          productPage: true,
          showAllComments: true
  ) %>
</div>
