<table style="width:100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
     <td style="width:76px;">
       <%= image_tag('emails/timeline-event.gif', width: '76') %>
     </td>
     <td align="left" valign="bottom" style="vertical-align:bottom;" class="h6 collapse grey-2">
       <font class="h6 collapse grey-2">
         <%= timestamp.strftime('%A %b %d %I:%M %p') %>
       </font>
     </td>
   </tr>
   <tr>
     <td style="width:76px;">
       <img src="https://dl.dropboxusercontent.com/u/9519836/asm-mention-email/ti-h_02a.gif" alt="" width="76">
     </td>
     <td></td>
   </tr>
 </table>
