<% title 'Discover Products' %>
<% activate_nav! :platform_discover %>
<% activate_nav! :discover_staff_picks %>

<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render 'header' %>

        <div class="list-group list-group-breakout">
          <% @products.each do |product| %>
            <div class="list-group-item foobar">
              <%= render 'products/chip', product: product %>
            </div>
          <% end %>
        </div>

      </div>


    </div>
  </div>
</div>

<%= render 'shared/footer' %>
