<% title 'Updates' %>
<% activate_nav! :platform_updates %>

<%= render 'shared/navbar' %>

<style>
  body {
    background-color: #F4F4F5;
  }
</style>

<div class="container">
  <div class="clearfix py2">
    <div class="col sm-col-2">&nbsp;</div>
    <div class="col sm-col-8">
      <%= react_component 'NewsFeed', news_feed_items: @posts %>
    </div>
  </div>
</div>
