<% title 'Updates' %>
<% activate_nav! :platform_updates %>

<%= render 'shared/navbar' %>

<style>
  body {
    background-color: #f5f5f5;
  }
</style>

<div class="container mt2 mb4">
  <div class="clearfix">
    <div class="col sm-col-6">
      <% @posts.each do |item| %>
        <%= react_component 'NewsFeedItem', item %>
      <% end %>
    </div>
  </div>
</div>
