
// DO NOT USE - Phasing out this stylesheet - keep in remaining in play until below css can be sorted through & deprecated

// ### general


// TODO Replace with better responsive states
.none {display:none !important}

// TODO All of these could be removed by refactoring Assets

// TODO Replace with beta BASS Helpers
.bg-size-cover {background-size: cover}
.bg-repeat-none {background-repeat: no-repeat}
.bg-position-center {background-position: center}

.z1   { z-index:1 }
.z2   { z-index:2 }
.z3   { z-index:3 }
.z4   { z-index:4 }
.z5   { z-index:5 }
.z6   { z-index:6 }
.z7   { z-index:7 }
.z8   { z-index:8 }
.z9   { z-index:9 }
.z10  { z-index:10 }

.valign-top   { vertical-align:top }
.valign-mid   { vertical-align:middle }
.valign-btm   { vertical-align:bottom }
.valign-pro {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


// padding


.pt2  { padding-top: 1rem; }
.pb2  { padding-bottom: 1rem; }


// TODO Left in the create bounty dropdown
.pr7  { padding-right: 3.5rem; }






.p0   { padding: 0 }
.px0  { padding-left: 0; padding-right: 0; }
.py0  { padding-top: 0; padding-bottom: 0; }

.pt0  { padding-top: 0; }
.pt1  { padding-top: 0.5rem; }
.pt3  { padding-top: 1.5rem; }
.pt4  { padding-top: 2rem; }
.pt5  { padding-top: 2.5rem; }
.pt6  { padding-top: 3rem; }
.pt7  { padding-top: 3.5rem; }
.pt8  { padding-top: 4rem; }
.pt9  { padding-top: 4.5rem; }
.pt10  { padding-top: 5rem; }
.pt11  { padding-top: 5.5rem; }

.pr0  { padding-right: 0; }
.pr1  { padding-right: 0.5rem; }
.pr2  { padding-right: 1rem; }
.pr3  { padding-right: 1.5rem; }
.pr4  { padding-right: 2rem; }
.pr5  { padding-right: 2.5rem; }
.pr6  { padding-right: 3rem; }
.pr8  { padding-right: 4rem; }
.pr9  { padding-right: 4.5rem; }
.pr10  { padding-right: 5rem; }
.pr11  { padding-right: 5.5rem; }

.pb0  { padding-bottom: 0; }
.pb1  { padding-bottom: 0.5rem; }
.pb3  { padding-bottom: 1.5rem; }
.pb4  { padding-bottom: 2rem; }
.pb5  { padding-bottom: 2.5rem; }
.pb6  { padding-bottom: 3rem; }
.pb7  { padding-bottom: 3.5rem; }
.pb8  { padding-bottom: 4rem; }
.pb9  { padding-bottom: 4.5rem; }
.pb10  { padding-bottom: 5rem; }
.pb11  { padding-bottom: 5.5rem; }
//
.pb100p  { padding-bottom:100%; }
.pb75p   { padding-bottom:75%; }
.pb66p   { padding-bottom:66.6666%; }
.pb50p   { padding-bottom:50%; }
.pb33p   { padding-bottom:33.3333%; }
.pb25p   { padding-bottom:25%; }

.pl0  { padding-left: 0; }
.pl1  { padding-left: 0.5rem; }
.pl2  { padding-left: 1rem; }
.pl3  { padding-left: 1.5rem; }
.pl4  { padding-left: 2rem; }
.pl5  { padding-left: 2.5rem; }
.pl6  { padding-left: 3rem; }
.pl7  { padding-left: 3.5rem; }
.pl8  { padding-left: 4rem; }
.pl9  { padding-left: 4.5rem; }
.pl10  { padding-left: 5rem; }
.pl11  { padding-left: 5.5rem; }


// margin

.mright { margin-right: 0; margin-left: auto; }
.mcenter { margin-right: auto; margin-left: auto; }
.mleft { margin-right: auto; margin-left: 0; }

.mb1_5 { margin-bottom:1.5rem }

.mn1 { margin:-0.5rem }
.mn2 { margin:-1rem }
.mn3 { margin:-1.5rem }
.mn4 { margin:-2rem }
.mn5 { margin:-2.5rem }
.mn6 { margin:-3rem }
.mn7 { margin:-3.5rem }
.mn8 { margin:-4rem }
.mn9 { margin:-4.5rem }
.mn10 { margin:-5rem }
.mn11 { margin:-5.5rem }

.mtn1 { margin-top:-0.5rem }
.mtn2 { margin-top:-1rem }
.mtn3 { margin-top:-1.5rem }
.mtn4 { margin-top:-2rem }
.mtn5 { margin-top:-2.5rem }

.mrn1 { margin-right:-0.5rem }
.mrn2 { margin-right:-1rem }
.mrn3 { margin-right:-1.5rem }
.mrn4 { margin-right:-2rem }
.mrn5 { margin-right:-2.5rem }

.mln1 { margin-left:-0.5rem }
.mln2 { margin-left:-1rem }
.mln3 { margin-left:-1.5rem }
.mln4 { margin-left:-2rem }
.mln5 { margin-left:-2.5rem }

.mln5p { margin-left:-5% }


// ### table

.table-fixed  { table-layout:fixed }
.table-row    { display:table-row }

// ### typography

.fs1  { font-size:0.9rem; }
.fs2  { font-size:1rem; }
.fs3  { font-size:1.1rem; }
.fs4  { font-size:1.25rem; }
.fs5  { font-size:1.3rem; }
.fs6  { font-size:1.4rem; }

.fw-200 { font-weight:200; }
.fw-500 { font-weight:500; }
.fw_600 { font-weight:600; }

.lh0    { line-height:0 }
.lh0_9  { line-height:0.9rem }
.lh1    { line-height:1rem }
.lh1_5  { line-height:1.5rem }
.lh2    { line-height:2rem }

// ### misc

.pointer { cursor: pointer; }

// ### responsive
// natively basscss has "sm, med, lg" prefixes for this, but we need more granular options
// I propose the folowing standard .r###_selector
@media screen and (min-width: 480px) {
  .r480_block {
    display:block !important;
  }
  .r480_w50p {
    width:50% !important;
  }
}

@media screen and (min-width: 600px) {
  .r600_none {
    display:none !important;
  }
  .r600_width-auto {
    width:auto !important;
  }
  .r600_float-right {
    float:right !important;
  }
  .r600_float-left {
    float:left !important;
  }
  .r600_right-align {
    text-align:right !important;
  }
  .r600_block {
    display:block !important;
  }
  .r600_w35 {
    width: 17.5rem;
  }
  .r600_p0 {
    padding:0 !important;
  }
  .r600_pt0 {
    padding-top:0 !important;
  }
  .r600_pb0 {
    padding-bottom:0 !important;
  }
  .r600_pl2 {
    padding-left:1rem !important;
  }
  .r600_m0 {
    margin:0 !important;
  }
  .r600_mx0 {
    margin-left:0 !important;
    margin-right:0 !important;
  }
  .r600_mr1 {
    margin-right: .5rem !important;
  }
  .r600_mr2 {
    margin-right: 1rem !important;
  }
  .r600_mb6 {
    margin-bottom: 3rem !important;
  }
  .r600_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r600_table-cell {
    display:table-cell !important;
  }
  .r600_left-align {
    text-align: left !important;
  }
}
@media screen and (min-width: 768px) {
  .r768_none {
    display:none !important;
  }
  .r768_block {
    display:block !important;
  }
  .r768_inline-block {
    display:inline-block !important;
  }
  .r768_w100p {
    width:100% !important;
  }
  .r768_w50p {
    width:50% !important;
  }
  .r768_w25p {
    width:25% !important;
  }
  .r768_w35 {
    width: 17.5rem !important;
  }
  .r768_mright {
    margin-right: 0;
    margin-left: auto;
  }
  .r768_mcenter {
    margin-left: auto; margin-right: auto;
  }
  .r768_m0 {
    margin: 0 !important;
  }
  .r768_ml0 {
    margin-left:0 !important;
  }
  .r768_p0 {
    padding:0 !important;
  }
  .r768_pr0 {
    padding-right:0 !important;
  }
  .r768_pr4 {
    padding-right:2rem !important;
  }
  .r768_pl1 {
    padding-left:1rem !important;
  }
  .r768_pr1 {
    padding-right:1rem !important;
  }
  .r768_pb0 {
    padding-bottom:0 !important;
  }
  .r768_table {
    display: table !important;
    table-layout:fixed !important;
  }
  .r768_table-cell {
    display:table-cell !important;
  }
  .r768_left-align {
    text-align: left !important;
  }
  .r768_right-align {
    text-align: right !important;
  }
  .r768_float-right {
    float:right !important;
  }
}

@media screen and (min-width: 992px) {
  .r992_inline-block {
    display: inline-block !important;
  }
  .r992_w45 {
    width: 22.5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .r1024_block {
    display: block !important;
  }
  .r1024_inline-block {
    display: inline-block !important;
  }
  .r1024_w50p {
    width:50% !important;
  }
}
