
// DO NOT USE - Phasing out this stylesheet - keep in remaining in play until below css can be sorted through & deprecated

// TODO All of these could be removed by refactoring Assets

// TODO Replace with beta BASS Helpers
.bg-size-cover {background-size: cover}
.bg-repeat-none {background-repeat: no-repeat}
.bg-position-center {background-position: center}

.z1   { z-index:1 }
.z2   { z-index:2 }
.z3   { z-index:3 }
.z4   { z-index:4 }
.z5   { z-index:5 }
.z6   { z-index:6 }
.z7   { z-index:7 }
.z8   { z-index:8 }
.z9   { z-index:9 }
.z10  { z-index:10 }

// padding

.p0   { padding: 0 }

// ### typography

.fs3  { font-size:1.1rem; }
.fs5  { font-size:1.3rem; }

.fw-200 { font-weight:200; }

.lh0    { line-height:0 }
.lh0_9  { line-height:0.9rem }
.lh1    { line-height:1rem }
.lh1_5  { line-height:1.5rem }
.lh2    { line-height:2rem }

// ### misc

.pointer { cursor: pointer; }
