// ### Responsive ###
@media screen and (min-width: 480px) {
  $pre: "_mq-480_";
  @import '_deprecated/nocss';
}

@media screen and (min-width: 600px) {
  $pre: "_mq-600_";
  @import '_deprecated/nocss';
}
@media screen and (min-width: 768px) {
  $pre: "_mq-768_";
  @import '_deprecated/nocss';
}

@media screen and (min-width: 992px) {
  $pre: "_mq-992_";
  @import '_deprecated/nocss';
}

@media screen and (min-width: 1024px) {
  $pre: "_mq-1024_";
  @import '_deprecated/nocss';
}
