<div class="alert alert-info text-center text-large" data-dismissable="applied">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    Congratulations! You've successfully submitted your product for review. We'll be in touch soon with any feedback; in the meantime, feel free to <a href="mailto:austin.smith@assembly.com" style="text-decoration: underline;">drop us a line</a> if you have any questions.
  </div>
</div>
