<div class="alert alert-info center text-large mb0" data-dismissable="applied">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    Congratulations! You've successfully submitted your product for review. We'll be in touch soon with any feedback; in the meantime, feel free to <%= mail_to 'austin.smith@assembly.com', 'drop us a line', subject: @product.name, body: product_url(@product), style: 'text-decoration: underline' %> if you have any questions.
  </div>
</div>
