<div class="assets-masthead" style="padding: 60px 0;" data-dismissable="welcome">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md-12 lead omega">
        Congratulations! You've earned your first <strong><%= @product.name %> Assets</strong>!
        <p>
          <a href="<%= product_wips_path(@product) %>" style="color: white; text-decoration: underline;">Start building</a> to earn more Assets.
        </p>
      </div>
    </div>
  </div>
</div>
