<div class="alert alert-success center text-large mb0" data-dismissable="welcome">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    Congratulations! Your first <strong><%= @product.name %></strong> coins are being deposited in your account. Go on, <a href="https://twitter.com/share?text=I%20just%20earned%20my%20first%20Assembly%20Assets!&url=http://assets.assembly.com" data-lang="en" style="text-decoration: underline;">tell the world</a>!
  </div>
</div>
