<div class="alert alert-danger text-center text-large mb0" data-dismissable="assets-error">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    <%= flash[:assets_error] %>
  </div>
</div>
