<div class="alert alert-success text-center text-large" data-dismissable="welcome">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    Congratulations! Your first <strong><%= @product.name %></strong> coins are being deposited in your account.
    <a href="<%= product_wips_path(@product) %>" style="color: white; text-decoration: underline;">Complete a bounty</a> to earn more coins.
  </div>
</div>
