<% status_message = @product.status_messages.order(:created_at).last || @product.status_messages.new(user: @product.user, body: %Q{We're building #{@product.name}. Jump in and help out with some [tasks &rarr;](#{product_wips_path(@product)})}) %>
<div class="container status-container">
  <div class="status-message">
    <div class="arrow"></div>
    <div class="avatar avatar-xs">
      <img src="<%= status_message.user.avatar.url(24) %>" />
    </div>
      <%= markdown status_message.body %>
    <% if signed_in? && current_user.can?(:update, @product) %>
      <span>
        &nbsp;<a href="#" data-toggle="modal" data-target="#update-status">&mdash; Update Status</a>
      </span>
    <% end %>
  </div>
</div>

<div class="modal fade" id="update-status" tabindex="-1">
  <div class="modal-dialog">
    <%= ajax_form_for @product.status_messages.new, url: product_status_messages_path(@product) do |f| %>
      <div class="modal-content">
        <div class="modal-body">
          <%= f.text_field :body, placeholder: "What's happening on #{@product.name}?" %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" data-disable-with="Publishing...">Publish</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
