<ul class="list-inline omega hidden-xs pull-right">

  <% product.core_team.limit(3).each do |user| %>
    <li>
      <a href="<%= user_path(user) %>" data-toggle="tooltip" title="@<%= user.username %>"><%= avatar_tag(user, 24) %></a>
    </li>
  <% end %>

  <% other_people_size = product.watchers.count - [product.core_team.count, 3].min %>

  <% if other_people_size > 0 %>
    <li>
      <span class="text-muted">+<%= other_people_size %></span>
    </li>
  <% end %>
</ul>
