<div class="alert alert-info page-alert">
  <% if signed_in? && can?(:update, @product) %>
    <a class="btn btn-default btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="Update Status" href="<%= new_product_post_path(@product) %>">
      <i class="icon-note"></i>
    </a>
  <% end %>
  <p>
    <strong>New post:</strong>
    <a href="<%= product_post_path(@product, post) %>"><%= post.title %></a>
  </p>
</div>
