<a href="#" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#launch-modal">
  <span class="icon icon-rocket" style="margin-right: 2px;"></span>
  Ready to launch?
</a>

<div class="modal fade" id="launch-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ><i class="icon-close" style="top: 7px;"></i></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Are you ready to launch?</h3>
      </div>
      <div class="modal-body">
        <p class="lead omega text-center">While in stealth, you have the opportunity solidify your vision. Once launched, your product can be featured on the Discover page, showcased in the Assembly weekly newsletter, and the whole community can join you in bringing it to life.</p>
        <hr>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="text-center"><strong>Before you launch, have you tried:</strong></p>

            <div class="row" style="margin-bottom: 6px;">
              <div class="col-md-1">
                <i class="icon-check text-success"></i>
              </div>
              <div class="col-md-11 text-muted">
                Filling out a plan to answer any potential questions?
              </div>
            </div>
            <div class="row" style="margin-bottom: 6px;">
              <div class="col-md-1">
                <i class="icon-check text-success"></i>
              </div>
              <div class="col-md-11 text-muted">
                Writing an introductory journal entry to tell the story of <%= @product.name %>?
              </div>
            </div>
            <div class="row" style="margin-bottom: 6px;">
              <div class="col-md-1">
                <i class="icon-check text-success"></i>
              </div>
              <div class="col-md-11 text-muted">
                Creating bounties for awesome features you'd like to see?
              </div>
            </div>
            <div class="row" style="margin-bottom: 6px;">
              <div class="col-md-1">
                <i class="icon-check text-success"></i>
              </div>
              <div class="col-md-11 text-muted">
                Set a post-launch goal by creating a Project?
              </div>
            </div>
            <div class="row" style="margin-bottom: 6px;">
              <div class="col-md-1">
                <i class="icon-check text-success"></i>
              </div>
              <div class="col-md-11 text-muted">
                Got feedback from your friends?
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <%= form_for @product, url: product_launch_path(@product) do %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Not yet</button>
          <input type="submit" class="btn btn-success" value="Launch <%= @product.name %>" data-disable-with="Launching..." />
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
