<div class="new-status-update">
  <%= form_for [@product, StatusUpdate.new(product: @product)] do |f| %>
    <%= f.text_field :title, placeholder: "Subject" %>
    <%= f.text_area :body, placeholder: "What's the current status of the project?", rows: 10 %>
    <p>Submitting this form will email all watchers of <%= @product.name %></p>
    <div class="form-actions">
      <button class="btn btn-small btn-primary" data-disable-with="Updating..."> Update</button>
    </div>
  <% end %>
</div>
