<div class="alert alert-danger center text-large mb0" data-dismissable="applied">
  <button type="button" class="close js-dismiss pull-right" style="margin-right: 25px">
    <span>&times;</span>
  </button>

  <div class="container">
    <%= flash[:no_bounty_description] %>
  </div>
</div>
