<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title text-center">Assembly Meta</h3>
  </div>
  <div class="panel-body text-center">
    Assembly Meta is a special product for providing feedback to Assembly and to join the discussion on upcoming features. This is not intended for revenue so there won't be any royalties paid. App Coins have been replaced with Karma to make this clear.
  </div>
</div>
