<div class="row">
  <div class="col-md-8">
    <h2 class="alpha"><%= @product.pitch %></h2>
    <div class="lead"><%= product_markdown(@product, @product.lead) %></div>
  </div>

  <div class="col-md-2 col-md-offset-2">
    <%= image_tag @product.poster_image.url, width: '100%', class: 'app-icon' %>
  </div>
</div>
