<div class="row">
  <div class="col-md-1">
    <%= image_tag firesize(@product.poster_image.url, '100x100', 'g_center'), width: '100%', class: 'app-icon' %>
  </div>

  <div class="col-md-8">
    <h2 class="alpha"><%= @product.name %></h2>
    <div class="lead"><%= @product.pitch %></div>
  </div>
</div>
