<ul class="list-unstyled omega small">
  <% @product.repos.each do |repo| %>
    <li>
      <i class="icon icon-github dropdown-glyph"></i>
      <a href="<%= repo.url %>" data-track="product.repo.clicked">
        <%= repo.name %>
      </a>
    </li>
  <% end %>
</ul>
