<div class="alert alert-info text-center text-large mb0">
  <div class="container">
    <strong><%= @product.name %></strong> is in <b>Stealth</b>. It can only be seen by you and those you share it with.
    <br> 
    Finish your
    <a href="<%= product_welcome_path(@product) %>"><u>launch checklist</u> to start building it with the Assembly community</a>.
  </div>
</div>
