<div class="alert alert-info center text-large mb0">
  <div class="container">
    <strong><%= @product.name %></strong> is in <b>Stealth</b>. It can only be seen by you and those you share it with.
    <br> 
    Finish your first steps checklist to publish your page.
  </div>
</div>
