<%# This is for the people's page ["Partners", "Roles"]%>

<div class="panel panel-default">
 
  <ul class="nav nav-pills nav-stacked">
    <% if controller.controller_name == "jobs" %>
      <li class="active">
       <%=link_to "Teams", product_jobs_path() %>
      </li>
    <% else %>
      <li>
       <%=link_to "Teams", product_jobs_path() %>
      </li>
    <% end %>

    <% if controller.controller_name == "partners"%>
      <li class="active">
       <%=link_to @product.stakeholders, product_partners_path() %>
      </li>
    <% else %>
      <li>
       <%=link_to @product.stakeholders, product_partners_path() %>
      </li>
    <% end %>
  </ul>

</div><!-- .panel -->