<div class="sheet-body">
  <% if @product.flagged? %>
    <span class="btn btn-danger btn-sm btn-block btn-disabled" href="#" style="margin-bottom: 16px;">Product Flagged</span>
  <% else %>
    <a class="btn btn-danger btn-sm btn-block" style="margin-bottom: 8px;" href="<%= product_flag_path(@product)%>">Flag Product</a>
  <% end %>
</div>