<div class="sheet-body">
  <h1 class="text-center text-success"><strong>Say hello to your new business &hellip;</strong></h1>
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <p class="text-center lead" style="margin-bottom: 36px;"><strong><%= @product.name %></strong> is currently in stealth, and is only visible to you and those you share it with. Use this time to flesh out your vision. Once launched, your product will be featured on the Discover page and the weekly newsletter.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="sheet-body">

  <h2 style="margin-bottom: 36px; font-weight: 300;">&hellip; to your tools &hellip;</h2>

  <div class="row" style="margin-top: 24px; margin-bottom: 24px;">

    <!-- Plan -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-eyeglasses"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Plan</h4>
          <p class="text-muted text-small">
            From elevator pitch to monetization strategies, the Plan should answer questions about your business.
          </p>
        </div>
      </div>
    </div>

    <!-- Chat -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-bubbles"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Chat</h4>
          <p class="text-muted text-small">
            Where the team communicates and can see activity taking place as it happens around the product.
          </p>
        </div>
      </div>
    </div>

    <!-- Journal -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-notebook"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Journal</h4>
          <p class="text-muted text-small">
            Engage with the communtiy, get them excited, and allow them to follow along on your journey of creating <%= @product.name %>.
          </p>
        </div>
      </div>
    </div>

  </div><!-- .row -->

  <div class="row" style="margin-bottom: 24px;">

    <!-- Bounties -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-trophy"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Bounties</h4>
          <p class="text-muted text-small">
            Bounties are pieces of work to be completed. Each bounty has an accumulation of App Coins which are awarded to the contributor that completes it.
          </p>
        </div>
      </div>
    </div>

    <!-- Projects -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-folder"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Projects</h4>
          <p class="text-muted text-small">
            Help focus the community's efforts of building <%= @product.name %>. Break down your vision by grouping bounties into small, digestible projects.
          </p>
        </div>
      </div>
    </div>

    <!-- Discussions -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-success icon icon-book-open"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha text-success">Discussions</h4>
          <p class="text-muted text-small">
            Colloquy
          </p>
        </div>
      </div>
    </div>

  </div><!-- .row -->
</div>

<hr>

<div class="sheet-body">

  <h2 style="font-weight: 300;">&hellip; and the community.</h2>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <textarea class="form-control" rows="4" id="self-introduction" placeholder="Hello world, I am @kernel. I’ve worked for the past 13 years as a programming robot. I have mastered 32 programming languages. As a programming robot, I need help understanding human emotions. I look forward to working with you to take over the world."></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-block">Introduce yourself</button>

    </div>
  </div>


</div>
