<% title 'Governance', @product.name %>
<% activate_nav! :people %>
<% activate_nav! :people_governance %>

<%= render 'people/nav' %>


<div class="sheet-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <%= react_component('Governance', product: ProductGovernanceSerializer.new(@product).as_json) %>
    </div>
  </div>
</div>
