<% nfi = description.news_feed_item %>
<% url = if description.product
     polymorphic_url([description.product, nfi.target], only_path: false)
   else
     polymorphic_url([nfi.target], only_path: false)
   end
%>

<a href="<%= url %>">
  <%= t "models.comment.description.owner", title: nfi.target.title %>
</a>
