<div class="discussion-item discussion-item-event discussion-item-event-edited">

  <div class="timeline-entry-symbol">
    <div class="discussion-item-event-symbol"></div>
  </div>

  <div class="timeline-entry-content">
    <div class="discussion-item-meta">

      {{#actor}}
        <a href="{{url}}">{{username}}</a>
      {{/actor}}
      renamed this from
      <strong>{{{body}}}</strong>

    </div>
  </div>

</div>
