<div class="timeline-item">
  <div class="media">
    <div class="pull-left">
      <div class="marker blue border-blue">
        <span class="icon icon-arrow-right"></span>
      </div>
    </div>

    <div class="media-body">
      <div class="media-heading mb0">
        {{#actor}}
          <a href="{{url}}">{{username}}</a>
        {{/actor}}
        mentioned this in
        {{target_type}}
        <a href="{{target_url}}" title="{{target_title}}">{{target_title}}</a>
      </div>
    </div>
  </div>
</div>
