<div class="discussion-item discussion-item-event discussion-item-event-reference">

  <div class="timeline-entry-symbol">
    <div class="discussion-item-event-symbol"></div>
  </div>

  <div class="timeline-entry-content">
    <div class="discussion-item-meta">

      <!-- FIXME user/repo/hash -->
      {{#actor}}
        <a href="{{url}}">{{username}}</a>
      {{/actor}}

      mentioned this in

      {{target_type}}
      <a href="{{target_url}}" title="{{target_title}}">{{target_title}}</a>

    </div>
  </div>

</div>
