<div class="{{#any_coins?}}text-coins{{/any_coins?}}">
  <a href="{{path}}"
    data-placement="top"
    {{^signed_in?}}
      data-toggle="tooltip"
      title="You need to sign up before you can tip"
    {{/signed_in?}}
    {{^current_user_has_coins?}}
      data-toggle="tooltip"
      title="You have no coins to tip"
    {{/current_user_has_coins?}}
    {{#current_user_owner?}}
      data-toggle="tooltip"
      title="You can't tip yourself"
    {{/current_user_owner?}}
  >
    <i class="icon icon-app-coin"></i>
    {{coins}}
  </a>

  {{#any_coins?}}
    <span class="text-muted">&mdash; tipped by
      <ul class="list-inline-media">
        {{#tips}}
          <li>
            {{#from}}
              <img
                class="img-circle"
                src="{{avatar_url}}"
                alt="@{{username}}"
                data-toggle="tooltip"
                data-placement="top"
                title="@{{username}}"
                width="16" height="16"
              >
            {{/from}}
          </li>
        {{/tips}}
      </ul>
    </span>
  {{/any_coins?}}

</div>
