<div class="{{#any_coins?}}text-coins{{/any_coins?}}">
  <a href="{{path}}"
    data-placement="top"
    {{^signed_in?}}
      data-toggle="tooltip"
      title="You need to sign up before you can tip"
    {{/signed_in?}}
    {{^current_user_has_coins?}}
      data-toggle="tooltip"
      title="You have no coins to tip"
    {{/current_user_has_coins?}}
  >
    <i class="icon icon-app-coin"></i>
    {{coins}}
  </a>

  {{#any_coins?}}
    {{#tips}}
      <span class="text-muted">&mdash; tipped by
        <ul class="list-inline-media">
          <li>
            <a href="{{url}}" data-toggle="tooltip" title="@{{username}}">
              <img class="img-circle" src="http://placekitten.com/g/16/16" alt="@{{username}}" width="16" height="16">
            </a>
          </li>
          <li>
            <a href="{{url}}" data-toggle="tooltip" title="@{{username}}">
              <img class="img-circle" src="http://placekitten.com/g/16/16" alt="@{{username}}" width="16" height="16">
            </a>
          </li>
          <li>
            <a href="{{url}}" data-toggle="tooltip" title="@{{username}}">
              <img class="img-circle" src="http://placekitten.com/g/16/16" alt="@{{username}}" width="16" height="16">
            </a>
          </li>
        </ul>
      </span>
    {{/tips}}
  {{/any_coins?}}

</div>
