<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <div class="sheet" <%if @sheet_style%> style="<%= @sheet_style%>" <%end%>>
          <div class="sheet-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' unless @disable_footer %>

<% parent_layout 'application' %>
