<% title 'Create an account', 'It takes less than a minute' %>

<div class="bg-white" style="top:0;right:0;bottom:0;left:0;margin:auto;position:absolute">
  <div class="container">
    <%= react_component 'SignupForm' %>
  </div>
</div>
