<div id="carousel-welcome-tour" class="carousel carousel-modal slide" data-ride="carousel" data-wrap="false" data-interval="false">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption with-image" id="slide-one">
        <h3>Welcome to Assembly</h3>
        <h4>
          Assembly is a platform for building software <br/>
          products with the help of the community.
        </h4>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption with-image" id="slide-two">
        <h3>From idea to shipping product</h3>
        <h4>
          Discover products that need help being built, or <br/>
          submit your own product idea.
        </h4>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption with-image" id="slide-three">
        <h3>Getting Involved</h3>
        <h4>
          Each product has work that needs completing.<br/>
          It's a community effort, so everyone is<br/>
          encouraged to help out.
        </h4>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption with-image" id="slide-four">
        <h3>Earning your slice</h3>
        <h4>
          The community votes on work to be completed.<br/>
          Contributors earn those votes, which translate<br/>
          into product ownership.
        </h4>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption with-image" id="slide-five">
        <h3>Getting paid</h3>
        <h4>
          At the end of every month Assembly pays any<br/>
          bills, and distributes the profit to those<br/>
          who contributed.
        </h4>
      </div>
    </div>
    <div class="item"></div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-welcome-tour" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  <a class="right carousel-control" href="#carousel-welcome-tour" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<script>
  $('#carousel-welcome-tour').on('slid.bs.carousel', function (e) {
    if($(e.target).find('.item.active').is(":last-child")) {
      window.location = <%= after_welcome_path.to_json.html_safe %>;
    }
  });
</script>
